.calendar-small-root{
    width:100%;
    display: flex;
    flex-direction: column;
}
.calendar-small-header{
    font-size:0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-buffer{
    width:20px;
}
.calendar-small-body{

}