
.tile{
    font-size:0.8em;

    display:flex;
    flex-direction:column;
}

.tile-top-row{
    height: 25px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tile-buttons{
    margin-right:5px;
}
.tile-button{
    margin-right:2px;
    margin-left:2px;
    color:gray;
}
.tile-button:hover{
    color:black;
    cursor:pointer;
}

.blank-tile{
    border: none;
}
.blank-tile:hover{
    border: 1px solid rgba(128, 128, 128, 0.267);
    background-color: #fafafa4b;
}
.large-tile{


}
.large-tile:hover{

}
.small-tile{

}
.small-tile:hover{
    cursor:pointer;
    border: 1px solid black;
}

