<div class="mini-sidebar-root no-select">

    <div class="sidebar sidebar-large" *ngIf="mouseIsOver" [@appear]="'appear'" (mouseleave)="onMouseLeave()">
        <div class="pin-button-container" *ngIf="screenIsLarge">
            <div class="pin-button" (click)="onClickPin()">
                <fa-icon [icon]="faThumbtack"></fa-icon>
            </div>
        </div>

        <div class="babo-title-container" [routerLink]="'/about'">

            <img style="width: 22px; height: 22px; margin-top: 5px;" src="assets/favicon.ico" alt="babo">
            <span class="babo-title">balanceboard</span>
        </div>
        <div style="margin-top: 20px;">

        </div>
        <div *ngFor="let menuItem of menuItems" class="menu-item" [ngStyle]="menuItem.ngStyleMini">

            <div class="menu-item-label" routerLinkActive='active-link-icon' [routerLink]="menuItem.routerLink"
                *ngIf="menuItem.hasRouterLink">
                <div class="menu-item-icon">
                    <fa-icon [icon]="menuItem.icon"></fa-icon>
                </div>
                <div style="width: 100px; margin-left: 10px;">
                    {{ menuItem.title }}
                </div>
            </div>

            <div class="menu-item-label" *ngIf="!menuItem.hasRouterLink" (click)="onClickMenuItem(menuItem)">
                <div class="menu-item-icon">
                    <fa-icon [icon]="menuItem.icon"></fa-icon>
                </div>
                <div style="width: 100px; margin-left: 10px;">
                    {{ menuItem.title }}
                </div>
            </div>

            <app-new-item-circle-button [diameter]="35" [icon]="menuItem.sidebarToolIcon"
                (click)="onClickMenuItemTool(menuItem)" *ngIf="menuItem.hasSidebarToolComponent">
            </app-new-item-circle-button>
        </div>
    </div>


    <div class="sidebar sidebar-minimized" *ngIf="!mouseIsOver" (mouseenter)="onMouseEnter()">
        <div *ngFor="let menuItem of menuItems" class="menu-item" style="justify-content: center;" [ngStyle]="menuItem.ngStyleMini">

            <div class="menu-item-icon" routerLinkActive='active-link-icon' [routerLink]="menuItem.routerLink"
                *ngIf="menuItem.hasRouterLink">
                <fa-icon [icon]="menuItem.icon"></fa-icon>
            </div>


            <div class="menu-item-icon" *ngIf="!menuItem.hasRouterLink">
                <fa-icon [icon]="menuItem.icon"></fa-icon>
            </div>

        </div>

    </div>

</div>