<div class="routine-component-root">
    <div class="routine-name">
        <fa-icon [icon]="faSyncAlt" style="color:rgb(0, 132, 255);margin-right:4px;"></fa-icon>{{ routine.name }}
    </div>
    <div style="display:flex;flex-direction: column;padding-left:20px;">
        <div style="font-size:0.8em;color:gray;">Activities in this routine</div>
        <div *ngFor="let activity of activities" style="padding-left:25px;">
            {{ activity.name }}
        </div>
    </div>


    <!-- frequency: RoutineDefinitionFrequency,
    timeOfDay: TimeOfDay,
    timeOfDayRanges: TimeRange[],
    activityIds: string[],
    childOfRoutineId: string, -->
</div>