.items-bar-root{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 5px;
}

.items{
    display:flex;
    flex-direction: column;
}
.item-section{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.no-click{
    cursor: not-allowed;
}
.item{
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    margin-left: 2px;
    margin-right: 2px;
}

.item:hover{
    cursor: pointer;
    border: 1px solid rgb(0, 89, 255);
}
.no-click:hover > .item{
    cursor: not-allowed;
}

.current-item{
    border: 1px solid rgba(255, 0, 0, 0.50);
}


.sleep-item{
    background-color: rgb(146, 146, 255);
    border: 1px solid rgb(146, 146, 255);
}
.currently-open-item{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(79,77,158,0.57);
    -moz-box-shadow: 0px 0px 5px 0px rgba(79,77,158,0.57);
    box-shadow: 0px 0px 5px 0px rgba(79,77,158,0.57);
    border: 1px solid rgb(0, 89, 255);
}

.is-drawing{
    border: 1px solid rgb(114, 114, 114);
}

.icon-button{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 10px;
    height: 10px;
    color: rgb(235, 235, 235);
}

.go-left{
    margin-right: 15px;
}
.go-right{
    margin-left: 15px;
}

.items-bar-root:hover > .icon-button{
    color: gray;
}