<div class="items-bar-root">

    <div class="go-left icon-button" (click)="onClickGoLeft()">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </div>

    <div class="items">
        <div *ngFor="let item of items" class="item" [style.background-color]="item.backgroundColor"
            [ngClass]="{'sleep-item': item.isSleepItem, 'currently-open-item': item.isCurrentlyOpen, 'current-item': item.isCurrent, 'is-drawing': item.isDrawing }"
            (mouseenter)="item.onMouseEnter()" (mouseleave)="item.onMouseLeave()" (click)="onClickItem(item)">
        </div>
    </div>


    <div class="go-right icon-button" (click)="onClickGoRight()">
        <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>

</div>