.day-structure-mode-root{
    border:2px solid green;
    height:100%;
    display: flex;
    flex-direction: column;
}
.day-structure-chart-container{
    padding:5px;
    border: 1px solid orange;
    flex-grow: 2;
    min-height:500px;
    max-width:400px;
    display:flex;
    flex-direction: column;
}
.buffer-bottom{
    height:8px;
}
.day-structure-chart{
    min-height: 500px;
    flex-grow: 2;
    background-color:white;
    padding:5px;

    display:flex;
    flex-direction: row;
}

.new-chart-line-area{
    width: 60px;
    height:100%;
    display:flex;
    flex-direction: column;
    cursor: move;
}
.move-chart-line-area{
    flex-grow: 2;
    height: 100%;
    display:flex;
    flex-direction: column;
}






.chart-label-line-area{
    grid-row: 2 / span 24;
    grid-column: 3 / span 1;
}

.chart-label-line-container{

    grid-row: 2 / span 24;
    grid-column: 1 / -1;

    /* display:flex;
    flex-direction: column; */

}
.chart-label-line{
    height:16px;
    display:flex;
    flex-direction: row;
    margin-top: -8px;
}

.chart-body-label-area{
    padding-left: 60px;
    margin-top: -8px;
    display:flex;
    flex-direction: row;
    /* align-items: center; */
}
.chart-body-label{
    font-size: 0.8em;
    padding:5px;
}
.chart-label{
    font-size: 0.7em;
    flex-shrink: 2;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
}
.chart-time-label{
    font-size: 0.7em;
    width:50px;
    background-color: white;
    border: 1px solid rgb(199, 199, 199);
    border-radius:5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.chart-line-buffer{
    width:10px;
    height:100%;
    display:flex;
    flex-direction: column;
}
.chart-line{
    flex-grow: 2;
    height:100%;
    display:flex;
    flex-direction: column;
    z-index: 10;
}
.chart-line-can-drag{
    cursor: row-resize;
    
}
.chart-line-border-bottom{
    height:8px;
    border-bottom: 1px solid gray;

}

.chart-time-column{
    grid-row: 2 / span 24;
    grid-column: 1 / span 3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(144, 1fr);
}

.time-column-row{
    width:100%;
    height:100%;
    z-index:1;
}
.time-column-row-time-label{
    width:60px;
    height:100%;
    cursor: move;
}

.currently-dragging{
    cursor: grabbing;
}