<div class="form-root" [style.background-color]="colorPickerValue">


  <div [formGroup]="activityForm" class="form-grid">
    <h5>Create New Activity</h5>
    <hr>

    <label class="form-label" for="formGroupExampleInput">Name</label>
    <input class="form-input" type="text" formControlName="name">

    <label class="form-label" for="formGroupExampleInput">Description</label>
    <input class="form-input" type="text" formControlName="description">

    <label class="form-label" for="formGroupExampleInput">Parent Category</label>
    <div style="grid-column: 2 / span 1; " (mouseenter)="onMouseEnterParentCategoriesArea()" (mouseleave)="onMouseLeaveParentCategoriesArea()">
      
      <!-- 
        TO DO:
        Need to add a button here for " this activity will be a root activity " (therefore it wouldn't have a parent.)

        parentTreeId: string = "TOP_LEVEL";
       -->
      <div class="form-input-parent-category" (click)="onClickParentCategory()">
        {{ selectedParentCategoryName }}
      </div>
      <div *ngIf="ifShowParentCategories" class="parent-categories-popup">
        <div *ngFor="let category of formParentCategories"  >
          <div class="parent-category-choice" (click)="onClickSelectedCategory(category)">
              {{ category.name }}
          </div>
          <div *ngFor="let child of category.children"> 
            <app-activity-list-item [activity]="child" (categoryClicked)="onClickSelectedCategory($event)"></app-activity-list-item>
          </div>
          
        </div>
      </div>
    </div>


    <label class="form-label" for="formGroupExampleInput">Color</label>
    <div class="form-input color-picker-input" [(colorPicker)]="colorPickerValue" [cpPosition]="'bottom'">
      {{ colorPickerValue }}
    </div>

  </div>
  <div style="display:flex;flex-direction: row; justify-content: flex-end;">
    <button class="btn btn-success m-1" (click)="onClickSaveActivity(saveAction)">Save Activity</button>
    <button class="btn btn-warning m-1" (click)="onClickCancel()">Cancel</button>
  </div>
</div>