<div class="treemap-item-root" style="border: 1px solid red; margin: 5px; margin-left: 10px; padding: 5px;">
    <div *ngIf="hasSoloItem" style="color: rgb(31, 31, 146);">
        {{ soloItem.activity.name }}
        <span style="color: black; font-weight: bold;">branch percent of parent: {{ soloItem.branchPercentOfParent.toFixed(1) }} % </span>
        <span style="color: red; font-weight: bold;">item percent of branch {{ soloItem.itemPercentOfBranch.toFixed(1) }} % </span>
    </div>
    <div *ngIf="!hasSoloItem">
        <div *ngIf="childItems.length > 0">
            <div *ngFor="let item of childItems">
                <app-activity-summary-treemap-item [gridItem]="item"></app-activity-summary-treemap-item>
            </div>
        </div>
        <div *ngIf="childItems.length === 0" style="color: orange;">
            No child items.
        </div>
    </div>
</div>