<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <form [formGroup]="healthProfileForm">

      </form>
    </div>
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item">Diagnoses</li>
        <li class="list-group-item">Medications</li>
        <li class="list-group-item">Allergies</li>
        <li class="list-group-item">Family History</li>
        <li class="list-group-item">Blood Type</li>
      </ul>
    </div>
  </div>
</div>