<div class="home-root">
    <div style="font-size:3em; color: green;">
        <fa-icon [icon]="faHome"></fa-icon>
    </div>
    <div style="max-width: 360px; padding:10px;">
        The home page does not do anything right now.  Eventually what it will do is be a dashboard type of page where it provides summary information on whichever widgets and things that you want to see.
        Example:  a chart of your weight over time.  A chart of your net worth / income over time.
        A widget that counts your hot streaks (e.g. "youve doing reading for 20 minutes per day for 8 days in a row!")
        Stuff like this.

        Perhaps a morning briefing of some kind, something to refresh you and prepare you for the day ahead.

        Not totally sure yet exactly how it will be.
        

    </div>
</div>