

.small-section{
    width:100%;
    display:flex;
    flex-direction: column;

    font-size:0.8em;
}
.small-section-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:20px;
}
.expanded-section{
    width:100%;
    display:flex;
    flex-direction: column;

    font-size: 0.9em;
}

.section-complete-routine-item{
    color:rgb(0, 132, 255);

}
.section-incomplete-routine-item{
    color:rgb(196, 226, 255);
}
.text{
    size: 0.8em;
}
.underline-text{
    text-decoration: underline green;
}
.section-complete-text{
    color: gray;
}
.section-incomplete-text{
    color: rgb(196, 196, 196);
}

.scheduled-routine-items-small{
    display:flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    font-size:0.5em;
    margin-left:5px;
    justify-content: flex-start;
}
.scheduled-routine-item-small{
    margin-left: 2px;
    flex-shrink: 2;
}
.scheduled-routine-item-small-complete{
    color: green;
}
.scheduled-routine-item-small-incomplete{
    color: rgb(196, 196, 196);
}


.routine-header{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.completion-checkmark{
    color: green;
}
.scheduled-routine-items{
    display:flex;
    flex-direction: column;
    padding-left:10px;
}


.scheduled-routine-item{
    display:flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
.scheduled-routine-item-circle{
    margin-right: 3px;
    font-size:  0.9em;
    cursor: pointer;
}
.scheduled-routine-item-circle:hover{
    color: green;
    cursor: pointer;
}
.scheduled-routine-item-circle-complete{
    color: green;
}
.scheduled-routine-item-circle-incomplete{
    color: rgb(196, 196, 196);
}