<div style="display:flex;flex-direction: column;width:100%">
    <div>Points</div> 
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>Earn points when you do good things</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>Lose points when you do bad things</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>What's good? what's bad?  That's up to you</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>Points are a metric which can be used to measure your behavior.  Good behavior yields more points, bad behavior yields fewer points</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>The game is one where every day, you are trying to do a little bit better than your average.</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>Or, in stead of each day, you could set the target over a period of a week or whatever</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>A day (or week) is considered a victory if you can achieve your target number of points.</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>It shall be designed in such a way where the target is achievable, but required some effort.  Over time, to achieve high results requires more effort, but it becomes easier becuase you're doing these good behaviors habitually.</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>Of course these points are imaginary.  Unless you choose to believe in them.  Why should anyone believe in such a concept?  Because it actually yields desired results.</div>
    <div><fa-icon [icon]="faCheck" class="check"></fa-icon>If something can demonstrably yield intended positive results, then by virtue of the demonstration, it has proven its worth, its worthwhileness, and also a reason to believe in it. </div>
    <div></div>

</div>