 .daybook-entry-form-root{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.close-form-button{
    width:100%;
    display:flex;
    flex-direction: row-reverse; 
    padding:0px; 
    margin:0px;
}
.weekday-buttons{
    width:100%;
    padding:5px;
    padding-top:0px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.weekday-button{
    width:25px;
    height:25px;
    border: 1px solid white;
    color: rgb(192, 192, 192);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.weekday-button-current{
    border: 1px solid rgba(0, 89, 255, 0.5);
    color: rgb(0, 89, 255);
}
.weekday-button-active{
    background-color: rgba(0, 89, 255, 0.5);
    color: white;
}
.weekday-button:hover{
    background-color: rgb(0, 89, 255);
    border:1px solid rgb(0, 89, 255);
    color: white;
    cursor: pointer;
}
.form-body{
    padding:10px;
    /* padding-top:0px; */
    border-radius:10px;
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
}
.form-controls{
    padding:5px;
    flex-shrink: 2;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    background-color: hsl(210, 9%, 96%);
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
}

.message-section{
    width:100%;
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
}
.message-buffer{
    width:25px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}
.message-body{
    flex-grow:2; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section{
    display:flex;
    flex-direction: column;
    width:100%;
}


.prominent-data{
    font-weight: bold; 
    font-size:1.2em;
    color:rgb(0, 89, 255);
}
.small-button{
    font-size:0.7em;
}


.daybook-badge-items-container{
    width:100%;
    display:flex;
    flex-direction: row-reverse;
}
.daybook-badge-items{
    flex-shrink: 2;
    display:flex;
    flex-direction: row;
}
.daybook-badge-item{
    padding-left:15px;
    font-size:0.8em;
    color:gray;
}

