.task-group-root{
    border:1px solid rgb(241, 241, 241);
    border-radius: 2px;
    margin-left:25px;
    padding:10px;
}
.header{
    font-size:1.0em;
    font-weight: bold;
}

.tasks{


}
.subgroups{

}