<div class="card mt-3">
  <div class="card-header">Body Weight</div>
  <div *ngIf="!healthProfiles" class="card-body">
    No health profile has been created.
    <button class="btn btn-sm btn-primary" (click)="onClickCreateHealthProfile()">Create Health Profile</button>
  </div>
  <div *ngIf="healthProfiles" class="card-body">
    <table class="table table-sm">
      <tr><td>Date</td><td>Weight (kg)</td></tr>
      <tr *ngFor="let tableRow of tableData" >
        <td>{{ tableRow.date }}</td>
        <td>{{ tableRow.weightInKg.toFixed(1) }}</td>
      </tr>
    </table>
  </div>
</div>