<div class="card mt-3">
  <div class="card-header">Body Weight</div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam dicta, autem exercitationem minima perspiciatis consequuntur, at voluptatum eum magnam veritatis quasi quibusdam atque suscipit veniam distinctio amet optio assumenda quis. Voluptatem aliquam, alias velit similique quis repudiandae tempora deleniti beatae ad iure, ut dignissimos quasi non quod. Necessitatibus, nostrum enim nihil soluta dolores officia vero odit dolorem sunt iure quibusdam repudiandae consequuntur. Beatae, reprehenderit? Nostrum eum quas deserunt. Velit tempora similique sit dolores odit vitae quibusdam! Mollitia nostrum dolore aut rerum illo. Est odit inventore, quos explicabo atque cum. Iure aperiam commodi ad iste quibusdam. Natus, assumenda ut. Molestias, nulla?</p>
  </div>
</div>