<div class="root">
  <div class="activity-display">
    <div class="activity-header">
      <div class="header-edit-button"></div>
      <h3>{{ activity.name }}</h3>
      <div class="header-edit-button" (click)="onClickEdit()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </div>
    </div>
    <div class="activity-body">
      <div *ngIf="ifLoading">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </div>

      <div *ngIf="!ifLoading">
        <div *ngIf="action == 'view'">

          <div class="activity-body-component">
            <app-activity-chart [activity]="activity"></app-activity-chart>
          </div>

          <div class="activity-body-component">
            <app-activity-six-week-view [activityInstances]="activityInstances" [activity]="activity"></app-activity-six-week-view>
          </div>

          <div class="activity-body-component">
            <app-activity-planning [activityInstances]="activityInstances" [activity]="activity"></app-activity-planning>
          </div>

          <div class="activity-body-component">
              <app-activity-journal [activityTimelogEntrys]="activityTimelogEntrys" [activity]="activity"></app-activity-journal>
          </div>

          <!-- <div class="activity-body-component">
              <app-instances-list [activityInstances]="activityInstances" [activity]="activity"></app-instances-list>
          </div> -->

        </div>
      </div>

      <div *ngIf="action == 'edit'">
        <app-user-defined-activity-form [activity]="activity" (formClosed)="onFormClosed($event)">
        </app-user-defined-activity-form>
      </div>


    </div>

    <div class="action-buttons">
      <button class="btn btn-sm btn-secondary" (click)="onClickCloseActivity()">Close</button>
    </div>
  </div>

</div>




<!-- <div class="year-view">
      <app-activity-year-view></app-activity-year-view>
    </div> -->