<div class="activity-root">
  <div class="header-container" (mouseenter)="onMouseEnterHeader()" (mouseleave)="onMouseLeaveHeader()">
    <div class="header no-select" 
      (click)="onClickHeader();">

      <div class="color-square" [style.background-color]="activity.color">
      </div>
      <div>
        {{ activity.name }}

      </div>
      <div *ngIf="activity.children.length > 0" style="font-size:0.8em;margin-left:5px;">
        ({{ activity.children.length }} children)
      </div>

    </div>

    <div class="controls" *ngIf="mouseOverHeader">
      <fa-icon [icon]="faEdit" class="icon-button" (click)="onClickEditActivity()"></fa-icon>
      <fa-icon [icon]="faTimes" class="icon-button" (click)="onClickDeleteActivity()"></fa-icon>
    </div>

  </div>

  <!-- <div class="expanded-activity" >

  </div> -->
  <div *ngIf="expanded">
    <div *ngFor="let childActivity of activity.children" class="child-activity">
      <app-activity [activity]="childActivity"></app-activity>
    </div>
  </div>
</div>