

.expanded-section{
    width:100%;
    display:flex;
    flex-direction: column;
}
.small-section{
    display:flex;
    flex-direction: column;
}
.small-section-item{
    display:flex;
    flex-direction: row;
    font-size:0.8em;
    color:gray;
}


.input-row{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:30px;
}

.time-input{
    margin-left:5px;
    margin-right:5px;
    border-radius:3px;
    color:black;
    border: 1px solid grey;
}