<div class="timelog-root">
    <div class="timelog-header">
        <div class="header-item" (click)="onClickHeaderItem('GO_LEFT')">
            <fa-icon [icon]="faAngleLeft"></fa-icon>
        </div>
        <div class="header-item" (click)="onClickHeaderItem('SUNDAY')">S</div>
        <div class="header-item" (click)="onClickHeaderItem('MONDAY')">M</div>
        <div class="header-item" (click)="onClickHeaderItem('TUESDAY')">T</div>
        <div class="header-item" (click)="onClickHeaderItem('WEDNESDAY')">W</div>
        <div class="header-item" (click)="onClickHeaderItem('THURSDAY')">T</div>
        <div class="header-item" (click)="onClickHeaderItem('FRIDAY')">F</div>
        <div class="header-item" (click)="onClickHeaderItem('SATURDAY')">S</div>
        <div class="header-item" (click)="onClickHeaderItem('GO_RIGHT')">
            <fa-icon [icon]="faAngleRight"></fa-icon>
        </div>
    </div>

    <app-timelog-zoom-controller class="zoom-controller"></app-timelog-zoom-controller>

    <div class="display-flex-column" *ngIf="showTimelogBody">
        <app-timelog-body class="display-flex-column"></app-timelog-body>
    </div>
    <div class="display-flex-column" *ngIf="showTimelogList">
        <app-timelog-entry-list class="display-flex-column"></app-timelog-entry-list>
    </div>

</div>