.todo-root{





    width: 360px;



    display:flex;
    flex-direction: column;
}

.todo-body{
    padding:5px;
    display:flex;
    flex-direction:column;
    width:100%;
}


.body-row{
    width:100%;
    /* border-bottom: 1px solid rgb(238, 238, 238); */
    /* margin-bottom:4px; */
}
.body-row-small{
    font-size:0.85em;
}
.body-row-border-bottom{
    border-bottom: 1px solid rgb(238, 238, 238); 
    margin-bottom:10px;
    padding-bottom:10px;
}
.task-title{
    width:100%;
    border:none;
}
.task-details{
    width:100%;
    
    border:none;
    resize: none;
}
.task-buttons{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:5px;

    border-top: 1px solid rgb(196, 196, 196);
}    