<div class="tlef-times-root" (click)="onClickEditTimes()" *ngIf="!isEditing">
    <div class="times-container">
        <span class="from-to">from</span><span class="entry-time" style="margin-right: 15px;">{{ entryStartTime }}</span> 
        <span class="from-to">to</span><span class="entry-time">{{ entryEndTime  }}</span>
    
    </div>
    
    <div class="duration-string">
        {{ durationString }}
    </div>
</div>


<div *ngIf="isEditing" class="tlef-times-root-editing">
    <div class="time-input-container">
        <div style="width: 30px; color:rgb(70, 70, 70);">from</div>
         <app-time-input [timeInput]="startTimeInput" class="time-input"></app-time-input>
        <div style="width: 30px;"></div>
    </div>
    <div class="time-input-container">
        <div style="width: 30px; color:rgb(70, 70, 70);">to</div>
        <app-time-input [timeInput]="endTimeInput"></app-time-input>
        <div style="width: 30px;"></div>
    </div>
</div>
