<div class="sleep-data-root">


    <div *ngIf="isNearBedtime" class="content">
        <app-clock style="margin-bottom:15px;"></app-clock>
        <div style="font-size: 1.3em;margin-bottom: 15px;">It's nearly bedtime.</div>
        
        
        <div class="bed-time" (click)="onClickOpenBedTime()" *ngIf="!isModifyingBedtime">
            Bed time: {{ nextFallAsleepTime.format('h:mm a') }}
        </div>
        <div *ngIf="isModifyingBedtime" class="modifying-bedtime">
            <app-time-input [timeInput]="nextFallAsleepTimeInput"></app-time-input>
            <div style="display:flex;flex-direction: row;">
                <button class="small-button save-button" (click)="onClickSaveBedtime()">Save</button>
                <button class="small-button discard-button" (click)="onClickCloseBedtime()">Cancel</button>
            </div>
        </div>
        
        <button (click)="onClickContinue()" class="medium-button save-button" *ngIf="!isSaving">Okay!</button>
        <button class="medium-button save-button" *ngIf="isSaving" disabled>Saving...</button>
    </div>

    <div *ngIf="isAfterBedtime" class="content">
        It's after bedtime.
    </div>

    <div *ngIf="isSleepTime" class="content">
        Sleep time.
        <fa-icon [icon]="faCloudMoon" style="color: rgb(0, 27, 78); font-size: 2.0em;"></fa-icon>
    </div>

    <div *ngIf="isEarlyWakeup" class="content">
        Early wakeup!
    </div>

    <app-sleep-data-form *ngIf="newDataRequired" class="content"></app-sleep-data-form>




</div>