<!-- <div class="sidebar-content" [ngClass]="{'sidebar-content-night-mode':nightMode.booleanValue }"> -->
<div class="sidebar-content">

  <div class="sidebar-header">
    <h3 class="mb-5">balanceboard </h3>
    <div style="margin-bottom: 10px;">
      <span style='color:dodgerblue; font-size: 1.1em; font-weight: 500;'>{{ username }}</span><br>
      <span style="color: gray;font-size: 0.8em;">{{ userId }}</span>
    </div>


  </div>


  <div *ngFor="let menuItem of menuItems" class="sidebar-button no-select"  (mouseenter)="onMouseEnterSidebarNewItemButton(menuItem)" (mouseleave)="onMouseLeaveSidebarNewItemButton(menuItem)">
    <div class="sidebar-button-router-link" [routerLinkActive]='routerLinkActiveClass'
      [routerLink]="menuItem.routerLink">
      <div style="width:30px;margin-right:3px;">
        <fa-icon [icon]="menuItem.icon"></fa-icon>
      </div>
      <div>
        {{ menuItem.title }}
      </div>
    </div>
    <div *ngIf="menuItem.sidebarToolComponent" class="sidebar-new-item-button-container" >
      <div class="sidebar-new-item-button" [ngClass]="{'sidebar-new-item-button-mouse-over': menuItem.sidebarToolComponentMouseOver}" (click)="onClickMenuItem(menuItem)">
        <fa-icon [icon]="faPlus" class="new-item-button"></fa-icon>
      </div>
    </div>
  </div>

  <div class="sidebar-button no-select" (click)="onClickLogout()">
    <div class="sidebar-button-router-link">
      <div style="width:30px;margin-right:3px;">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
      </div>
      <div>
        Logout
      </div>
    </div>
  </div>


</div>