<!-- <div class="sidebar-content" [ngClass]="{'sidebar-content-night-mode':nightMode.booleanValue }"> -->
<div class="sidebar-content">

  <div class="sidebar-header">
    <h3 class="mb-5">balanceboard </h3>
    <div style="font-size:0.85em;height:62px;">
      Logged in as <span style='color:dodgerblue'>{{ email }}</span><br>
      {{ userId }}
    </div>


  </div>


  <!-- <div *ngFor="let menuItem of menuItems" class="sidebar-button" [routerLink]="menuItem.routerLink"
    [routerLinkActive]='routerLinkActiveClass' [ngClass]="{'sidebar-button-night-mode':nightMode.booleanValue }"> -->
  <div *ngFor="let menuItem of menuItems" class="sidebar-button" [routerLink]="menuItem.routerLink"
    [routerLinkActive]='routerLinkActiveClass'>
    <div style="width:30px;margin-right:3px;">
      <fa-icon [icon]="menuItem.icon"></fa-icon>
    </div>
    {{ menuItem.title }}
  </div>


  <!-- <div class="sidebar-button mt-5">
    <div style="width:30px;margin-right:3px;">
      <fa-icon [icon]="faCogs"></fa-icon>
    </div>
    Settings
  </div> -->

  <!-- <div class="sidebar-button" (click)="onClickLogout()" [ngClass]="{'sidebar-button-night-mode':nightMode.booleanValue }"> -->
  <div class="sidebar-button" (click)="onClickLogout()">
    <div style="width:30px;margin-right:3px;">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </div>
    Logout
  </div>

</div>