

.sidebar-content{
    width: 250px;
    height: 100vh;

    position: fixed;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #fcfcfc;
    /* box-shadow: 1px 0px 3px rgb(110, 110, 110); */
    padding-right: 10px;
}

.sidebar-content-night-mode{
    /* background-color: rgb(30, 30, 30); */
    background-color:black;
    border-right: 1px solid #0a0a0a;
    color: white;
}

.sidebar-header{
    padding:20px;
}


.sidebar-button{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9em;
    color: #3d3d3d;
    padding-left:20px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin:0px;
    min-height: 40px;
    height:40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
}
.sidebar-button:focus{
    outline:0;
    /* border: 1px solid #ddeaff; */
    /* todo: need to add some style here for accessibility */ 
}
.sidebar-button:hover{
    cursor:pointer;
    background: #f4f4f4;
}

.sidebar-button-night-mode{
    color: #d4d4d4;
    background: black;
}
.sidebar-button-night-mode:hover{
    background: rgb(20, 41, 158);
}


.active-link{
    background: #ddeaff;
}
.active-link:hover{
    background: #ddeaff;
}

.active-link-night-mode{
    background: rgb(15, 30, 117);
}
.active-link-night-mode:hover{
    background: rgb(20, 41, 158);
}

.fa{
    width:25px;
}

.incomplete-sidebar-button{
    color: red;
}