<div *ngIf="!formSection.isExpanded" class="small-section">
    <div class="small-section-item" *ngFor="let routineItem of scheduledRoutineItems">
        <fa-icon [icon]="faSyncAlt" style="margin-right:5px; font-size: 0.7em;"
            [ngClass]="{'section-complete-routine-item': routineItem.isComplete, 'section-incomplete-routine-item': !routineItem.isComplete}">
        </fa-icon> <span
            [ngClass]="{'section-complete-text': routineItem.isComplete, 'section-incomplete-text': !routineItem.isComplete}"
            class="text">{{ routineItem.name }}</span>
        <div class="scheduled-routine-items-small">
            <div *ngFor="let scheduledRoutineMemberItem of routineItem.routineMemberActivities">
                <fa-icon [icon]="faCircle" class="scheduled-routine-item-small scheduled-routine-item-small-incomplete"
                    *ngIf="!scheduledRoutineMemberItem.isComplete">
                </fa-icon>
                <fa-icon [icon]="faCircleSolid"
                    class="scheduled-routine-item-small scheduled-routine-item-small-complete"
                    *ngIf="scheduledRoutineMemberItem.isComplete">
                </fa-icon>
            </div>

        </div>

    </div>
    <div class="small-section-item" *ngIf="formSection.isAfterCurrentTimeSection && scheduledActivities.length == 0">
        No scheduled activities.
    </div>
    <div class="small-section-item"
        *ngIf="(formSection.isCurrentTimeSection || formSection.isBeforeCurrentTimeSection) && scheduledActivities.length == 0">
        no activities bro
    </div>
    <div class="small-section-item" *ngIf="formSection.mouseIsOver && !formSection.isAddingNewItem">
        <button class="small-button" style="display:flex;flex-direction: row;" (click)="formSection.onClickAddItem()">
            <fa-icon [icon]="faPlusCircle" style="margin-right:3px;"></fa-icon>
            <div>Add item</div>
        </button>
    </div>
    <div class="small-section-item" *ngIf="formSection.mouseIsOver && formSection.isAddingNewItem">
        <app-data-entry-item-input style="width:100%;" (close)="onCloseDataEntryItemInput($event)"></app-data-entry-item-input>
    </div>
    <div class="small-section-item" *ngIf="!formSection.mouseIsOver"></div>
</div>

<div *ngIf="formSection.isExpanded" class="expanded-section">
    <div class="expanded-section-item" *ngFor="let routineItem of scheduledRoutineItems">
        <div class="routine-header">
            <fa-icon [icon]="faSyncAlt" style="margin-right:5px; font-size: 0.7em;"
                [ngClass]="{'section-complete-routine-item': routineItem.isComplete, 'section-incomplete-routine-item': !routineItem.isComplete}">
            </fa-icon>
            <div>
                {{ routineItem.name }}
            </div>
            <div style="margin-left:5px;">
                <fa-icon class="completion-checkmark" *ngIf="routineItem.isComplete" [icon]="faCheck">
                </fa-icon>
            </div>
        </div>
        <div class="scheduled-routine-items">
            <div *ngFor="let scheduledRoutineMemberItem of routineItem.routineMemberActivities"
                class="scheduled-routine-item" (mouseenter)="scheduledRoutineMemberItem.onMouseEnter()"
                (mouseleave)="scheduledRoutineMemberItem.onMouseLeave()"
                (click)="scheduledRoutineMemberItem.onClickCircle()">


                <fa-icon [icon]="faCircle"
                    class="scheduled-routine-item-circle scheduled-routine-item-circle-incomplete"
                    *ngIf="!scheduledRoutineMemberItem.markedComplete">
                </fa-icon>
                <fa-icon [icon]="faCircleSolid"
                    class="scheduled-routine-item-circle scheduled-routine-item-circle-complete"
                    *ngIf="scheduledRoutineMemberItem.markedComplete">
                </fa-icon>
                <div [ngClass]="{'underline-text': scheduledRoutineMemberItem.mouseIsOver }">
                    {{ scheduledRoutineMemberItem.name }}
                </div>
            </div>
        </div>


    </div>
    <div style="display:flex;flex-direction: row-reverse;">
        <button class="small-button active-button" (click)="formSection.onClickSave()">Save</button>
    </div>
</div>