
.root{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    max-height: 100vh;
}
.activities-header{
    margin-top:20px;
}
.activities-form{

}
.activities{
    /* grid-template-rows: 1 / span 1;
    grid-template-columns: 1 / span 1; */

    overflow-y: auto;
    height:100vh;
}
.activity-list-item{
    padding: 3px;

    margin: 2px;
    margin-left: 12px;
    border-radius:3px;
    /* border: 1px solid rgb(223, 223, 223); */
}


.other{
    background-color: green;
    grid-template-rows: 1 / span 1;
    grid-template-columns: 2 / span 1;
}

@media(min-width: 900px){
    .activities-root{
        width:600px;
        margin-left: auto;
        margin-right: auto;
    }
}