<div class="activities-root" *ngIf="!isLoading">
  <div class="time-view-container">
    <!-- <app-time-views [configuration]="timeViewConfiguration"></app-time-views> -->
  </div>
  <div class="activities-body">
    <div class="column-left">
      <div class="item-list">
        <app-activities-list (activityOpened)="onActivityOpened($event)"></app-activities-list>
      </div>

      <!-- <div class="item-list">
        <div class="item-list-header"> Routines </div>
        <app-routine *ngFor="let routine of activityRoutines" class="list-item" [routine]="routine"></app-routine>
        <button class="small-button " (click)="onClickNewRoutine()">New Routine</button>
      </div> -->
    </div>
    <div class="column-right">
      <app-activity-display-item class="activity-display-item" *ngIf="openActivity"></app-activity-display-item>
    </div>
  </div>
  <!-- <div class="scheduled-items">
    <div>
      <fa-icon [icon]="faCalendarAlt" style="font-size:2.0em; color: gray;"></fa-icon> Scheduled Items
    </div>
    <div *ngFor="let scheduledItem of scheduledItems" class="scheduled-item">
      <app-activity-schedule-configuration [activity]="scheduledItem"></app-activity-schedule-configuration>
    </div>
  </div> -->

</div>

<div style="display:flex;flex-direction: column;width: 100%; height: 100%; justify-content: center; align-items: center;" *ngIf="isLoading">
  <div style="color: gray;">
    Loading activity data...
  </div>
  <div style="width: 200px; height: 200px;">
    <app-spinner style="width: 180px; height: 180px;"></app-spinner>
  </div>
</div>