
.root{
    display:flex;
    flex-direction: column;

    width:100%;
    /* height:100vh; */
}
.activities-header{
    width:100%;

    border-bottom: 1px solid rgb(151, 151, 151);
    font-size:1.3em;
}

/* 


.activities-form{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}


.activity-display{
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
} */







