<div class="activities-root">
  <div class="activities-header">Activities</div>
  <div class="time-view-container">
    <app-time-views [configuration]="timeViewConfiguration"></app-time-views>
  </div>
  <div class="activities-list">
    <div>
      <span style="font-size:1.2em; font-weight:bold;">Activities List</span> <button class="small-button"
        style="margin-left:15px;" (click)="onClickNewActivity()">New Activity</button>
    </div>

    <div *ngFor="let rootActivity of rootActivities">
      <app-activity [activity]="rootActivity"></app-activity>
    </div>

  </div>

  <div class="activities-list">
    <div>
      <span style="font-size:1.2em; font-weight:bold;">Routines</span> 
      <button class="small-button"
        style="margin-left:15px;" (click)="onClickNewRoutine()">New Routine</button>
    </div>

    <div *ngFor="let routine of routines">
      <app-routine [routine]="routine"></app-routine>

    </div>
  </div>
</div>