<div class="new-day-form-root">
    <div class="form-header">
        <div style="flex-grow: 2; display: flex;flex-direction: row;">
            <div style="font-size:1.2em;font-weight: bold;">
                {{ newDate }}
            </div>
            <div style="font-size:0.8em; color: gray; margin-left: 15px;">
                {{ dayOfTheYear }}
            </div>
        </div>
        
        <div>
            <fa-icon [icon]="faCog" class="icon-button" style="font-size: 0.8em;"></fa-icon>
        </div>
    </div>

    <div>
        <app-tlef-wakeup-time></app-tlef-wakeup-time>
    </div>

    <div class="form-footer">
        <button class="medium-button save-button" (click)="onClickSave()">Save</button>
        <!-- <button class="medium-button discard-button" (click)="onClickDiscard()">Discard</button> -->
    </div>
</div>