<div class="row-root" [ngStyle]="row.gridNgStyle"
    [ngClass]="{'row-is-available': row.isAvailable, 'row-is-drawing':row.isDrawing , 'row-is-active-section':row.isActiveSection}">

    <div class="delineator-container" *ngIf="row.hasMarkedDelineator && !row.isEditing" (click)="onClickDelineator(row)"
        [ngStyle]="row.delineatorNgStyle">
        <div class="timelog-delineator not-drawing-delineator" *ngIf="row.existingNotDrawing"
            [ngClass]="row.delineatorNgClass">
            <div style="margin-right: 5px; " *ngIf="row.icon">
                <fa-icon [icon]="row.icon"></fa-icon>
            </div>{{ row.markedTime }}
        </div>
        <div class="timelog-delineator drawing-delineator" *ngIf="row.drawingOverExisting">
            {{ row.markedTime }}
        </div>
        <div style="width:5px;height:1px;border-top: 1px solid rgba(128, 128, 128, 0.5);"></div>
    </div>


    <div class="delineator-container" style="justify-content:flex-start;"
        *ngIf="row.hasMarkedDelineator && row.isEditing" [ngStyle]="row.delineatorNgStyle">
        <div class="edit-delineator" *ngIf="row.markedDelineator && row.isEditing">
            <div class="edit-time-container">
                <!-- <app-time-input [timeValue]="row.markedDelineator.time" [minValue]="row.earliestAvailability"
                    [incrementMinutes]="1" [maxValue]="row.latestAvailability" [showDate]="false" [minimal]="true"
                    class="edit-time" (timeChanged)="onEditTimeChanged($event)">
                </app-time-input> -->
                <app-time-input [timeInput]="row.timeInput" class="edit-time">
                </app-time-input>
                <fa-icon [icon]="faCheck" class="save-edit-time" (click)="onClickSaveEdit()"></fa-icon>
                <fa-icon [icon]="faTrash" class="delete-time" (click)="onClickDelete()"></fa-icon>
            </div>
        </div>
    </div>


    <div style="height: 1px; border-top: 1px solid rgba(0, 0, 0, 0);" *ngIf="!row.markedDelineator && !row.isEditing">
    </div>


</div>