.day-templates-root{
    display:flex;
    flex-direction: column;
}
.header{
    font-size:1.3em;
}

.intro{
    margin-bottom: 10px;
}

.templates{

    padding:5px;
}
.templates-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
}