<div style="display:flex;flex-direction: column; padding: 20px; width: 100%;">
    <div style="display:flex;flex-direction: column; width: 100%;">
        <div style="width: 100%; margin-bottom: 20px;">
            Nice! An email has been sent to <span style="font-weight:660;">{{ emailAddress }}</span><br>
            <br>
            Be sure to check your junk / spam folder if it does not show up in your Inbox.
        </div>
        <div style="display:flex;flex-direction: row-reverse;width: 100%; height: 40px; margin-top: 5px; margin-bottom: 5px;">
            <button class="small-button save-button" style="height:25px;" (click)="onClickResendCode()" *ngIf="showResendButton">Resend</button>
            <button class="small-button save-button" style="height:25px;" *ngIf="resending">
                <app-spinner style="height:25px;width:25px;"></app-spinner>
            </button>
        </div>  
        <div [formGroup]="confirmServerCodeForm"
            style="display:flex;flex-direction: row; width:100%; margin-bottom: 20px; justify-content: center;">
            <input formControlName="registrationCode" type="text" class="form-input" style="font-size: 1.5em; width: 300px; text-align: center;"
                placeholder="Registration code">
        </div>
        <div style="width: 100%;display:flex;flex-direction: row; justify-content: center; height: 45px;">
            <button class="large-button save-button login-button" *ngIf="!confirmingCode" style="min-width: 40px; height: 40px;"
                tabindex="0" (click)="onClickConfirmCode()">
                Confirm Code
            </button>
            <button class="large-button save-button login-button" style="height: 40px;" *ngIf="confirmingCode">
                <app-spinner style="width: 30px; height: 30px;"></app-spinner>
            </button>
        </div>
    </div>
    <div style="width: 40px;" style="order: 1; margin-top: 20px;">
        <button class="small-button discard-button" tabindex="0" (click)="onCancel()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
    </div>
</div>