<div *ngIf="shape == 'LARGE'" class="battery-container" (click)="onClickBattery()">
    <div class="battery-large">
        <div class="battery-top-terminal-nub"></div>
        <div class="percentage-container percentage-container-large">
            <div class="percentage">
                <div [ngStyle]="percentageNgStyle" [ngClass]="colorNgClass" style="border-radius:3px;"></div>
            </div>
            <div class="percentage-label">
                {{ batteryCharge }}
            </div>
        </div>
    </div>
    <div style="display:flex;flex-direction: column;justify-content: center;" class="light-text">
        <div>
            {{ timeSinceWakeup }}
        </div>
        <!-- <div>
            {{ timeUntilBedtime }}
        </div> -->
    </div>
</div>

<div *ngIf="shape == 'SMALL'" class="battery-container">
    <div class="battery-small">
        <div class="battery-top-terminal-nub-small"></div>
        <div class="percentage-container percentage-container-small">
            <div class="percentage">
                <div [ngStyle]="percentageNgStyle" [ngClass]="colorNgClass" style="border-radius: 1px;"></div>
            </div>
        </div>
    </div>
    <div class="percentage-label-small">
        {{ batteryCharge }}
    </div>
</div>