<div class="sleep-profile-root">

    <!-- <app-energy-chart></app-energy-chart> -->
    <div class="profile-row">
        <div class="row-header">
            <div class="property-name"> Wake up time: </div>
            <div class="property-value">
                {{ wakeupTime.format('h:mm a') }}
            </div>
        </div>
    </div>

    <div class="profile-row">
        <div class="row-header">
            <div class="property-name">Awake for: </div>
            <div class="property-value">
                {{ awakeForString }}
            </div>
        </div>
    </div>

    <div class="profile-row">
        <div class="row-header">
            <div class="property-name"> Time until sleep : </div>
            <div class="property-value">
                {{ timeUntilSleepString }}
            </div>
        </div>
    </div>

    <div class="profile-row">
        <div class="row-header">
            <div class="property-name"> Fall asleep time: </div>
            <div class="property-value">
                {{ fallAsleepTime.format('h:mm a') }}
            </div>
        </div>
    </div>


    <div class="profile-row">
        <div class="row-header">
            <div class="property-name">Remaining energy: </div>
            <div class="property-value">
                {{ currentEnergy.toFixed(0) }} %
            </div>

        </div>
    </div>


    <div class="profile-row">
        <div class="row-header" >
            <div class="property-name">Bed time: </div>
            <div class="property-value" style="display:flex;flex-direction: column;">
                <div>
                    {{ bedtime.format('h:mm a') }}
                </div>
                <div>
                    {{ timeUntilSleepString }}
                </div>
                
            </div>
        </div>
    </div>
</div>