
.color-picker-root{
    display: flex;
    flex-direction: row;
}

.values-container{
    flex-shrink: 2;
    display:grid;
    grid-template-columns: repeat(10, 1fr);
}

.color-value{
    width:25px;
    height:25px;
    border-radius: 7px;
    margin: 1px;
    border: 1px solid white;
}
.color-value:hover{
    cursor: pointer;
    border: 1px solid gray;
}