<div class="root" >
  <div *ngIf="ifLoading" class="loading">
    <fa-icon class="loading-spinner" [icon]="faSpinner" [spin]="true"></fa-icon>
  </div>
  <div *ngIf="!ifLoading" class="timelog" [ngStyle]="timelogViewStyle">

    <div class="margin-line"></div>


    <div *ngFor="let bookLine of bookLines" class="book-line" [ngStyle]="bookLine.style">
    </div>

    <div *ngFor="let hourLabel of hourLabels" class="hour-label" [ngStyle]="hourLabel.style">
      <div class="hour-label-offset">
        {{ hourLabel.time }}
      </div>
    </div>




    <div class="now-time-container" [ngStyle]="nowTimeContainerStyle" *ngIf="ifNowLine">
      <div class="now-time">
        {{ nowTime.format('h:mm a') }}
      </div>
    </div>
    <div class="now-line-container" [ngStyle]="nowLineContainerStyle" *ngIf="ifNowLine">
      <div class="now-line"> </div>
    </div>


    <div *ngFor="let timeSegmentTile of timeSegmentTiles" class="time-segment-tile"
      [ngStyle]="timeSegmentTile.containerStyle">
      <div class="time-segment-start"></div>
      <div class="time-segment-duration" [style.background-color]="segmentBackgroundColor(timeSegmentTile.timeSegment)"
        (click)="onClickTimeSegmentTile(timeSegmentTile)">
        <div class="time-segment-text no-select" [ngStyle]="timeSegmentTile.durationStyle">
          {{ activityName(timeSegmentTile) }}
        </div>
      </div>
      <div class="time-segment-end"></div>
    </div>



    <div *ngIf="nextTimeSegmentTile" class="time-segment-tile next-time-segment-container"
      [ngStyle]="nextTimeSegmentTile.containerStyle">
      <div class="time-segment-start"></div>
      <div class="time-segment-duration" (click)="onClickNextTimeSegment(nextTimeSegmentTile.timeSegment)">
        <div class="time-segment-text no-select" [ngStyle]="nextTimeSegmentTile.durationStyle">
          next time segment
        </div>
      </div>
      <div class="time-segment-end"></div>
    </div>
  </div>


</div>