<div class="root">
  <div *ngIf="ifLoading" class="loading">
    <fa-icon class="loading-spinner" [icon]="faSpinner" [spin]="true"></fa-icon>
  </div>
  <div *ngIf="!ifLoading" class="timelog">
    <div class="caret-container">

      <fa-icon [icon]="faCaretUp" class="caret" (click)="onClickCaret('UP')"></fa-icon>


    </div>
    <div class="timelog-grid-container">
      <div class="grid-object">
        <div *ngFor="let hourLabel of hourLabels" class="hour-label" [ngStyle]="hourLabel.style">
          <span style="padding-right:5px; color:rgb(63, 63, 63); font-size: 0.9em;">{{ hourLabel.hour }} </span>
        </div>
        <div *ngFor="let hourLine of hourLines" class="hour-line" [ngStyle]="hourLine.style">
        </div>
      </div>

      <div *ngIf="nowLine" class="grid-object" [ngStyle]="nowLine.containerStyle">
        <div class="now-line"></div>
      </div>

      
      <div class="grid-object" *ngIf="timeSegmentsContainer" [ngStyle]="timeSegmentsContainer.style">
        <div *ngFor="let tile of timeSegmentTiles" class="time-segment-tile" [ngStyle]="tile.style" (click)="onClickTile(tile)" [ngClass]="{'blank-tile':tile.isBlank}">
          <span style="padding-left:3px;">{{activityName(tile)}}</span>
        </div>
      </div>
      
    </div>



    <div class="caret-container">
      <fa-icon [icon]="faCaretDown" class="caret" (click)="onClickCaret('DOWN')"></fa-icon>
    </div>

  </div>
</div>