<div class="app-container" *ngIf="showAppContainer">
    <app-mobile-container *ngIf="isSmallSize" style="width:100%;height:100%;"></app-mobile-container>
    <app-full-size-container *ngIf="isFullSize" style="width:100%;height:100%;"></app-full-size-container>
    <app-tablet-container *ngIf="isMediumSize" style="width:100%;height:100%;"></app-tablet-container>
</div>


<!-- class="user-action-prompt background-image-1" -->
<app-user-action-prompt *ngIf="showUserActionPrompt" style="height: 100%; width: 100%;">
</app-user-action-prompt>



<div *ngIf="isLoading" class="loading" [ngClass]="backgroundNgClass">
    <app-spinner style="width:200px;height:200px;"></app-spinner>
</div>


<div *ngIf="showModal" class="app-modal-container">
    <app-modal></app-modal>
</div>