.browse-results{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 5px;
    width: 100%;


}

.results{
    width: 100%;
    max-width: 800px;

}

.search-result{
    display:flex;
    flex-direction: row;
    margin-top: 1px;
    border-radius: 3px;
    font-size: 1.1em;
    align-items: center;
    padding:1px;
    padding-left: 3px;
}
.search-result:hover{
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.color-circle{
    border: none;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    min-height: 15px;
    min-width: 15px;
}