.tlef-footer-root{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.save-changes{
    background-color: rgba(0, 89, 255, 0.05);
}
.save-changes:hover{
    color: rgb(0, 45, 129);
}