.timelog-entry-display-root{
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.3);
    

    display:flex;
    flex-direction: row;
    align-items: center;
    /* padding: 5px; */
    padding-left: 10px;
    padding-right: 10px;
}

.hour-unit{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-right: 3px;
    margin-bottom: 3px;
}
.slim-hour-unit{
    grid-template-columns: 1fr;
}


.unit{
    /* background-color: rgba(0, 89, 255, 0.219); */
    /* border: 1px solid rgb(243, 243, 243); */
    width:18px;
    height:18px;
    border-radius: 3px;

    margin-right: 1px;
    margin-bottom: 1px;
    display:grid;
    grid-template-rows: 1fr;

}

.small-text{
    font-size: 0.7em;
}