<div class="row-root" [ngStyle]="row.gridStyle">

    <div class="row-body" [ngStyle]="row.bodyStyle">
        <div *ngIf="!row.timelogDelineator && row.drawDelineator" class="draw-time-delineator-container">
            <div class="draw-time-delineator">
                {{ row.drawDelineator.time.format('hh:mm a') }}
            </div>
        </div>
        <div class="timelog-delineator"
            [ngClass]="{'push-backwards': row.isDragging, 'is-drawing':row.ngClassIsDrawing, 'editing-saved-delineator':row.isEditing}"
            [ngStyle]="row.delineatorNgStyle" *ngIf="row.showTimelogDelineator" (mouseenter)="row.onMouseEnterSavedDelineator()"
            (mouseleave)="row.onMouseLeaveSavedDelineator()" (mousedown)="row.startEditing()">

            {{ row.timelogDelineator.time.format('hh:mm a')}}

        </div>

        <div class="edit-delineator" *ngIf="row.timelogDelineator && row.isEditing">

            <div class="edit-time-container">
                <app-time-input [timeValue]="row.timelogDelineator.time" [minValue]="row.earliestAvailability"
                    [incrementMinutes]="1" [maxValue]="row.latestAvailability" [showDate]="false" [minimal]="true"
                    class="edit-time" (timeChanged)="onEditTimeChanged($event)">
                </app-time-input>
                <fa-icon [icon]="faCheck" class="save-edit-time" (click)="onClickSaveEdit()"></fa-icon>
                <fa-icon [icon]="faTrash" class="delete-time" (click)="onClickDelete()"></fa-icon>
            </div>

        </div>


    </div>


</div>