.row-root{
    height: 100%;
    width:100%;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}

.row-body{
    height: 1px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.draw-time-delineator-container{
    width:100%; 
    height: 1px; 
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.draw-time-delineator{
    flex-grow: 2;
    
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 89, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;

    position: relative;
    z-index: -1;
}


.saved-delineator{

    flex-grow:2;
    
    background-color: rgba(0, 128, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:4px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;

    position: relative;
    z-index: 10;


}
.saved-delineator:hover{
    background-color: rgb(137, 196, 255);
    cursor: pointer;
}
.push-backwards{
    position:relative;
    z-index: -5;
}
.is-drawing{
    color: rgba(0, 89, 255, 1);
}

.edit-delineator{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    padding: 15px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: rgba(255, 228, 203, 0.85);

    position: relative;
    z-index: 10;
}




.edit-time-container{
    display:flex;
    flex-direction: row;
    
}
.save-edit-time{
    color: rgba(0, 255, 0, 0.404);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 5px;
}
.save-edit-time:hover{
    color: rgb(17, 202, 17);
    cursor: pointer;
}
.delete-time{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.425);
    margin-left: 5px;
    margin-right: 5px;
}
.delete-time:hover{
    color: red;
}