.items-bar-root{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px;
}

.item{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
    margin: 3px;
}

.item:hover{
    cursor: pointer;
    border: 1px solid rgb(0, 89, 255);
}

.current-item{
    background-color: rgb(190, 213, 255);
}
/* 
.active-item{
    
} */

.sleep-item{
    background-color: rgb(146, 146, 255);
    border: 1px solid rgb(146, 146, 255);
}