.timelog-chart-root{
    border: 1px solid blue;
    min-width: 320px;
    min-height: 640px;
    width:100%;

    flex-grow: 2;

    display:flex;
    flex-direction: column;
}
.timelog-chart-grid{
    width:100%;
    flex-grow: 2;
    display: grid;
    grid-template-columns: 25px 50px 1fr 15px 30px;

}
.timelog-chart-row-item{
    width:100%;
    height:100%;
    grid-column: 1 / -1;
    position: relative;
    /* background-color: rgba(0, 0, 255, 0.103); */
    z-index: 2;
}
.timelog-chart-row-item:hover{
    background-color: rgba(0, 0, 255, 0.342);
}

.now-line-container, .sleep-line-container{
    grid-column: 2 / -1;
    grid-row: 2 / -3;
    display:flex;
    flex-direction: column;
}
.now-line{
    width:100%;
    border-bottom: 1px solid rgb(255, 30, 0);
}
.sleep-line{
    width:100%;
    border-bottom: 1px solid rgb(0, 120, 233);
}

.timelog-guide-lines{
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1px;
}
.timelog-guide-lines-border-right{
    grid-column: 1 / span 1;
    grid-row: 2 / -3;
    border-right: 1px solid rgb(220, 231, 235);
}
.timelog-guide-line{
    font-size: 0.7em;
    color: gray;
    height:16px;
    margin-top: -8px;
    width:100%;
    text-align: right;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.timelog-guide-label-line-container{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:3px;
    
}
.timelog-guide-line-date-cross{
    height: 16px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(70, 119, 148);
}
.timelog-guide-line-label{
    width:23px;
    padding-right:1px;
}
.timelog-guide-line-tick{
    height:1px;
    /* border-top: 1px solid rgb(220, 231, 235); */
}

.day-structure-item{
    grid-column: 3 / span 1;
    display:flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 0.8em;
    border: 1px solid rgba(83, 83, 83, 0.01);
    border-radius: 3px;
    /* background-color: rgba(0, 0, 0, 0.01); */
    border: none;
    position: relative;
    z-index: 1;
}
/* .day-structure-item:hover{
    border: 1px solid gray;
    background-color: rgba(128, 128, 128, 0.055);
} */
/* .day-structure-item-border-bottom{
    border-left: 1px solid rgba(146, 146, 146, 0.1);
    border-right: 1px solid rgba(146, 146, 146, 0.1);
    border-bottom: 1px solid rgba(146, 146, 146, 0.1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.day-structure-item-border-top{
    border-left: 1px solid rgba(146, 146, 146, 0.1);
    border-right: 1px solid rgba(146, 146, 146, 0.1);
    border-top: 1px solid rgba(146, 146, 146, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.day-structure-item-border-all{
    border: 1px solid rgba(146, 146, 146, 0.1);
    border-radius: 10px;
} 
.day-structure-item-border-bottom-hover{
    border-left: 1px solid rgba(146, 146, 146, 0.3);
    border-right: 1px solid rgba(146, 146, 146, 0.3);
    border-bottom: 1px solid rgba(146, 146, 146, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.day-structure-item-border-top-hover{
    border-left: 1px solid rgba(146, 146, 146, 0.3);
    border-right: 1px solid rgba(146, 146, 146, 0.3);
    border-top: 1px solid rgba(146, 146, 146, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.day-structure-item-border-all-hover{
    border: 1px solid rgba(146, 146, 146, 0.3);
    border-radius: 10px;
} */
