.timelog-chart-root{
    border: 1px solid blue;
    min-width: 320px;
    min-height: 640px;
    width:100%;

    flex-grow: 2;

    display:flex;
    flex-direction: column;
}
.timelog-chart-grid{
    width:100%;
    flex-grow: 2;
    display: grid;
    grid-template-columns: 25px 50px 1fr 15px 30px;

}
.timelog-chart-row-item{
    width:100%;
    height:100%;
    grid-column: 1 / -1;
    position: relative;
    /* background-color: rgba(0, 0, 255, 0.103); */
}
.timelog-chart-row-item:hover{
    background-color: rgba(0, 0, 255, 0.342);
}

.timelog-guide-lines{
    grid-column: 1 / -1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 1px;
}
.timelog-guide-lines-border-right{
    grid-column: 1 / span 1;
    border-right: 1px solid rgb(220, 231, 235);
}
.timelog-guide-line{
    font-size: 0.7em;
    color: gray;
    height:16px;
    margin-top: -8px;
    width:100%;
    text-align: right;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.timelog-guide-label-line-container{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:33px;
    
}
.timelog-guide-line-date-cross{
    height: 16px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.timelog-guide-line-label{
    width:23px;
    padding-right:1px;
}
.timelog-guide-line-tick{
    height:1px;
    flex-grow: 2;
    /* border-top: 1px solid rgb(220, 231, 235); */
}

.day-structure-item{
    grid-column: 3 / span 1;
}