<div class="timelog-chart-root no-select" (wheel)="onWheel($event)">
    Timelog chart
    <div class="timelog-chart-grid" [ngStyle]="timelogChart.chartGrid.ngStyle">
        <div class="timelog-guide-lines">
            <div *ngFor="let timelogGuideLine of timelogChart.guidelineItems" class="timelog-guide-line">
                <div *ngIf="timelogGuideLine.label" class="timelog-guide-line-label">
                    {{ timelogGuideLine.label }}
                </div>
                <div *ngIf="timelogGuideLine.label" class="timelog-guide-label-line-container">
                    <div *ngIf="timelogGuideLine.dateCross" class="timelog-guide-line-date-cross"
                        [ngStyle]="timelogGuideLine.textColorNgStyle">
                        {{ timelogGuideLine.dateCross.previousDate }}
                    </div>
                    <div class="timelog-guide-line-tick" [ngStyle]="timelogGuideLine.borderTopNgStyle"></div>
                    <div *ngIf="timelogGuideLine.dateCross" class="timelog-guide-line-date-cross"
                        [ngStyle]="timelogGuideLine.textColorNgStyle">
                        {{ timelogGuideLine.dateCross.nextDate }}
                    </div>
                </div>
            </div>
        </div>

        <div class="timelog-guide-lines-border-right"></div>

        <div *ngFor="let timelogChartRowItem of timelogChart.chartRowItems" class="timelog-chart-row-item"
            [ngStyle]="timelogChartRowItem.ngStyle" (click)="timelogChartRowItem.onClick()">
        </div>

        <div class="day-structure-item" *ngFor="let dayStructureItem of timelogChart.dayStructureItems"
            [ngStyle]="dayStructureItem.ngStyle" [ngClass]="dayStructureItem.ngClass"
            (mouseenter)="dayStructureItem.onMouseEnter()" (mouseleave)="dayStructureItem.onMouseLeave()">
            {{ dayStructureItem.bodyLabel }}
        </div>





    </div>
</div>