.daily-task-list-root{
    width:280px;
    


    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 5px 6px rgb(166, 195, 219);
    padding:5px;
    padding-top:0px;

    display:flex;
    flex-direction: column;
}
.header{
    font-size: 0.85em;
    text-align: center;
    
    flex-shrink: 2;
    border-bottom: 1px solid rgb(219, 219, 219);

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-item{
    min-width:25px;
}
.icon-button{
    color:gray;
}
.icon-button:hover{
    cursor: pointer;
    color:black;
}
.body{
    flex-grow:2;
}

.daily-task-list-item{
    padding:3px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;    
}
.icon-button-green{
    color:rgb(0, 129, 52);
}
.icon-button-green:hover{
    color:rgb(0, 129, 52);
}

/* .item-is-checked{
    text-decoration: line-through;
    color: rgb(0, 129, 52);
} */