.activities-list-root{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
}


.item-list-header{
    font-size:0.9em; 
    font-weight: bold;
    margin-bottom: 3px;
}

.list-container{
    width:100%;
    min-height: 500px;   
    height: 100%;
    background-color: rgb(252, 252, 252);
}