.timelog-body-grid-container{
    flex-grow: 2;
    
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8px 1fr 8px;

}
.timelog-body-root{
    grid-column: 1 / -1;
    grid-row: 2 / span 1;

    display:grid;
    grid-template-columns: 20px 100px 1fr;
    grid-template-rows: 1fr;
}

.guide-line-hours{
    grid-column: 1 / -1; 
    grid-row: 1 / -1;

    display:flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-end; 
    padding-right: 3px;
}

.guide-line-hour{
    flex-grow: 2;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
}
.guide-line-hour-label{
    height: 16px;
    width: 20px;
    margin-top: -8px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.7em;
    color: gray;
    
}
.guide-line-hour-line{
    height:1px;
    flex-grow: 2;
}

.label-line-half-hour{
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}
.label-line-hour{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.mouse-position-time-container, .now-line-time-container, .time-delineators{
    grid-column: 2 / -1; 
    grid-row: 1 / -1;

    display:grid;
    grid-template-columns: 1fr;
}
.mouse-position-time-label-container, .now-line-time-label-container, .time-delineator-label-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    height:20px;
    margin-top:-10px;
    width:100%;
}
.mouse-position-time-label, .now-line-time-label{
    margin-left: 5px;
    padding-left:2px;
    width:80px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    /* border: 1px solid rgba(0, 89, 255, 0.3); */
    color: rgb(0, 89, 255);
    font-size: 0.9em;
}
.time-delineator-time-label{
    position: relative;
    z-index: 2;

    width: 94px;
    margin-left: 5px;
    display:flex;
    flex-direction: row;
    padding-left: 2px;
    padding-right: 2px;
    
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: gray;
}

.time-delineator-time-label:hover{
    background-color:rgb(230, 230, 230);
}
.mouse-position-time-label > fa-icon{
    display:none;
}
.mouse-position-time-label:hover{
    cursor: pointer;
    background-color: rgba(0, 89, 255, 0.1);
}
.mouse-position-time-label:hover > fa-icon{
    display: inline;
}
.now-line-time-label{
    /* border: 1px solid rgba(255, 0, 0, 0.3); */
    width: 94px;
    font-size: 1.0em;
    padding-right:2px;
    color: rgba(255, 0, 0, 0.6);
}

.timelog-entry-items{
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;

    display:grid;
    grid-template-columns: 1fr;
}

.timelog-entry-item{
    display:flex;
    flex-direction: column;
}