<div class="timelog-body-grid-container no-select">
    <div class="timelog-body-root" id="timelog-body-root" (mouseenter)="itemState.onMouseEnter()"
        (mouseleave)="onMouseLeave()" (mousemove)="onMouseMove($event)" [ngStyle]="timelogBodyNgStyle">


        <div class="guide-line-hours">
            <div *ngFor="let hour of guideLineHours" class="guide-line-hour" [ngStyle]="hour.ngStyle">
                <div class="guide-line-hour-label">
                    {{ hour.label }}
                </div>
                <div class="guide-line-hour-line" [ngStyle]="hour.lineNgStyle"></div>
            </div>
        </div>

        <div *ngIf="nowLine" class="now-line-time-container"  [ngStyle]="nowLine.ngStyle">
            <div></div>
            <div class="now-line-time-label-container">
                <div class="now-line-time-label">
                    {{ nowLine.time.format('h:mm a')}}
                </div>
                <div style="height:1px; border-top: 1px solid rgba(255, 0, 0, 0.3); flex-grow:2;"></div>
            </div>
        </div>

        <div *ngIf="timeDelineators.length > 0" class="time-delineators" [ngStyle]="timeDelineatorsNgStyle">
            <div></div>
            <div class="time-delineator-label-container" *ngFor="let timeDelineator of timeDelineators">
                <div class="time-delineator-time-label" (click)="timelog.removeTimeDelineator(timeDelineator)">
                    {{ timeDelineator.format('h:mm a')}}
                </div>
                <div style="height:1px; border-top: 1px solid gray; flex-grow:2;"></div>
            </div>
        </div>

        <div *ngIf="mousePosition" class="mouse-position-time-container" [ngStyle]="mousePosition.ngStyle">
            <div></div>
            <div class="mouse-position-time-label-container">
                <div class="mouse-position-time-label" (click)="timelog.addTimeDelineator(mousePosition.time)">
                    {{ mousePosition.time.format('h:mm a')}}
                </div>
                <div style="height:1px; border-top: 1px solid rgba(0, 89, 255, 0.3); flex-grow:2;"></div>
            </div>
        </div>

        

        <div *ngIf="timelog" class="timelog-entry-items" [ngStyle]="timelogEntryItemsNgStyle">
            <app-timelog-entry *ngFor="let timelogEntryItem of timelogEntryItems"></app-timelog-entry>
        </div>

    </div>
</div>