<div class="timelog-body-grid-container no-select">
    <div class="timelog-body-root" id="timelog-body-root">


        <div class="guide-line-hours">
            <div *ngFor="let hour of guideLineHours" class="guide-line-hour" [ngStyle]="hour.ngStyle">
                <div class="guide-line-hour-label">
                    {{ hour.label }}
                </div>
                <div class="guide-line-hour-line" [ngClass]="hour.lineNgClass"></div>
            </div>
        </div>

        <div *ngIf="gridItems.length > 0" [ngStyle]="gridItemsNgStyle" class="grid-items">
            <div *ngFor="let gridItem of gridItems" class="grid-item" >

                <div *ngIf="showNowLine(gridItem)" class="now-line"></div>

                <app-available-timelog-item *ngIf="gridItem.availability === 'AVAILABLE'" class='available-item'
                    [gridItem]="gridItem"></app-available-timelog-item>
                    
                <app-timelog-entry *ngIf="gridItem.availability === 'TIMELOG_ENTRY'" class='activity-item'
                    [gridItem]="gridItem"></app-timelog-entry>

                <div *ngIf="gridItem.availability === 'SLEEP'" class='sleep-item' (click)="onClickSleepItem(gridItem)">

                </div>
            </div>
        </div>

        <app-time-selection-column style="grid-row: 1 / -1; grid-column: 2 / span 1;" 
        [zoomControl]="zoomControl"
        [timeDelineators]="timeDelineators"
            (drawNewTLE)="onDrawNewTLE($event)" (createNewTLE)="onCreateNewTLE($event)"></app-time-selection-column>

    </div>
</div>