<!-- Warning:  the way this is currently configured, with exactly 9 header item icons cannot exceed the number 9,
        otherwise it's too many, and not handled, resulting in a bad UI.  eventually will need to add some ability to configure the header bar ,
        and accommodate for multiple custom entry items.
-->

<div class="data-entry-item-input-root font-family-open-sans">
    <div class="data-entry-item-input-header">

        <fa-icon [icon]="item.icon" *ngFor="let item of inputItemTypes" class="header-item"
            (click)="onClickInputItem(item)" [ngClass]="{'header-item-active': item.isActive}"></fa-icon>
    </div>
    <div class="data-entry-item-input-body">
        <!-- <app-timelog-entry-input *ngIf="inputTypeIs('TIMELOG_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-timelog-entry-input> -->
        <!-- <app-financial-entry-input *ngIf="inputTypeIs('FINANCIAL_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-financial-entry-input> -->
        <!-- <app-action-item-entry-input *ngIf="inputTypeIs('ACTION_ITEM_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-action-item-entry-input> -->
        <!-- <app-reminder-entry-input *ngIf="inputTypeIs('REMINDER_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-reminder-entry-input> -->
        <!-- <app-scheduled-event-input *ngIf="inputTypeIs('SCHEDULED_EVENT_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-scheduled-event-input> -->
        <!-- <app-dietary-entry-input *ngIf="inputTypeIs('DIETARY_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-dietary-entry-input> -->
        <!-- <app-feeling-entry-input *ngIf="inputTypeIs('FEELING_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-feeling-entry-input> -->
        <!-- <app-weightlog-entry-input *ngIf="inputTypeIs('WEIGHTLOG_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-weightlog-entry-input> -->
        <!-- <app-count-entry-input *ngIf="inputTypeIs('COUNT_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-count-entry-input> -->
        <!-- <app-rule-condition-entry-input *ngIf="inputTypeIs('RULE_CONDITION_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-rule-condition-entry-input> -->
        <!-- <app-health-symptom-entry-input *ngIf="inputTypeIs('HEALTH_SYMPTOM_ENTRY')" class="input-item" [onClickSave$]="onClickSave$"></app-health-symptom-entry-input> -->
    </div>
    <div class="data-entry-item-input-footer">
        <button class="small-button" (click)="onClickSave()">Save</button>
    </div>
</div>