<div class="sleep-manager-data-input" *ngIf="!isLoading">
    <div class="sleep-duration-container" *ngIf="showDurationContainer">
        <div style="display:flex;flex-direction: row;justify-content: space-between;"
            *ngIf="prevFallAsleepTimeIsSet && wakeupTimeIsSet">
            <div class="property-name">
                Sleep period
            </div>
            <div class="property-name" style="color: rgb(115, 170, 216);">
                {{ sleepPeriodDuration }}
            </div>
        </div>

        <div style="display:flex;flex-direction: row; justify-content: center; align-items: center;">
            <div class="property-value" *ngIf="prevFallAsleepTimeIsSet">{{ prevFallAsleepTime.format('h:mm a') }}</div>
            <div class="property-name" *ngIf="prevFallAsleepTimeIsSet && wakeupTimeIsSet"> to </div>
            <div class="property-value" *ngIf="wakeupTimeIsSet">{{ wakeupTime.format('h:mm a') }}</div>
            <div class="property-name" *ngIf="!prevFallAsleepTimeIsSet && wakeupTimeIsSet"> woke up</div>
        </div>
        <div>
            <span class="property-name" *ngIf="durationIsSet">Sleep duration: </span> <span
                class="property-value">{{ sleepDuration }} </span>
        </div> 
    </div>



    <app-sm-wakeup-time *ngIf="smfaWakeupTime" class="form-item">
    </app-sm-wakeup-time>

    <app-sm-prev-fall-asleep-time *ngIf="smfaPreviousFallAsleep" class="form-item">
    </app-sm-prev-fall-asleep-time>

    <app-sm-sleep-duration *ngIf="smfaSleepDuration" class="form-item"></app-sm-sleep-duration>

    <app-smfa-energy *ngIf="smfaEnergy" class="form-item"></app-smfa-energy>

    <app-sm-dreams *ngIf="smfaDreams" class="form-item">
    </app-sm-dreams>

    <app-sm-bedtime *ngIf="smfaBedtime" class="form-item">
    </app-sm-bedtime>







    <div class="buttons-container">
        <div style="width: 50px;">
            <button class="medium-button discard-button" style="font-size: 1.5em;" (click)="onClickBack()"
                *ngIf="showBackButton">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </button>
        </div>
        <div style="width: 50px; display:flex;flex-direction: row-reverse;">
            <button class="medium-button discard-button" style="font-size: 1.5em;" (click)="onClickForward()">
                <fa-icon [icon]="faArrowRight" *ngIf="proceedNormally"></fa-icon>
                <fa-icon [icon]="faCheck" style='color: rgb(0, 201, 0)' *ngIf="finalAction"></fa-icon>
            </button>
        </div>
    </div>
</div>


<div *ngIf="isLoading" class="sleep-manager-data-input loading-container">
    <app-spinner style="width: 150px; height: 150px;"></app-spinner>
</div>