<div class="tlef-chart-root">
  <div class="chart-grid" [style.grid-template-rows]="chart.gridTemplateRows">


    <div [ngStyle]="chart.timelogEntryStartStyle">
      <div class="chart-time">
        {{ chart.timelogEntryStart.format('h:mm a') }}
      </div>
    </div>
    <div [ngStyle]="chart.timelogEntryEndStyle">
      <div class="chart-time">
        {{ chart.timelogEntryEnd.format('h:mm a') }}
      </div>
    </div>
    <div *ngFor="let labelLine of chart.labelLines" class="label-line" [ngStyle]="labelLine.style"></div>

    <div *ngFor="let timeBlock of chart.timeBlocks;" [ngStyle]="timeBlock.style">
      <div *ngIf="timeBlock.isCurrent" class="current-timelog-entry">
        <div style="font-size:0.8em; color:gray;">
          Current Timelog Entry - {{ chart.timelogEntryStart.format('h:mm a') }} to
          {{ chart.timelogEntryEnd.format('h:mm a')}}
        </div>
        <div style="font-size:0.8em; color:gray;">Total Duration <b>{{ currentTimelogEntryDuration }}</b> </div>
        <div *ngFor="let activityItem of activityItems" class="new-activity">
          <div style="flex-grow:2;display:flex;flex-direction: row;">
            <div class="new-activity-color-block" [style.background-color]="activityItem.activity.color"></div>
            <div class="new-activity-name">
              {{ activityItem.activity.name }}
            </div>
          </div>


        </div>
      </div>
      <div *ngIf="timeBlock.isPrevious" class="time-entry">
        <div *ngIf="timeBlock.timelogEntry.activities.length == 1" class="activity"
          [style.background-color]="timeBlock.timelogEntry.activities[0].activity.color">
          {{ timeBlock.timelogEntry.activities[0].activity.name }}
        </div>
        <div *ngIf="timeBlock.timelogEntry.activities.length > 1 " class="activity"
          [style.background-color]="timeBlock.timelogEntry.activities[0].activity.color">
          {{ timeBlock.timelogEntry.activities[0].activity.name }} and {{ timeBlock.timelogEntry.activities.length-1 }}
          more
        </div>

      </div>
      <!-- <div *ngIf="timeBlock.isFuture" class="time-entry">

      </div> -->
    </div>

  </div>
</div>