.chart-grid{
    padding-top:5px;
    padding-bottom: 5px;
    padding-right:5px;
    display:grid;
    grid-template-columns: 25% 10px 75%;
    height:250px;
}

.chart-time{
    margin-top:-12px;
    padding-right:5px;
    height:24px;
    text-align: right;
}

.label-line{
    grid-column: 2 / span 1;
    border-right: 1px solid gray;
}

.time-entry{
    height:100%;

    font-size: 0.8em;
    margin:2px;
    margin-left:5px;
    margin-right:5px;

    display:flex;
    flex-direction: row;
}
.current-timelog-entry{
    margin:2px;
    margin-left:5px;
    margin-right:5px;
    border:2px solid rgb(0, 90, 194);
    border-radius: 4px;
    padding:5px;

    height:100%;
}