<div class="notebook-entry-root" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div style="display:flex;flex-direction: row;justify-content: space-between;">
      <div>{{ notebookEntry.journalDate.format('YYYY-MM-DD') }}</div>
      <div *ngIf="mouseOver">
        <fa-icon class="icon-button" [icon]="faEdit" (click)="onClickEdit()" style="margin-right:5px;"></fa-icon>
        <fa-icon class="icon-button" [icon]="faTrash" (click)="onClickDelete()"></fa-icon>
      </div>
  </div>

  <div style="font-weight:bold;">{{ notebookEntry.title }}</div>
  <div class="note-text">{{ notebookEntry.textContent }}</div>
  <div class="tags">
    <span style="font-size:0.8em;font-weight:normal;color:gray;">Tags: </span>{{ notebookEntry.tags.toString() }}
  </div>
</div>