<div class="timelog-entry-display-root" [style.background-color]="backgroundColor" *ngIf="displayEntry"
    (click)="onClickOpenTimelogEntry()" [ngClass]="{'normal-size-entry':isNormalSize, 'small-entry': isSmallEntry, 'very-small-entry': isVerySmall}">

    <!-- <div *ngIf="isNormalSize" class="normal-size-entry"> -->
    <div class="units-container" *ngIf="!isLargeSize">
        <div *ngFor="let unit of units" class="unit" [ngStyle]="unit.ngStyle">
        </div>
        {{ displayString }}
    </div>

    <div *ngIf="isLargeSize">
        <div *ngFor="">

        </div>
        <div class="units-container" >
            <div *ngFor="let unit of units" class="unit" [ngStyle]="unit.ngStyle">
            </div>
            {{ displayString }}
        </div>
    </div>

    <!-- </div> -->

    <!-- <div *ngIf="isSmallEntry" class='small-entry'>
        <div class="units-container">
            <div *ngFor="let unit of units" class="unit" [ngStyle]="unit.ngStyle">
            </div>
            {{ displayString }}
        </div>
    </div>

    <div *ngIf="isVerySmall" class='very-small-entry'>
        <div class="units-container">
            <div *ngFor="let unit of units" class="unit" [ngStyle]="unit.ngStyle">
            </div>
            {{ displayString }}
        </div>
    </div> -->

</div>


<div *ngIf="!displayEntry" class="error-message">Error: No timelog entry</div>