.timelog-entry-display-root{
    width:100%;
    height:100%;
    max-height: inherit;
    background-color: rgba(255, 255, 255, 0.3);
    

    display:flex;
    flex-direction: row;
    align-items: center;
    

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;

    padding-left: 10px;
    padding-right: 10px;
}
.timelog-entry-display-root:hover{
    border: 1px solid gray;
}

.large-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.small-container{
    display:flex;
    flex-direction: row;
    font-size: 0.7em;    
    /* border: 1px solid orange; */
    width:100%;
    height: 100%;

}
.very-small-container{
    height: 1px;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.7em;
}


.very-small-entry-circle{
    width: 4px;
    height: 4px;
    border-radius: 4px;
    border: none;

}

.unit{
    margin: 2px;

}

.small-text{
    font-size: 0.7em;
}


.activity-item{
    display:flex;
    flex-direction: column;
    margin-right: 10px;
    padding: 5px;
}
.activity-name{
    font-weight: 600;
}
.duration-string{
    font-size: 0.8em; 
    color: gray;
    margin-left: 5px;
}

.remaining-items{
    display:flex;
    flex-direction: row;
    align-items: center;
}