.timelog-entry-display-root{
    width:100%;
    height:100%;
    max-height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;

    

    border: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    border-radius: 2px;

    padding-left: 10px;
    padding-right: 10px;
}
/* .timelog-entry-display-root:hover{
    border: 1px solid rgba(0, 0, 0, 2);
} */

.items-frame{
    width: 100%;
    height: 1px;
    display:flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}
.activity-items-container{
    flex-grow: 2;
    display:flex;
    flex-direction: row; 
    align-items: flex-start;
    width: 100%;
    margin-right: 20px;
    flex-wrap: wrap;
}


.units{
    display:flex;
    flex-direction: row; 
    align-items: flex-start;
}

.unit{
    margin: 2px;
    border: 1px solid black;
}

.small-text{
    font-size: 0.7em;
}


.activity-item{
    display:flex;
    flex-direction: column;
    margin-right: 10px;
    position: relative;
}
.small-activity-item{
    flex-direction: row;
    align-items: center;

}
.activity-name{
    font-weight: 500;
}
.small-activity-name{
    margin-left: 5px;
    font-weight: 450;
    order: 2;
}
.duration-string{
    font-size: 0.8em; 
    color: gray;
    margin-left: 5px;
}

.remaining-items{
    display:flex;
    flex-direction: row;
    align-items: center;
}


.note-text{

    flex-grow: 2;
    width: 100%;
    max-width: 170px;
    min-width: 80px;

    overflow-x: hidden;
    /* background-color: rgba(96, 96, 228, 0.336); */

    color: gray;
    font-style: italic;
    font-size: 0.8em;
}

.note-text-small{

    max-width: 170px;
    flex-grow: 2;

    white-space:nowrap;
    /* background-color: rgba(228, 101, 27, 0.336); */

    color: gray;
    font-style: italic;
    font-size: 0.8em;
}