<div class="root">
  <div class="header-container">
    <div class="buffer"></div>
    <div class="header">
      {{ viewAction }} Time Event
    </div>
    <div class="buffer">
      <div class="delete-button" *ngIf="action == 'REVIEW'" (click)="onClickDeleteTimeEvent()">
        Delete <fa-icon [icon]="faTimes"></fa-icon>
      </div>
    </div>

  </div>

  <div class="time-entry-form" [formGroup]="timelogEntryForm">

    <div class="time-entry-form-row" style="padding:none;">


      <div class="time-section" [ngClass]="{'time-section-error': startTimeError }">
        <div style="font-size:1.1em;font-weight:bold;margin-bottom:5px;">
          Start
        </div>
        <div style="display:flex;flex-direction:row;height:30px;">
          <div style="width:50px;">
            Date:
          </div>
          <div *ngIf="!modifyStartDate" class="display-date" (click)="onClickModifyStartDate()">
            {{ startTimeDate }}
          </div>
          <div *ngIf="modifyStartDate">
            <input type="date" formControlName="startTimeDate">
            <fa-icon [icon]="faTimes" (click)="onClickModifyStartDate()" class="close-button"></fa-icon>
          </div>
        </div>
        <div style="display:flex;flex-direction:row;height:30px;">
          <div style="width:50px;">
            Time:
          </div>
          <div>
            <input type="time" formControlName="startTime">
          </div>
        </div>
      </div>


      <div class="time-section" [ngClass]="{'time-section-error': endTimeError }">
        <div style="font-size:1.1em;font-weight:bold;margin-bottom:5px;">
          End
        </div>
        <div style="display:flex;flex-direction:row;height:30px;">
          <div style="width:50px;">
            Date:
          </div>
          <div *ngIf="!modifyEndDate" class="display-date" (click)="onClickModifyEndDate()">
            {{ endTimeDate }}
          </div>
          <div *ngIf="modifyEndDate">
            <input type="date" formControlName="endTimeDate">
            <fa-icon [icon]="faTimes" (click)="onClickModifyEndDate()" class="close-button"></fa-icon>
          </div>
        </div>
        <div style="display:flex;flex-direction:row;height:30px;">
          <div style="width:50px;">
            Time:
          </div>
          <div>
            <input type="time" formControlName="endTime">
          </div>
        </div>
      </div>
    </div>
    <div class="time-entry-form-row" style="font-weight:bold;"
      [ngClass]="{'duration-error': endTimeError || startTimeError }">
      {{ durationString }}
    </div>


    <div class="time-entry-form-row">
      <textarea rows="5" class="form-textarea" placeholder="Description" formControlName="description">
      </textarea>

    </div>




    <div class="time-entry-form-row" style="flex-direction: column;">
      <div style="font-size:1.15em">
        Activities
      </div>
      <div *ngIf="timelogEntryActivities.length > 0">
        <div *ngFor="let timelogEntryActivity of timelogEntryActivities" class="time-entry-activity"
          [style.background-color]="timelogEntryActivity.activity.color">
          {{ timelogEntryActivity.activity.name }}
        </div>
      </div>
      <div class="mt-1">
        <button *ngIf="!ifAddActivity" class="btn btn-sm btn-primary" style="border-radius:15px;"
          (click)="onClickAddActivityButton()">
          <fa-icon [icon]="faPlus" style="font-size:0.8em;"></fa-icon> <span class="px-2">Add Activity</span>
        </button>
        <div *ngIf="ifAddActivity" class="add-activity-form">

          <app-activity-input-dropdown (valueChanged)="onActivityInputDropdownValueChanged($event)">
          </app-activity-input-dropdown>

          <div class="activity-action-buttons p-2">
            <button class="btn btn-primary btn-sm mx-2" (click)="onClickSaveActivity()">Save Activity</button>
            <button class="btn btn-secondary btn-sm" (click)="onClickCancelActivity()">Cancel</button>
          </div>

        </div>
      </div>
    </div>



    <div class="time-entry-form-row"
      style="display:flex;flex-direction:row;justify-content: flex-end; justify-self: flex-end;">
      <button class="btn btn-primary mx-2" (click)="onClickSaveTimelogEntry()">Save Time Entry</button>
      <button class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
    </div>
  </div>
</div>