.toolbar-root{
    width: 100%;
    border-bottom: 1px solid gray;
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.toolbar-button{
    outline: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 2px;
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0);

}
.toolbar-button:hover{
    border: 1px solid rgb(0, 89, 255);
    cursor: pointer;
}