<div *ngIf="!formSection.isExpanded" class="small-section">
    <div class="small-section-item" *ngIf="daybookEntryForm.wakeupSectionIsComplete">
        Awake for <span style="font-weight:bold;margin-left: 5px;">{{ daybookEntryForm.timeSinceWakeup }}</span>
        <app-sleep-battery style="margin-left:5px;" [configuration]="daybookEntryForm.batteryConfiguration"
            [shape]="small">
        </app-sleep-battery>
    </div>
</div>

<div *ngIf="formSection.isExpanded" class="expanded-section">
    <div style="display:flex;flex-direction: column; font-size:0.8em;">
        <div>Last night you slept for: {{ daybookEntryForm.sleepDurationShort }}</div>
        <div>Tomorrow you need to wake up at: 7:45am</div>
        <div>In order to achieve {{ daybookEntryForm.sleepDurationShort }} of sleep, you would need to fall asleep by:
            {{ daybookEntryForm.bedtime.format("h:mm a") }}</div>
    </div>
    <div class="input-row" [formGroup]="bedtimeForm">
        <fa-icon [icon]="faMinusCircle" class="icon-button" (click)="onClickChangeBedtime('SUBTRACT')">
        </fa-icon>
        <input type="time" class="time-input"  formControlName="bedtime" required>
        <fa-icon [icon]="faPlusCircle" class="icon-button" (click)="onClickChangeBedtime('ADD')">
        </fa-icon>
    </div>
    <div style="display:flex;flex-direction: row-reverse;">
        <button class="small-button active-button" (click)="onClickSave()">Save</button>
    </div>
</div>