
.activity-form-content-item{
    padding: 5px;
}

.activity-form{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.activity-form-row{
    margin: 1px 10px 1px 10px;
}

/* .activity-name-input-dropdown{
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    padding: 3px;
    min-width:200px;
}
.activity-name-input-dropdown-item{
    padding:4px;
    margin:1px;
    margin-left: 3px;
    margin-right: 3px;
    border-radius:12px;
    min-width: 194px;
    cursor: pointer;
} */
/* .activity-name-input-dropdown-item:hover{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:#efefef;
    cursor:pointer;
    border: 1px solid lime;
} */
/* .activity-name-input-dropdown-item:focus{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color:#efefef;
    cursor:pointer;
    border: 1px solid lime;
} */

.activity-action-buttons{
    align-self: flex-end; 
    order: 2;

    display:flex;
    align-items: flex-end; 
    justify-content: flex-end;
}
