<div class="activity-form-content-item">
  New Activity
</div>
<div [formGroup]="activityForm" class="activity-form activity-form-content-item">

  <div class="activity-form-row" style="display:flex; flex-direction: column;">
    <div class="input-group mb-1">
      <div class="input-group-prepend">
        <label class="input-group-text" >Activity</label>
      </div>
      <select (change)="onActivitySelectionChanged($event)"class="custom-select" *ngIf="activityTree">
        <option ></option>
        <option *ngFor="let activity of activityTree.allActivities" [value]="activity.treeId">{{ activity.name }}</option>
      </select>
      <select class="custom-select" *ngIf="!activityTree">
          <option selected ></option>
      </select>
    </div>
    <div style="align-self: flex-end;" *ngIf="ifShowCreateNewButton">
      <button class="btn btn-primary" (click)="onClickCreateNewActivity()">Create New Activity</button>
    </div>

  </div>

  <hr style="width:100%;" class="m-1">

  <div class="activity-form-row ">
    <div style="width:8em; align-self:flex-start;">
      Duration:
    </div>
    <div style="flex-grow: 2;">
      <input class="form-control" type="number" formControlName="duration">
      <div>
        <div>
          <fa-icon [icon]="faCheckCircle"></fa-icon> Entirety of the duration
        </div>
        <div>
          <fa-icon [icon]="faCircle"></fa-icon> Specific duration
        </div>
        <div>
          <fa-icon [icon]="faCircle"></fa-icon> Percentage
        </div>
      </div>
    </div>
  </div>
  <hr style="width:100%;" class="m-1">
  <div class="activity-form-row">
    <div style="width:8em;">
      Description:
    </div>
    <div style="flex-grow: 2;">
      <input class="form-control" type="text" formControlName="description" placeholder="Optional: add some details of this activity">
    </div>
  </div>

</div>
<div class="activity-action-buttons activity-form-content-item">
  <!-- <button class="btn btn-sm btn-success mx-1" (click)="onClickSaveActivity()" [disabled]="activityNameInputValue ? 'disabled' : ''">Save Activity</button> -->
  <button class="btn btn-sm btn-success mx-1" (click)="onClickSaveActivity()">Save Activity</button>
  <button class="btn btn-sm border-warning mx-1" (click)="onClickCancelActivity()">Cancel</button>
</div>