.selection-column-root{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    border-radius: 3px;
}
.active-root{
    
}
.active-root > .selection-row{
    cursor: grabbing;
}
.active-root > .available-row{
    background-color: rgba(0, 117, 185, 0.05);
}

.selection-row{
    flex-grow: 2;
    border-top: 1px solid rgba(0, 117, 185, 0);
}
.available-row{
    background-color: rgba(0, 162, 255, 0.01);
    cursor: grab;
}
.available-row:hover{
    border-top: 1px solid rgb(0, 117, 185);
    /* background-color: rgba(0, 162, 255, 0.658); */
}


.draw-time-delineator-container{
    width:100%; 
    height: 0px; 
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.draw-time-delineator{
    background-color: rgba(247, 251, 255, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
    margin-top: -10px;
}



.saved-time-delineators-container{
    width:100%;
    height:100%;

    display:grid;
    grid-template-columns: 1fr;
}

.saved-delineator-container{
    height:0px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.saved-delineator{
    background-color: rgba(255, 254, 247, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
    margin-top: -10px;
}
.saved-delineator:hover{
    background-color: red;
    cursor: pointer;
}