


.activity-body{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    font-size:0.8em;
    margin-right:0px;
    padding-right:0px;
}


.activity-list-item{
    padding: 1px;

    margin: 2px;
    margin-left: 12px;
    margin-right: 0px;
    padding-right: 0px;
    border-radius:3px;
    flex-grow:2;
    border: 1px solid black;
    /* border: 1px solid rgb(223, 223, 223); */
}
.activity-list-item:hover{

    box-shadow: 0px 0px 2px 2px rgb(255, 255, 255);
    cursor: pointer;
}

.activity-control{
    color: rgb(126, 126, 126);
    padding-left:3px;
    padding-right:3px;
}
.activity-control:hover{
    cursor:pointer;
    color: lime;
}