<div class="sleep-manager-root">
    <div class="item"> 
        <app-sm-wakeup-time *ngIf="action === 'WAKEUP_TIME'" class="item">
        </app-sm-wakeup-time>
    
        <app-sm-prev-fall-asleep-time *ngIf="action === 'PREV_FALL_ASLEEP_TIME'" class="item">
    
        </app-sm-prev-fall-asleep-time>
        <app-sm-sleep-duration *ngIf="action === 'SLEEP_DURATION'" class="item"></app-sm-sleep-duration>
    
        <app-sm-energy-at-wakeup *ngIf="action === 'ENERGY_WAKEUP'" class="item">
        </app-sm-energy-at-wakeup>
    
        <app-sm-bedtime *ngIf="action === 'BEDTIME'" class="item">
        </app-sm-bedtime>
    
        <app-sm-dreams *ngIf="action === 'DREAMS'" class="item">
        </app-sm-dreams>
    </div>
    


    <div class="buttons-container">
        <div style="width: 50px;">
            <button class="medium-button discard-button" style="font-size: 1.5em;" (click)="onClickBack()" *ngIf="showBackButton">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </button>
        </div>
        <div style="width: 50px;">
            <button class="medium-button discard-button" style="font-size: 1.5em;" (click)="onClickForward()">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
        </div>
    </div>
</div>