<div class="clock-container">

    <div style="color: gray; font-size: 0.8em; align-self: flex-end; margin-bottom: 5px;">
        {{ currentDate }}
    </div>
    <div style="color: rgb(0, 89, 255); font-weight: bold; font-size: 2.2em; display:flex;flex-direction: row;justify-content: center;">
        {{ currentTime }}
    </div>

</div>
<div style="border-top: 1px solid rgb(216, 216, 216); width: 100%; margin-top: 25px; margin-bottom: 15px; height: 1px;"></div>


<div *ngIf="isAfterBedtime">
    It's nearly bedtime.
</div>

<div *ngIf="isAfterBedtime">
    It's after bedtime.
</div>

<div *ngIf="isSleepTime">
    Sleep time.
    <fa-icon [icon]="faCloudMoon" style="color: rgb(0, 27, 78); font-size: 2.0em;"></fa-icon>
</div>

<div *ngIf="isEarlyWakeup">
    Early wakeup!
</div>

<app-sleep-manager-form *ngIf="newDataRequired"></app-sleep-manager-form>