.timelog-entry-form-root{
    padding:5px;
}

.section-header{
    font-size:0.9em;
    color:gray;
}

.section{
    border-bottom: 1px solid rgb(201, 201, 201);
}
.current-time{

    font-weight:bold;
    color:rgb(0, 73, 168);
    font-size:16pt;
}
.activity-name{
    flex-grow:2; 
    padding-left:4px;
    padding-right:4px;
    border-radius:4px;
    border: 1px solid rgb(241, 241, 241);
    height:100%;
}

.buttons-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:5px;
}    



.activity{
    height:100%;
    flex-grow: 2;
}

.clean-input{
    width:100%;
    border:none;
}



