<div class="task-queue-root">
    <div class="header">
        Task Queue
    </div>
    <div class="body">
        <div *ngIf="loading">
            <div>
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            </div>
        </div>
        <div *ngIf="!loading">
            <div *ngIf="taskQueue.length > 0">
                <div *ngFor="let task of taskQueue" class="task">
                    <div class="task-number">
                        {{ taskNumber(task) }}
                    </div>
                    <div>
                        {{ task.title }}
                    </div>

                </div>
            </div>
            <div *ngIf="taskQueue.length == 0">
                No tasks in the queue;
            </div>
        </div>

    </div>

</div>