

<div class="root">
    <div style="color: gray; font-style: italic; text-align: center;">
        This will permanently delete all instances of this activity saved in the timelog and also delete this activity definition from the activity tree.
    </div>
    <div style="margin-top: 10px; width: 100%; display:flex;flex-direction: row; justify-content: center;">
        <app-delete-confirm-button [label]="'Permanently Delete'" (delete)="onDeleteActivity()"></app-delete-confirm-button>
    </div>
</div>

