<div class="sleep-profile-form-root">

    <!-- <div class="profile-item" *ngIf="previousBedTimeIsSet">
        <div style="font-size: 0.7em; color:gray;">Previous Bedtime</div>
        <div style="color:rgb(0, 89, 255); font-size:0.8em; font-weight: bold;">{{ previousBedTime.format('YYYY-MM-DD hh:mm a') }}</div>
    </div> -->


    <div class="profile-item" *ngIf="isEditingWakeupTime">
        <div class="row-buffer">
            <fa-icon *ngIf="!wakeupTimeIsSet" [icon]="faExclamationTriangle" style="color: rgb(206, 206, 206);">
            </fa-icon>
        </div>
        <div style="display:flex;flex-direction: column;">
            <div style="margin-bottom:5px;">What time did you wake up this morning?</div>

            <div style="display:flex;flex-direction: row;">
                <app-time-input [timeValue]="wakeupTime" [minValue]="wakeupTimeMin" [maxValue]="wakeupTimeMax"
                    (timeChanged)="onWakeupTimeChanged($event)"></app-time-input>
            </div>

        </div>
        <div class="row-buffer"></div>
    </div>


    <!-- <div class="profile-item profile-item-complete" *ngIf="!isEditingWakeupTime && wakeupTimeIsSet"
        (click)="isEditingWakeupTime = true">
        <div>Wake up time:</div>
        <div>{{ wakeupTime.format('hh:mm a') }} </div>
    </div> -->

    <div class="profile-item" *ngIf="isEditingBedTime">
        <div class="row-buffer">
            <fa-icon *ngIf="!bedTimeIsSet" [icon]="faExclamationTriangle" style="color: rgb(206, 206, 206);">
            </fa-icon>
        </div>
        <div style="display:flex;flex-direction: column;">
            <div style="margin-bottom:5px;">What time is bed time?</div>
            <div style="display:flex;flex-direction: row;">
                <app-time-input [timeValue]="bedTime" [minValue]="bedTimeMin" [maxValue]="bedTimeMax"
                    (timeChanged)="onBedTimeChanged($event)"></app-time-input>
            </div>

        </div>

        <div class="row-buffer"></div>
    </div>
    <!-- <div class="profile-item profile-item-complete" *ngIf="!isEditingBedTime && bedTimeIsSet"
        (click)="isEditingBedTime = true">
        <div>Bed Time:</div>
        <div>{{ bedTime.format('hh:mm a') }} </div>
    </div> -->


    <div style="display: flex;flex-direction: row-reverse;">
        <button class="medium-button" (click)="onClickSaveSleepProfile()">Save Sleep Profile</button>
    </div>

</div>