<p>
  idea-log works!
</p>
<div class="m-5 test" style="width: 400px; background-color: rgb(212, 250, 212);" >
  Here's an idea:
  <br>
  For each activity, have options to set goals.  e.g. go to video games and see that you are playing on average 12 hours of video games per week.
  From there, you can click the "Set a goal?" button, and go through the Goal Setting wizard to create a S.M.A.R.T. Goal (what is a SMART goal anyways?), 
  to increase or decrease the number of hours spent on any given activity.<hr>
  e.g. Exercise? set goal for minimum of 3 hours per week.  
  e.g. Video games? set goal for maximum of 12 hours per week.  
  <hr>
  Maybe set 3 grades of goals :easy, medium, difficult, or "lazy, average, hard-working", or maybe a better word is "relaxed";
  <hr>
  
  Specific (simple, sensible, significant).<br>
  Measurable (meaningful, motivating).<br>
  Achievable (agreed, attainable).<br>
  Relevant (reasonable, realistic and resourced, results-based).<br>
  Time bound (time-based, time limited, time/cost limited, timely, time-sensitive).<br>
  <hr>
  https://www.mindtools.com/pages/article/smart-goals.htm

</div>