<div class="root">


  <div class="idea-log">


    <div class="idea">
      <div class="idea-header" style="background-color: rgb(219, 255, 249);">
        Activity time accounting and goal setting
      </div>
      <p class="idea-description">
        For each activity, have options to set goals. e.g. go to video games and see that you are playing on average 12
        hours
        of video games per week.
        From there, you can click the "Set a goal?" button, and go through the Goal Setting wizard to create a
        S.M.A.R.T. Goal
        (what is a SMART goal anyways?),
        to increase or decrease the number of hours spent on any given activity.

        e.g. Exercise? set goal for minimum of 3 hours per week.
        e.g. Video games? set goal for maximum of 12 hours per week.

        Maybe set 3 grades of goals :easy, medium, difficult, or "lazy, average, hard-working", or maybe a better word
        is
        "relaxed";
      </p>
      <p class="idea-example">
        Specific (simple, sensible, significant).
        Measurable (meaningful, motivating).
        Achievable (agreed, attainable).
        Relevant (reasonable, realistic and resourced, results-based).
        Time bound (time-based, time limited, time/cost limited, timely, time-sensitive).

        https://www.mindtools.com/pages/article/smart-goals.htm
      </p>
    </div>


    <div class="idea">
      <div class="idea-header" style="background-color: rgb(238, 255, 219);">
        Leave Comments From Yourself
      </div>
      <p class="idea-description">

        in balanceboard, as you browse through past and maybe future days or events, you can leave comments from
        yourself from whatever the current date.
      </p>


      <p class="idea-example">

        E.G.
        You write a simply journal or note or story or something, or have a picture of something, or it could be
        anything.
        It's 2019 and you leave a comment on this thing 1 week later saying something like "haha that was funny"

        then 5 or 10 years later, its ~2025 and you decide to take a browse down memory lane, and you stumble upon this
        comment,
        and you leave another comment about it this many years later, saying "I don't actually remember this being so
        funny", or maybe
        "oh man that Was funny, i am glad i took the time to remember this one." "maybe remind me in a year about this
        one".
      </p>

      <div class="idea">
        <div class="idea-header">
          Creation of anything good
        </div>
        <div class="idea-description">
          creating anything good:  is this how it works ?:

          you don't focus on creating the end result, because that will come automatically.
          you do focus on working hard to create favorable conditions for positive growth.

          

        </div>
        <div class="idea-example">
          example: growing a garden: your job is to create the best growing conditions, and the plants will do the rest

          would this apply also to raising an adult
          would this apply also to creating projects?
        </div>
        <div>
          Cause of inspiration? 

          I was reading about some abandoned cities in China and then I started thinking about "planned cities" and whether or not that was a viable means to "create" a city
        </div>
      </div>


      <div class="idea">
        <div class="idea-header">
          b
        </div>
        <div class="idea-description">

        </div>
        <div class="idea-example">

        </div>
      </div>

    </div>



    <div class="idea">
      <div class="idea-header">
        idea
      </div>
      <div class="idea-description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quaerat eos tempora delectus eveniet facere
        beatae possimus? Delectus voluptates corporis a quam possimus officiis alias voluptatibus, minima tempora
        repudiandae rerum, deleniti quidem vitae! Autem sed itaque dolores et expedita soluta, ipsum ex exercitationem
        quia excepturi dolorum quae, iure error molestias animi temporibus? Dicta officia laborum dolores dolorum
        dignissimos tenetur molestiae minus consequuntur assumenda qui aut animi recusandae nesciunt et aperiam autem
        magni, nobis placeat reprehenderit iure. Recusandae eum assumenda repudiandae vero eos, neque accusamus hic
        repellendus vel voluptas cupiditate necessitatibus officia delectus tempore, architecto molestias quo beatae
        alias. Similique, quae.


      </div>
      <div class="idea-example">

      </div>
    </div>

    <div class="idea">
      <div class="idea-header">
        idea
      </div>
      <div class="idea-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ea, perferendis aliquid, ad nam quidem earum
        tempora odit a consequatur omnis nihil, facilis rem alias laborum quibusdam nostrum minima? Cupiditate debitis
        fugiat quidem fuga blanditiis, omnis asperiores iure quisquam quae, alias voluptatum. Architecto, ex. Quae
        blanditiis aspernatur accusantium, delectus ratione voluptatem? Dolor veniam facilis deleniti corrupti officia
        minus quibusdam ipsa! Et voluptatem delectus ullam officiis error exercitationem illo esse dolorem earum libero
        laudantium, maxime aliquam deserunt doloribus quae nihil harum ratione ipsa praesentium! Fuga ab in neque eum
        consequatur asperiores quo vitae, ducimus, rerum doloremque rem eos minima quisquam voluptate?

      </div>
      <div class="idea-example">

      </div>
    </div>

    <div class="idea">
      <div class="idea-header">
        idea
      </div>
      <div class="idea-description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, eum explicabo ipsa non eaque commodi? Eum quos
        cum autem officia veritatis provident expedita, omnis repellat deleniti vel dolorum nihil voluptate laborum
        totam minima quam commodi nemo delectus, a at. Consectetur obcaecati enim aliquam ad odit accusamus incidunt
        voluptatum. Corrupti itaque repellat accusantium nemo ad dicta sapiente eius illum ullam totam odio quidem modi
        tempora dolores laborum sit necessitatibus aut, quaerat nobis. Totam obcaecati explicabo, harum fuga
        perspiciatis blanditiis deserunt nihil provident odio architecto distinctio dolorum debitis eius omnis accusamus
        repudiandae alias placeat quas molestias possimus earum odit voluptatem. Mollitia, aperiam.

      </div>
      <div class="idea-example">

      </div>
    </div>

  </div>





</div>