.root{
    padding:2px;
    height:100%;
}
.day-template{
    height:100%;
    font-size:0.8em;
    display:flex;
    flex-direction: column;
    border: 1px solid gray; 
    background-color:#fafafa;
}
.header{
    width:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}
.template-information{
    flex-grow:2;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
}
.unspecified-template{
    border-radius:5px;
    padding:5px;
    color:gray;
}
.unspecified-template:hover{
    background-color: rgb(206, 206, 206);
    cursor:pointer;
    color:black;
}