<div class="root">
  <div class="loading" *ngIf="ifLoading">
    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
  </div>
  <div class="heatmap" *ngIf="!ifLoading">
    <div class="heatmap-grid">
      <div class="filler"></div>
      <div *ngFor="let topItem of topItems" class="top-item">{{ topItem }}</div>
      <div *ngFor="let sideItem of sideItems" class="side-item">{{ sideItem }}</div>
      <div *ngFor="let contentItem of contentItems" class="content-item" [ngStyle]="contentItem.style">
      </div>
    </div>
  </div>
  
</div>