.notepad-root{

    display:flex;
    flex-direction: column;
    
    height:420px;
}


.notepad-body{
    flex-grow: 2;
    display:flex;
    flex-direction: column;
    padding:5px;
}
.body-row{
    width:100%;
}

.note-body{
    width:100%;
    height:100%;
    border:none;
    resize: none;
}

.notepad-buttons{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:5px;

    border-top: 1px solid rgb(196, 196, 196);
}    



.notepad-input{
    width:100%;
    border:none;
}