<div class="card border-primary">
  <div class="card-header">
    <span *ngIf="today">{{today.format('MMM Do, YYYY')}}</span>
    <button class="btn btn-outline-primary btn-light btn-sm float-right" (click)="onClickMonth()">
        <i class="fa fa-calendar"></i> Month</button>
  </div>
  <div class="card-body">
    <button class="btn btn-sm btn-light btn-outline-success my-1" (click)="onClickMarkTime()">Add Time Mark</button>
    <svg #svgDayView [attr.viewBox]="viewBox" width="100%">

      <g *ngFor="let timeSegment of timeSegments">
        <path [ngStyle]="timeSegment.style" [attr.d]="timeSegment.path" />
        <text [attr.x]="timeSegment.text_x" [attr.y]="timeSegment.text_y" class="dayDateDisplay">{{ timeSegment.text_string }}</text>
      </g>
      <line *ngIf="nowLine" [attr.x1]="nowLine.x1" [attr.x2]="nowLine.x2" [attr.y1]="nowLine.y1" [attr.y2]="nowLine.y2" [ngStyle]="{'stroke':'red','stroke-width':'2'}"
      />
      <g *ngIf="activeEventActivityRect">
        <rect [attr.x]="activeEventActivityRect.x" [attr.y]="activeEventActivityRect.y" [attr.width]="activeEventActivityRect.width"
          [attr.height]="activeEventActivityRect.height" [attr.rx]="activeEventActivityRect.rx" [attr.ry]="activeEventActivityRect.ry"
          [ngStyle]="activeEventActivityRect.style" />
      </g>
      <g *ngFor="let eventRect of eventRects" (click)="onClick(eventRect)" (mouseenter)="onMouseEnter(eventRect)" (mouseleave)="onMouseLeave(eventRect)">
        <rect [attr.x]="eventRect.x" [attr.y]="eventRect.y" [attr.width]="eventRect.width" [attr.height]="eventRect.height" [attr.rx]="eventRect.rx"
          [attr.ry]="eventRect.ry" [ngStyle]="eventRect.style" />
      </g>
      <line *ngIf="marginLine" [attr.x1]="marginLine.x1" [attr.x2]="marginLine.x2" [attr.y1]="marginLine.y1" [attr.y2]="marginLine.y2"
        [ngStyle]="{'stroke':'black','stroke-width':'0.5'}" />

    </svg>

  </div>
</div>