<div class="row">
  <div class="col-12 text-center"><h3 *ngIf="today">{{today.format('MMM Do, YYYY')}}</h3></div>
</div>
<div class="row">
  <div class="col-12">
    <svg #svgDayView [attr.viewBox]="viewBox" width="100%">
   
      <g *ngFor="let timeSegment of timeSegments">
        <path [ngStyle]="timeSegment.style" [attr.d]="timeSegment.path" />
        <text [attr.x]="timeSegment.text_x" [attr.y]="timeSegment.text_y" class="dayDateDisplay">{{ timeSegment.text_string }}</text>
      </g>
      <g *ngIf="activeEventActivityRect">
          <rect [attr.x]="activeEventActivityRect.x" [attr.y]="activeEventActivityRect.y" [attr.width]="activeEventActivityRect.width" [attr.height]="activeEventActivityRect.height"
            [attr.rx]="activeEventActivityRect.rx" [attr.ry]="activeEventActivityRect.ry" [ngStyle]="activeEventActivityRect.style" />
        </g>
      <g *ngFor="let eventRect of eventRects" (click)="onClick(eventRect)" (mouseenter)="onMouseEnter(eventRect)" (mouseleave)="onMouseLeave(eventRect)">
        <rect [attr.x]="eventRect.x" [attr.y]="eventRect.y" [attr.width]="eventRect.width" [attr.height]="eventRect.height"
          [attr.rx]="eventRect.rx" [attr.ry]="eventRect.ry" [ngStyle]="eventRect.style" 
          />
      </g>
      <line *ngIf="marginLine" [attr.x1]="marginLine.x1" [attr.x2]="marginLine.x2" [attr.y1]="marginLine.y1" [attr.y2]="marginLine.y2" [ngStyle]="{'stroke':'black','stroke-width':'0.5'}" />
    </svg>
  </div>
  <!-- <div class="col-4">
    <h4>Event List</h4>
    <table class="table table-sm">
      <tr><td>Start Time</td><td>End Time</td><td>Description</td><td>Category</td></tr>
      <tr *ngFor="let event of eventList">
        <td>{{event.startTime.format('hh:mm:ss a')}}</td>
        <td>{{event.endTime.format('hh:mm:ss a')}}</td>
        <td>{{event.description}}</td>
        <td>{{event.category}}</td>
      </tr>
    </table>
  </div> -->
</div>

  
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Body
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>