Enter your height to calculate ideal body weight
<br>
<form [formGroup]="heightForm">
  <!-- <div class="form-row my-1"> -->
  <div class="row my-1">
    <div class="col-12">
      <label class="col-form-label">Height
        <div class="badge badge-dark" (click)="onClickHeightUnits()">{{ heightUnits }}</div>
      </label>

    </div>
  </div>
  <div class="form-group row my-1" *ngIf="heightUnits=='Imperial'">

    <div class="col-sm-6">
      <div class="input-group">
        <input type="number" class="form-control height-input" formControlName="heightFt" placeholder="0">
        <div class="input-group-addon">
          <div class="input-group-text ">ft</div>
        </div>

      </div>

    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input type="number" class="form-control height-input" formControlName="heightIn" placeholder="0">
        <div class="input-group-addon">
          <div class="input-group-text ">in</div>
        </div>

      </div>

    </div>
  </div>
  <div class="row my-1" *ngIf="heightUnits=='Metric'">
    <div class="col-12">
      <div class="input-group">
        <div class="input-group">
          <input type="number" class="form-control height-input" formControlName="heightCm" placeholder="0">
          <div class="input-group-addon units-button">
            <div class="input-group-text ">cm</div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <button class="btn btn-success btn-sm" (click)="onClickSubmitHeight()">Save Height</button>
</form>