<div class="tools-root" >
  <div class="tool" *ngIf="ifToDo" [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        New to-do item
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-todo></app-todo>
    </div>
  </div>

  <div class="tool" *ngIf="ifNotepad" [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        Notepad
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-notepad></app-notepad>
    </div>
  </div>



</div>