

.sleep-section-root{
    width:100%;
    display:flex;
    flex-direction: column;
}

.header{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-weight:bold;
    color: rgb(0, 81, 255);
    font-size: 0.9em;
}
.expanded-section{
    width:100%;
    display:flex;
    flex-direction: column;
}
.small-section{
    display:flex;
    flex-direction: column;
    padding-left:15px;
}
.small-section-item{
    display:flex;
    flex-direction: row;
    font-size:0.8em;
    color:gray;
}

.sleep-section{
    width:100%;
    display:flex;  
    flex-direction: column;
    padding: 5px;
    margin-bottom:5px;
    /* border-bottom: 1px solid gray; */
}
.sleep-section-small{
    display:flex;
    flex-direction: row;
    width:100%;
    padding: 5px;
    margin-bottom:2px;
    font-size:0.9em;
    color:gray;
}

.section-row{
    display:flex;
    flex-direction: column;
    width:100%;
    margin-bottom: 3px;
}

.input-row{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.time-input{
    margin-left:5px;
    margin-right:5px;
    border-radius:3px;
    border: 1px solid gray;
}

.sleep-quality{
    font-size:1.3em;
    margin-right:2px;
    cursor: pointer;
    color: rgb(215, 215, 215);
}

.sleep-quality-very-poor{
    color: rgb(0, 16, 37);
}
.sleep-quality-poor{
    color: rgb(0, 38, 83);
}
.sleep-quality-okay{
    color: rgb(0, 57, 131);
}
.sleep-quality-well{
    color: rgb(0, 83, 190);
}
.sleep-quality-very-well{
    color: rgb(0, 110, 255);
}

.small-button{
    border: 1px solid rgb(0, 89, 255);
    color: rgb(0, 89, 255);
}
.small-button:hover{
    border: 1px solid rgb(0, 89, 255);
    color: white;
}