.root{
    width:100%;
    height: 100vh;

    

    display:flex;
    flex-direction:row;
    justify-content: center;
}


.year-view{
    /* width:800px; */
    /* width:100%; */
    height:100%;

    max-width: 1160px;

    background-color: rgb(204, 204, 204);


    
    display:grid;
    grid-template-rows: 50px repeat(3, 250px);
    grid-template-columns: repeat(4, 290px);
}
.year-view-header{
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
}

.month{
    border: 1px solid black;
    padding:10px;
    width: 100%;
    height:100%;
    background-color: rgb(236, 236, 236);
}

@media (max-width: 597px){
    .year-view{
        display:grid;
        grid-template-rows: 50px repeat(12, 250px);
        grid-template-columns: repeat(1, 290px);
    }

}

@media (min-width: 598px) and (max-width: 1136px){
    .year-view{
        display:grid;
        grid-template-rows: 50px repeat(6, 250px);
        grid-template-columns: repeat(2, 290px);
    }

}

@media (min-width: 1137px){
    .year-view{
        display:grid;
        grid-template-rows: 50px repeat(4, 250px);
        grid-template-columns: repeat(3, 290px);
    }

}

@media (min-width: 1410px){
    .year-view{
        display:grid;
        grid-template-rows: 50px repeat(3, 250px);
        grid-template-columns: repeat(4, 290px);
    }

}