<div class="item-root">
    <div style="display:flex;flex-direction: column; align-items: center;">
        <div style="margin-bottom: 20px; text-align: center;font-size: 1.0em; width: 75%;">
            About what percent of this period were you asleep?
        </div>
        <app-slider-bar style="width: 100%;" (valueChanged)="onSliderValueChanged($event)"></app-slider-bar>
        <div class="sleep-percent-container">
            <span class="sleep-percent">{{ sleepPercent }} %</span>
        </div>
    </div>
    <div class="sleep-duration-container">
        <div style="font-size: 0.8em; font-style: italic; text-align: center;">Effective sleep duration</div>
        <div class="sleep-duration">{{ effectiveSleepDuration }}</div>
    </div>
</div>