<div class="timelog-body-grid-container no-select">
    <div class="timelog-body-root" id="timelog-body-root">


        <div class="guide-line-hours">
            <div *ngFor="let hour of guideLineHours" class="guide-line-hour" [ngStyle]="hour.ngStyle">
                <div class="guide-line-hour-label">
                    {{ hour.label }}
                </div>
                <div class="guide-line-hour-line" [ngClass]="hour.lineNgClass"></div>
            </div>
        </div>

        <div *ngIf="gridItems.length > 0 " [ngStyle]="gridItemsNgStyle" class="grid-items">
            <div *ngFor="let gridItem of gridItems" class="grid-item"
                [ngClass]="{'active-tlef': gridItem.isActiveFormItem}">

                <div *ngIf="showNowLine(gridItem)" class="now-line"></div>

                <app-available-timelog-item *ngIf="gridItem.isAvailable" class='available-item'
                    [gridItem]="gridItem"></app-available-timelog-item>

                <app-timelog-entry *ngIf="gridItem.isTimelogEntry" style="flex-grow: 2;" 
                    [gridItem]="gridItem"></app-timelog-entry>

                <div *ngIf="gridItem.isSleepEntry" class='sleep-item' (click)="onClickGridItem(gridItem)">
                </div>
            </div>
        </div>
        <div *ngIf="isDrawingNewTLE" class="draw-timelog-entry-container">
            <app-draw-tle></app-draw-tle>
        </div>
<!-- 
        <div class="center-message" *ngIf="isFresh">
            <button class="medium-button" (click)="onClickStart()">Start</button>
        </div> -->

        <app-time-selection-column  style="grid-row: 1 / -1; grid-column: 2 / span 1;"></app-time-selection-column>

    </div>
</div>