<div class="notepad-root">
  <div class="notepad-body" [formGroup]="notepadForm">
    <div class="body-row">
      <div class="static-date" *ngIf="!setDate" (click)="onClickSetDate()">
          {{ date }}
      </div>
      <div *ngIf="setDate">
        <input type="date" formControlName="journalDate" class="clean-input">
      </div>
    </div>
    <div class="body-row">
      <input type="text" formControlName="title" placeholder="Title" class="notepad-input" style="font-weight:bold;">
    </div>
    <div class="body-row" style="flex-grow:2;">
      <textarea formControlName="noteBody" class="note-body" placeholder="Type something..."></textarea>
    </div>
    <div class="body-row">
      <input type="text" formControlName="tags" placeholder="tags" class="notepad-input" style="font-weight:bold;color:rgb(18, 110, 67)" >
    </div>
  </div>
  <div class="notepad-buttons">
    <button class="btn btn-primary btn-sm" (click)="onClickSaveNote()" [disabled]="saveDisabled">Save</button>
    <button class="btn btn-secondary btn-sm" (click)="onClickCloseNotepad()" style="margin-left:5px;">Cancel</button> 
  </div>
</div>