<div class="cumulative-hours-root">

    <div style="display:flex;flex-direction: row; justify-content: space-between;margin-bottom: 10px;">
        <app-button-menu [menu]="modeMenu" style="width: 250px;"></app-button-menu>
        <app-button-menu [menu]="chartMenu" style="width: 250px;"></app-button-menu>
    </div>

    <div class="items" *ngIf="itemsAreCumulative">
        <div class="item-container" *ngFor="let item of chartItems">
            <div [ngStyle]="item.ngStyle" class="chart-item" (mouseenter)="item.onMouseEnter()"
                (mouseleave)="item.onMouseLeave()">
                <div class="popup-display-container">
                    <div *ngIf="item.mouseIsOver" class="popup-display">
                        <div class="text-above" *ngIf="isWeeklyChart">Week of {{ item.displayTime }}</div>
                        <div class="text-above" *ngIf="isDailyChart">{{ item.displayTime }}</div>
                        <div style="align-self: center;">
                            + {{ item.value }} <span style="margin-left: 2px;">{{ item.units }}</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="items" *ngIf="!itemsAreCumulative">
        <div class="item-container" *ngFor="let item of chartItems">
            <div [ngStyle]="item.ngStyle" class="chart-item" (mouseenter)="item.onMouseEnter()"
                (mouseleave)="item.onMouseLeave()">

                <div class="popup-display-container">
                    <div *ngIf="item.mouseIsOver" class="popup-display">
                        <div class="text-above" *ngIf="isWeeklyChart">Week of {{ item.displayTime }}</div>
                        <div class="text-above" *ngIf="isDailyChart">{{ item.displayTime }}</div>
                        <div style="align-self: center;">
                            {{ item.value }} <span style="margin-left: 2px;">{{ item.units }}</span>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</div>