<div class="scheduling-form-root">
    Scheduling form
    <div class="scheduling-form">
        <div class="scheduling-form-row">
            Every 1 day in the morning
        </div>
        <div class="scheduling-form-row">
            Every 2 weeks in the evening
        </div>
        <div class="scheduling-form-row">
            3 times per week, 20 minutes per occurrence
        </div>
        <div class="scheduling-form-row">
            Every 1 day any time for 
        </div>
        <div class="scheduling-form-row">
            Every 1 day in the morning
        </div>
        <div>
            Time of day, days of week, time of year, days of month, for duration target.
            duration target only applies to activities of type duration
        </div>
    </div>
</div>