<div class="scheduling-form-root font-family-open-sans" stlye="font-size:0.9em;">
    Scheduling form
    <div class="scheduling-form">
        <div class="scheduling-form-row">

        </div>
        <!-- <div class="scheduling-form-row">
            Every 1 day in the morning
        </div>
        <div class="scheduling-form-row">
            Every 2 weeks in the evening
        </div>
        <div class="scheduling-form-row">
            3 times per week, 20 minutes per occurrence
        </div>
        <div class="scheduling-form-row">
            Every 1 day any time for 
        </div>
        <div class="scheduling-form-row">
            Every 1 day in the morning
        </div>
        <div>
            Time of day, days of week, time of year, days of month, for duration target.
            duration target only applies to activities of type duration
        </div> -->
    </div>
    <div *ngIf="scheduleConfiguration" style="display:flex;flex-direction: column;">
        <div>Schedule Configuration</div>
        <div style="color:gray;font-size:0.9em;">
            This activity repeats on the following conditions:
        </div>
        <div>
            Every <span style="font-weight:bold;color: blue;">{{ scheduleConfiguration.timeFrameFrequency }}</span>
            <span style="font-weight:bold; color:red;">{{ scheduleConfiguration.timeUnitFrame }}</span>

        </div>

        <div *ngFor="let occurrence of scheduleConfiguration.scheduledOccurrences" style="margin-left: 10px;">
            {{ occurrence.timeOfDayQuarter }}
        </div>

    </div>
</div>