<div class="root">
  <div class="user-settings">
    <h3>User Settings</h3>
    <hr>
      <div *ngIf="ifLoading">
        Loading
      </div>
      <div *ngIf="!ifLoading">
        <div class="user-setting" >
          <div class="user-setting-label">
            Night Mode
          </div>
          <div class="user-setting-switch" (click)="onClickNightMode()">
            <input type="checkbox" class="toggle-button" [checked]="nightModeSetting.booleanValue">
            <!-- <span class="slider round"></span> -->
          </div>
        </div>
      </div>
      
    
  </div>
</div>