<div class="form-root">
    <div class="form-header">
        <div style="flex-grow: 2; display: flex;flex-direction: row;">
            <div style="font-size:1.2em;font-weight: bold;">
                {{ newDate }}
            </div>
            <div style="font-size:0.8em; color: gray; margin-left: 15px;">
                {{ dayOfTheYear }}
            </div>
        </div>
        
        <div>
            <fa-icon [icon]="faCog" class="icon-button" style="font-size: 0.8em;"></fa-icon>
            <fa-icon [icon]="faTimes" class="icon-button " (click)="onClickClose()" style="margin-left: 10px;"></fa-icon>
        </div>
    </div>

    <div *ngIf="isNewDay">
        <app-tlef-wakeup-time (wakeupTimeChanged)="onWakeupTimeChanged($event)"></app-tlef-wakeup-time>
    </div>
    <div *ngIf="isApproachingSleep">
        Approaching Sleep.  Case is unhandled.

        <br>
        Prompt user:  are you planning on going to sleep soon?  if so, when?
    </div>

    <div *ngIf="isUnclear">
        It was unclear what the situation.  This occurs when it is somewhere close to the middle of the sleep period.<br>
        In this case, we need to know whether the user is waking up really early, or if they are still awake from previous day.

    </div>


    <div class="form-footer">
        <button class="medium-button save-button" (click)="onClickContinue()" style="display:flex;flex-direction: row; align-items: center; justify-content: center;">
            <fa-icon [icon]="faArrowRight" style="font-size:1.2em;"></fa-icon>
        </button>
        <!-- <button class="medium-button discard-button" (click)="onClickDiscard()">Discard</button> -->
    </div>
</div>