<div class="daybook-entry-form-root font-family-open-sans no-select">
  <!-- <div class="close-form-button"><fa-icon [icon]="faTimes" class="icon-button" style="padding-top: 5px;padding-right:5px;display: flex;" (click)="onClickCloseTool()"></fa-icon></div> -->
  <div class="form-body">
    <div class="weekday-buttons">
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'SUNDAY', 'weekday-button-acttive': activeWeekDay == 'SUNDAY'}"
        (click)="onClickWeekday('SUNDAY')">S</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'MONDAY', 'weekday-button-acttive': activeWeekDay == 'MONDAY'}"
        (click)="onClickWeekday('MONDAY')">M</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'TUESDAY', 'weekday-button-acttive': activeWeekDay == 'TUESDAY'}"
        (click)="onClickWeekday('TUESDAY')">T</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'WEDNESDAY', 'weekday-button-acttive': activeWeekDay == 'WEDNESDAY'}"
        (click)="onClickWeekday('WEDNESDAY')">W</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'THURSDAY', 'weekday-button-acttive': activeWeekDay == 'THURSDAY'}"
        (click)="onClickWeekday('THURSDAY')">T</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'FRIDAY', 'weekday-button-acttive': activeWeekDay == 'FRIDAY'}"
        (click)="onClickWeekday('FRIDAY')">F</div>
      <div class="weekday-button"
        [ngClass]="{'weekday-button-current': currentWeekDay == 'SATURDAY', 'weekday-button-acttive': activeWeekDay == 'SATURDAY'}"
        (click)="onClickWeekday('SATURDAY')">S</div>
    </div>
    <div class="message-section">
      <div class="message-body">
        <span style="font-size:1.2em;">{{ daybookEntryForm.message }}</span><br>
        <span>{{ daybookEntryForm.currentTime.format("dddd, MMM Do YYYY")}}</span>
        <span class="prominent-data">{{ daybookEntryForm.currentTime.format("h:mm:ss a")}}</span>
      </div>
    </div>

    <div class="daybook-badge-items-container">
      <div class="daybook-badge-items">
        <!-- <div style="font-size: 0.9em; color: gray;">
              Daily
            </div> -->
        <div class="daybook-badge-item">$0</div>
        <div class="daybook-badge-item">170 lbs</div>
        <div class="daybook-badge-item">
          <fa-icon [icon]="faCoffee"></fa-icon> 2
        </div>
        <div class="daybook-badge-item">
          <fa-icon [icon]="faCannabis"></fa-icon> 10
        </div>

      </div>

    </div>
    <app-daybook-entry-form-section class="form-section" *ngFor="let formSection of daybookEntryForm.formSections"
      [daybookEntryForm]="daybookEntryForm" [formSection]="formSection"></app-daybook-entry-form-section>



  </div>

  <div class="form-controls">
    <button class="small-button" (click)="onClickCloseTool()">Close</button>
  </div>
</div>