.slider-bar-root{
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;

    
}
.slider-bar{
    width: 100%;

    height: 15px;
    border: 1px solid rgb(221, 221, 221);
    border-radius:3px;
    display:grid;
    grid-template-rows: auto;
    /* be aware: this following number 50 must needs to be the same value as ActivitySliderBar.units */
    grid-template-columns: repeat(50, 1fr);

}

.cursor-resize{
    cursor: col-resize;
}
.active{
    border:1px solid blue;
}

.grabber{
    cursor: col-resize;
    width:10px;
    border-right:2px solid gray;
    margin-left:auto;
    height:100%; 
}
.bar-item{
    width:100%;
    height:100%;
    grid-row: 1 / -1;
}