New Time Mark
<div [formGroup]="timeMarkForm" class="mb-3">

  <!-- 

    Need to add a section here for when if previous time mark exists but is older than 24 hours ago
   -->

  <div class="time-mark-form-control" style="display:flex; flex-direction:column;">
    <div>
      Start Time
    </div>
    <div *ngIf="" style="color:#f4bc42; font-weight: bold;">
      No Previous Time Mark
    </div>
    <div style="display:flex; flex-direction:row;width:100%; align-items: center;" class="row">
      <div class="col-12 col-md-6 mb-2" style="display:flex; flex-direction:column;">
        <div *ngFor="let option of startTimeOptions">
          <div style="display:flex; flex-direction:row; align-items: center;" class="select-time-radio" (click)="onClickStartOption(option)">
            <div class="mr-1">
              <fa-icon [icon]="option.icon" [ngClass]="option.iconClass"></fa-icon>
            </div>
            <div>{{ option.label }}</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div *ngIf="startTimeAction == 'SPECIFY_TIME' || startTimeAction == 'SPECIFY_NO_PREVIOUS'">
          <div style="display:flex; flex-direction:column;">
            <div>Date</div>
            <input type="date" class="form-control" formControlName="startTimeDate" (keyup)="updateDuration()">
          </div>
          <div style="display:flex; flex-direction:column;">
            <div>Time</div>
            <input type="time" class="form-control" formControlName="startTime" (keyup)="updateDuration()">
          </div>
        </div>
        <div *ngIf="startTimeAction == 'SPECIFY_DURATION'">
          <div style="display:flex; flex-direction:column;">
            <div>Hours Ago</div>
            <input type="number" class="form-control" formControlName="startTimeDurationHours" (keyup)="onKeyUpStartTimeHours()">
          </div>
          <div style="display:flex; flex-direction:column;">
            <div>Minutes Ago</div>
            <input type="number" class="form-control" formControlName="startTimeDurationMinutes" (keyup)="onKeyUpStartTimeMinutes()">
          </div>
        </div>
        <div *ngIf="startTimeAction == 'SINCE_PREVIOUS'">
          {{ this.latestTimeMark.endTime.format('HH:mm') }}
        </div>
      </div>


    </div>
  </div>

  <div class="time-mark-form-control" style="display:flex; flex-direction:column;">
    <div>
      End Time
    </div>
    <div style="display:flex; flex-direction:row;width:100%; align-items: center;" class="row">
      <div class="col-12 col-md-6 mb-2" style="display:flex; flex-direction:column;">
        <div *ngFor="let option of endTimeOptions">
          <div style="display:flex; flex-direction:row; align-items: center;" class="select-time-radio" (click)="onClickEndOption(option)">
            <div class="mr-1">
              <fa-icon [icon]="option.icon" [ngClass]="option.iconClass"></fa-icon>
            </div>
            <div>{{ option.label }}</div>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-6">
        <div *ngIf="endTimeAction == 'NOW'">
          <div style="display:flex; flex-direction:column;">
            <div>Date</div>
            <input type="date" class="form-control" formControlName="endTimeDate">
          </div>
          <div style="display:flex; flex-direction:column;">
            <div>Time</div>
            <input type="time" class="form-control" formControlName="endTime">
          </div>
        </div>
        <div *ngIf="endTimeAction == 'SPECIFY_TIME'">
          <div style="display:flex; flex-direction:column;">
            <div>Date</div>
            <input type="date" class="form-control" formControlName="endTimeDate" (keyup)="updateDuration()">
          </div>
          <div style="display:flex; flex-direction:column;">
            <div>Time</div>
            <input type="time" class="form-control" formControlName="endTime" (keyup)="updateDuration()">
          </div>
        </div>
        <div *ngIf="endTimeAction == 'SPECIFY_DURATION'">
          <div style="display:flex; flex-direction:column;">
            <div>Hours it took</div>
            <input type="number" class="form-control" formControlName="endTimeDurationHours" (keyup)="onKeyUpEndTimeHours()">
          </div>
          <div style="display:flex; flex-direction:column;">
            <div>Minutes it took</div>
            <input type="number" class="form-control" formControlName="endTimeDurationMinutes" (keyup)="onKeyUpEndTimeMinutes()">
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="time-mark-form-control">
    <div>Total Duration</div>
    <div>
      {{ durationString }}
    </div>
  </div>

  <div class="form-group row my-2">
    <div class="col-12">
      <div class="input-group">
        <input type="text" class="form-control" formControlName="description" placeholder="description">
      </div>
    </div>
  </div>

  <hr>
  <!-- Activities section. -->

  <h6>Activities Prior</h6>
  <div *ngIf="timeMarkActivities">
    <div *ngFor="let activity of timeMarkActivities" class='m-1 p-3 border border-warning time-mark-activity' style='border-radius:5px;'>
      Activity: {{ activity.name }}
    </div>
  </div>
  <div *ngIf="ifAddActivityForm" class='border border-warning activity-form-content-container'>
    <app-activity-form (closeActivityForm)="onCloseActivityForm($event)" (activitySaved)="onActivitySaved($event)">
    </app-activity-form>
  </div>
  <!-- End of Activities section -->

</div>

<button *ngIf="ifAddActivityButton" class="btn btn-sm btn-primary" style='border-radius:15px;' (click)="onClickAddActivity()">
  + Add Activity
</button>

<div class='d-flex flex-row-reverse'>
  <button class="btn border-warning mx-1" (click)="onClickCancelTimeMark()">Cancel</button>
  <button class="btn btn-success mx-1" (click)="onClickSaveTimeMark()" [disabled]="saveTimeMarkDisabled">Save Time Mark</button>

</div>