/* ngClass */

.color-green{
    color: green;
}


/* end of ngClass */

.time-mark-form-control{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin-top: 5px;
    padding:10px;
    border-radius:4px;
    border: 1px solid rgb(206,212,218);
    background-color: white;

}

.select-time-radio:hover{
    cursor:pointer;
    color:green;
}

.time-mark-activity{
    background-color: #fefff2;
}

.activity-form-content-container{
    border-radius:5px;
    background-color:#fefff2;
    /* min-height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

