.root{
    width:100%;

    display:flex;
    flex-direction: column;

}

.input-container{
    display:flex;
    flex-direction: row;
    width:100%;
}


.action-search-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 2;
}

.action-search{
    padding:3px;
    margin:3px;
    border:1px solid gray;
    border-radius:5px;
    flex-grow: 2;
    display:flex;
    flex-direction: row;
    align-items: center;
    height:34px;
}
.search-input{
    margin-left:3px;
    border:none;
    flex-grow: 2;
    order: 2;
}


.action-button{
    padding:3px;
    padding-left:6px;
    padding-right:6px;
    margin:3px;
    height:34px;
    width:34px;
    border:1px solid rgb(127, 178, 255);
    background-color: rgba(127, 178, 255, 0.2);
}


.search-navigation-container{
    display:flex;
    flex-direction: row;
    flex-grow: 2;
}
.activities-container{
    margin:3px;
    padding-top:8px;
    padding-bottom:8px;
    border: 1px solid gray;
    border-radius: 5px;
    flex-grow:2;
    display:flex;
    flex-direction: column;
    max-height:250px;
    overflow-y: auto;
}
/* .activity-item{
    display:flex;
    flex-direction: row;
    align-items:center;
} */


.message-container{

}

