<div class="root">

  <div class="input-container">

    <div class="action-search-container" *ngIf="searchAction == 'search'">
      <div class="action-search">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input type="text" class="search-input" placeholder="Search for activity" [value]="activityTextInputValue" (keyup)="onActivityInputKeyUp($event)">
        <!-- [value]="activityTextInputValue" -->
      </div>


      <button class="btn action-button" title="Browse activity tree" (click)="onChangeAction('browse')">
        <fa-icon [icon]="faSitemap"></fa-icon>
      </button>

    </div>


    <div class="search-navigation-container" *ngIf="searchAction == 'browse'">
      <div class="activities-container">
        <app-browse-activity *ngFor="let rootActivity of activitiesTree.rootActivities" class="activity-item"
          [activity]="rootActivity" (activitySelected)="onActivitySelected($event)"></app-browse-activity>
      </div>
      <button class="btn action-button" title="Search by name" (click)="onChangeAction('search')">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>

    </div>



  </div>


  <div class="message-container">

    Message
  </div>


</div>