<div class="root">

  <div class="input-container">

    <div class="search-box-container" *ngIf="searchAction == 'search'">
      <div class="search-box" [ngClass]="{'search-box-expanded': searchBoxExpanded}">
        <div class="action-search">
          <fa-icon [icon]="faSearch" style="margin-left:3px;"></fa-icon>
          <input type="text" class="search-input" placeholder="Search for activity" [value]="activityTextInputValue"
            (keyup)="onActivityInputKeyUp($event)" (keydown)="onActivityInputKeyDown($event)">
          <!-- [value]="activityTextInputValue" -->
        </div>
        <div class="search-results" *ngIf="searchBoxExpanded">
          <div class="search-result" *ngFor="let searchResult of searchResults"
            (click)="onClickSearchResult(searchResult)"
            [ngClass]="{'search-result-cursor':isArrowSelected(searchResult)}">
            <span>{{ fullNamePathStart(searchResult) }}</span>
            <span class="search-result-match">{{ fullNamePathMatch(searchResult) }}</span>
            <span>{{ fullNamePathEnd(searchResult) }}</span>
          </div>
        </div>
        <div class="create-new-activity" *ngIf="createNewActivities.length > 0">
          <div>
            <span *ngIf="createNewActivities.length == 1">Create new activity</span>
            <span *ngIf="createNewActivities.length > 1">Create {{ createNewActivities.length }} new activities</span>
          </div>

          <div *ngFor="let activity of createNewActivities">
            <div>
              Name: {{ activity.name }}
            </div>
            <div>
              Description: {{ activity.description }}
            </div>
            <div style="display:flex;flex-direction: row;align-items:center;">
              Color:
              <div style="width:10px;height:10px;margin-left:3px;margin-right:3px;"
                [style.background-color]="activity.color"></div>
              {{ activity.color }}
            </div>
          </div>


          <button class="btn save-new-activity-button" (click)="onClickSaveNewActivity()" *ngIf="!savingActivity">
              <span *ngIf="createNewActivities.length == 1">Save new activity</span>
              <span *ngIf="createNewActivities.length > 1">Save {{ createNewActivities.length }} new activities</span>
          </button>
          <button class="btn save-new-activity-button" *ngIf="savingActivity">
            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Saving...
          </button>
        </div>
      </div>



      <button class="btn action-button" title="Browse activity tree" (click)="onChangeAction('browse')">
        <fa-icon [icon]="faSitemap"></fa-icon>
      </button>

    </div>


    <div class="search-navigation-container" *ngIf="searchAction == 'browse'">
      <div class="activities-container">
        <app-browse-activity *ngFor="let rootActivity of activitiesTree.rootActivities" class="activity-item"
          [activity]="rootActivity" (activitySelected)="onActivitySelected($event)"></app-browse-activity>
      </div>
      <button class="btn action-button" title="Search by name" (click)="onChangeAction('search')">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>

    </div>



  </div>


  <div class="message-container">

    Message
  </div>


</div>