.activity-input-dropdown-root{
    width:100%;
    display:flex;
    flex-direction: column;

}

.search-box{
    flex-grow: 2;
    display:flex;
    flex-direction: column;
    border: 1px solid hsl(210, 9%, 96%);
    background-color: hsl(210, 9%, 96%);
    border-radius: 5px;
    max-height: 34px;
}
/* .search-box-active{
    
} */
.search-box-expanded{
    max-height:350px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

.search-results{
    min-height: 25px;
    font-size:0.8em;
    color: gray;
    flex-grow: 2;
    overflow-y: auto;
    display:flex;
    flex-direction: column;
}
.search-result{

}
.section-is-bold{
    font-weight: bold;
}
.create-new-activities-container{

    margin-top:5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* border: 1px solid rgb(194, 194, 194); */
    background-color:rgb(250, 250, 250);

    padding: 5px;
    font-size:0.9em;
    color:rgb(68, 68, 68);
    display:flex;
    flex-direction: column;
    flex-grow:2;
    max-height:250px;
}
.create-new-activities{
    display:flex;
    flex-direction: column;
    flex-grow: 2;
    overflow-y: auto;
    /* border-top:1px solid rgb(194, 194, 194); */
}
.new-activity{

    border-radius:10px;
    /* border: 1px solid rgb(194, 194, 194); */
    display:flex; 
    flex-direction: row; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color:white;
    margin-bottom:5px;
}
.new-activity-color-bar{
    width:40px;
    margin-right:5px;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
}
.new-activity-content{
    flex-grow: 2;
    display:flex;
    flex-direction:column;
    padding:5px;
    font-size: 0.8em;
}
.new-activity-name-error{
    color: red;
}

.save-new-activity-button{
    flex-shrink:2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 102, 255, 0.5);
    height:24px;
    font-size:0.9em;
    margin:auto;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.action-search{
    margin-top:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height:34px;
    min-height:34px;
}
.search-icon{
    font-size:0.8em;
    color:gray;
    margin-left:10px;
    margin-right:8px;
}
.search-input{
    border:none;
    border-radius: 5px;
    flex-grow: 2;
    order: 2;

    background-color: hsl(210, 9%, 96%);
}

.button-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:10px;
}

.action-button{
    padding:3px;
    padding-left:6px;
    padding-right:6px;
    margin-left:3px;
    height:34px;
    width:34px;
    border:1px solid rgb(127, 178, 255);
    background-color: rgba(127, 178, 255, 0.2);
}


.search-navigation-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 2;
}
.activities-container{
    padding-top:8px;
    padding-bottom:8px;
    border: 1px solid gray;
    border-radius: 5px;
    flex-grow:2;
    display:flex;
    flex-direction: column;
    max-height:250px;
    overflow-y: auto;
}
.search-result{
    padding-left:2px;
}
.search-result:hover, .search-result-cursor{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(4, 23, 63);
    cursor: pointer;
}
.search-result-match{
    font-weight: bold;
}


.message-container{

}

