.root{
    width:100%;

    display:flex;
    flex-direction: column;

}

.input-container{
    display:flex;
    flex-direction: row;
    width:100%;
}


.search-box-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 2;
}

.search-box{
    flex-grow: 2;
    display:flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    max-height: 34px;
}
.search-box-expanded{
    max-height:200px;
}

.search-results{
    font-size:0.8em;
    color: gray;
    overflow-y: auto;
}

.action-search{
    margin-top:0px;
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    height:34px;
    min-height:34px;
}
.search-input{
    margin-left:3px;
    border:none;
    border-radius: 5px;
    flex-grow: 2;
    order: 2;
}


.action-button{
    padding:3px;
    padding-left:6px;
    padding-right:6px;
    margin-left:3px;
    height:34px;
    width:34px;
    border:1px solid rgb(127, 178, 255);
    background-color: rgba(127, 178, 255, 0.2);
}


.search-navigation-container{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 2;
}
.activities-container{
    padding-top:8px;
    padding-bottom:8px;
    border: 1px solid gray;
    border-radius: 5px;
    flex-grow:2;
    display:flex;
    flex-direction: column;
    max-height:250px;
    overflow-y: auto;
}
.search-result{
    padding-left:2px;
}
.search-result:hover, .search-result-cursor{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(4, 23, 63);
    cursor: pointer;
}
.search-result-match{
    font-weight: bold;
}


.message-container{

}

