<div class="activity-input-dropdown-root font-family-open-sans" (mouseenter)="onMouseEnter()" (mouseleave)="itemState.onMouseLeave()">


  <div class="search-box" [ngClass]="{'search-box-expanded': searchBoxExpanded, 'search-box-active': searchBoxActive}">
    <div class="action-search">
      <fa-icon [icon]="faSearch" class="search-icon" (click)="onClickSearchButton()"></fa-icon>
      <input type="text" class="search-input" placeholder="Search for activity" [value]="activityTextInputValue" (focus)="itemState.startEditing()"
        (keyup)="onActivityInputKeyUp($event)" (keydown)="onActivityInputKeyDown($event)">
      <!-- [value]="activityTextInputValue" -->
    </div>

    <div class="search-results" *ngIf="searchResults.length > 0">
      <div class="search-result no-select" *ngFor="let searchResult of searchResults"
        (click)="onClickSearchResult(searchResult.activity)"
        [ngClass]="{'search-result-cursor':isArrowSelected(searchResult)}">
        <span *ngFor="let section of searchResult.sections"
          [ngClass]="{'section-is-bold': section.isBold}">{{section.value}}</span>
      </div>
    </div>

    <div class="create-new-activities-container" *ngIf="createNewActivities.length > 0">
      <div style="font-size:0.8em;display:flex;flex-direction: row;justify-content: center;">
        <span *ngIf="createNewActivities.length == 1">Create new activity</span>
        <span *ngIf="createNewActivities.length > 1">Create {{ createNewActivities.length }} new activities</span>
      </div>
      <div class="create-new-activities">
        <div *ngFor="let activity of createNewActivities" class="new-activity">
          <div class="new-activity-color-bar" [style.background-color]="activity.color"></div>
          <div class="new-activity-content">
            <div style="font-size:1.1em;font-weight:bold;">
              {{ activity.name }}
            </div>
            <div style="color:gray;">
              {{ activity.description }}
            </div>
          </div>

        </div>
      </div>

<!-- 
      <div *ngIf="activityNameErrors" style="color:red;text-align: center;">
        Error: one or more duplicate activity names
      </div> -->

      <div class="button-container">
          <button class="small-button" (click)="onClickSaveNewActivities()" *ngIf="!savingActivity"
          [disabled]="saveNewActivitiesDisabled">
          <div *ngIf="createNewActivities.length == 1">Save new activity</div>
          <div *ngIf="createNewActivities.length > 1">Save {{ createNewActivities.length }} new activities</div>
        </button>
        <button class="small-button" *ngIf="savingActivity">
          <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon> Saving...
        </button>
      </div>
      
    </div>
  </div>

  <!-- 

      <button class="btn action-button" title="Browse activity tree" (click)="onChangeAction('browse')">
        <fa-icon [icon]="faSitemap"></fa-icon>
      </button> -->

  <!-- </div> -->


  <!-- <div class="search-navigation-container" *ngIf="searchAction == 'browse'">
      <div class="activities-container">
        <app-browse-activity *ngFor="let rootActivity of activitiesTree.rootActivities" class="activity-item"
          [activity]="rootActivity" (activitySelected)="onActivitySelected($event)"></app-browse-activity>
      </div>
      <button class="btn action-button" title="Search by name" (click)="onChangeAction('search')">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>

    </div> -->


</div>