<div style="display:flex;flex-direction: column;">
    <ul style="color: gray; font-style: italic; text-align: left;">
        <li>Place this activity definition into the trash</li>
        <li>Item will not show up in search results</li>
        <li>Item can be recovered from trash</li>
    </ul>
    <div style="margin-top: 10px; width: 100%; display:flex;flex-direction: row; justify-content: center;">
        <app-delete-confirm-button [label]="'Move to trash'" (delete)="onDeleteActivity()">
        </app-delete-confirm-button>
    </div>
</div>