<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Activity Management</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div *ngIf="ifNewActivityFormButton">
        <button class="btn btn-primary" (click)=onClickCreateNewActivity()>Create new activity</button>
      </div>
      <div *ngIf="ifNewActivityForm">
        <app-new-activity-form [activitiesList]="allActivities" (closeForm)="onCloseForm($event)"></app-new-activity-form>
      </div>
    </div>

    <div class="col-12 mt-3">

      <div class="card" *ngFor="let activity of rootActivities" [style.background-color]="activity.color">
        <div>{{activity.name}}</div>

        <div *ngFor="let childActivity of activity.children">
          <app-activity [activity]="childActivity"></app-activity>
        </div>

      </div>




    </div>

  </div>
</div>