<div class="occurrence-root" *ngIf="!occurrence.isEditing" (mouseenter)="occurrence.onMouseEnter()" (mouseleave)="occurrence.onMouseLeave()">
    <div style="flex-grow:2;">
        <app-day-occurrence [occurrence]="occurrence" *ngIf="occurrence.unit == 'DAY'"></app-day-occurrence>
        <app-week-occurrence [occurrence]="occurrence" *ngIf="occurrence.unit == 'WEEK'"></app-week-occurrence>
        <app-month-occurrence [occurrence]="occurrence" *ngIf="occurrence.unit == 'MONTH'"></app-month-occurrence>
        <app-year-occurrence [occurrence]="occurrence" *ngIf="occurrence.unit == 'YEAR'"></app-year-occurrence>
    </div>
    <div style="margin-left:10px; display: flex;flex-direction: row;justify-content: center;">
        <fa-icon [icon]="faPencilAlt" class="icon-button-dim" [ngClass]="{'icon-button': occurrence.mouseIsOver}" (click)="occurrence.onClickEdit()" style="margin-right: 5px;"></fa-icon>
        <fa-icon [icon]="faTrashAlt" class="icon-button-dim" [ngClass]="{'icon-button': occurrence.mouseIsOver}" (click)="occurrence.onClickDelete()"></fa-icon>
    </div>
</div>
<app-repitition-occurrence-form *ngIf="occurrence.isEditing" (occurrenceSaved)="onOccurrenceSaved($event)" [editOccurrence]="occurrence">
</app-repitition-occurrence-form>