<div class="row">
  <div class="col-12 text-center"><h3 *ngIf="today">{{today.format('MMM Do, YYYY')}}</h3></div>
</div>
<div class="row">


  <div class="col-12">


    <svg #svgDayView [attr.viewBox]="viewBox" width="100%">
      <g *ngFor="let timeSegment of timeSegments">
        <line [ngStyle]="timeSegment.style" [attr.x1]="timeSegment.line_x1" [attr.x2]="timeSegment.line_x2" [attr.y1]="timeSegment.line_y1"
          [attr.y2]="timeSegment.line_y2" />
        <text [attr.x]="timeSegment.text_x" [attr.y]="timeSegment.text_y" class="dayDateDisplay">
          {{timeSegment.text_string}}
        </text>
      </g>
      <g *ngFor="let eventRect of eventRects">
        <rect [attr.x]="eventRect.x" [attr.y]="eventRect.y" [attr.width]="eventRect.width" [attr.height]="eventRect.height"
          [attr.rx]="eventRect.rx" [attr.ry]="eventRect.ry" [ngStyle]="eventRect.style" />
      </g>
      <g *ngIf="activeEventRect">
        <rect [attr.x]="activeEventRect.x" [attr.y]="activeEventRect.y" [attr.width]="activeEventRect.width" [attr.height]="activeEventRect.height"
          [attr.rx]="activeEventRect.rx" [attr.ry]="activeEventRect.ry" [ngStyle]="activeEventRect.style" />
      </g>
    </svg>
  </div>
  <div class="col-4">
    <!-- <div *ngIf="true"></div> -->
      <!-- <form [formGroup]="newEventForm" >
          <div class="form-group">
              <label class="center-block">Name:
                <input class="form-control" formControlName="startTime">
              </label>
            </div>
      </form> -->
    <!-- </div> -->
  </div>
</div>

  
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Body
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>