<div *ngIf="loading" class="loading">
    <div style="font-size:4em">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
</div>
<div *ngIf="!loading">
    <div *ngIf="!authenticated">
        <app-authentication></app-authentication>
    </div>

    <div *ngIf="authenticated" class="app-container">
        <div class="header">
            <app-header (sidebarButtonClicked)="onHeaderSidebarButtonClicked()"></app-header>
        </div>
        <div class="sidebar" *ngIf="sideBarOpen">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div class="app-modal-container" *ngIf="ifModal">
    <app-modal></app-modal>
</div>