<div *ngIf="!authenticated">
    <app-authentication></app-authentication>
</div>

<div *ngIf="authenticated">
    <div class="d-inline d-md-none">
        <app-header></app-header>
    </div>
    <div class="wrapper">

        <div class="d-none d-md-inline" >
            <app-sidebar></app-sidebar>
        </div>
        <div class="d-none d-md-inline sidebar-margin"></div>
        <div class="container-fluid">
            <app-content></app-content>
        </div>
       
    </div>
    
</div>
