<div *ngIf="loading" class="loading">
    <div style="font-size:4em">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
</div>
<div *ngIf="!loading">
    <div *ngIf="!authenticated">
        <app-authentication></app-authentication>
    </div>

    <div *ngIf="authenticated" class="app-container" 
        [ngClass]="{'app-container-mobile': appScreenSize == 0, 'app-container-tablet': appScreenSize == 1, 'app-container-normal': appScreenSize == 2, 'app-container-large': appScreenSize == 3}">
        <div class="header">
            <app-header (sidebarButtonClicked)="onHeaderSidebarButtonClicked()"></app-header>
        </div>
        <div class="sidebar" *ngIf="sideBarOpen">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content"
        [ngClass]="{'content-mobile': appScreenSize == 0, 'content-tablet': appScreenSize == 1, 'content-normal': appScreenSize == 2, 'content-large': appScreenSize == 3}">
            <router-outlet></router-outlet>
        </div>
        <div class="app-tools-container" *ngIf="ifTools">
            <app-tools></app-tools>
        </div>
    </div>
</div>
<div class="app-modal-container" *ngIf="ifModal">
    <app-modal></app-modal>
</div>