
.loading{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.app-container{
    width:100%;
    height: 100vh;
    display:grid;
    grid-template-rows: 29px auto;
    grid-template-columns: 250px 1fr 1px;
    z-index:0;
}

.app-tools-container{

    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    z-index: 0;
    
    /* height:90vh; */
}

.header{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;

    position: fixed;
    width:100%;
    
    z-index: 100;
}

.sidebar{
    /* overflow-y: auto; */
    grid-column: 1 / span 1;
    grid-row: 2 / -1;
}


.content{
    /* height: 100%; */
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 100%;
    height:100%;
    /* padding-left:15px;
    padding-right:15px; */
    padding:15px;

    z-index:0;

}

/* @media (min-width: 1200px){ */
    /* .app-container{ */
        /* The following will apply a right-hand margin to match the size of the sidebar on the left
            for the purpose of putting the content in the literal center of the screen
        */
        /* grid-template-columns: 250px auto 250px; */
    /* } */
    /* .content{ */
        /*  */
    /* } */
/* } */


@media (max-width: 767px){
    /*  Small Screens  */
    .app-container{
        display:grid;
        grid-template-rows: 29px auto;
        grid-template-columns: 1fr;
    }
    .sidebar{
        display:none;
        grid-column: 0 / span 0;
        grid-row: 0 / span 0;
    }
    .content{
        grid-column: 1 / span 1;
        padding:0px;
    }
    .app-tools-container{
        grid-column: 1 / span 1;
    }

}

