
.loading{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}


.wrapper {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    
    
}
.wrapper-night-mode{
    background-color: black;
}

.sidebar-component{
    /* overflow-y: auto; */
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}


.content{
    /* height: 100%; */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1 / span 1;
    width: 100%;
    height:100%;
    /* padding:10px; */
}

@media (min-width: 1200px){
    .wrapper{
        /* The following will apply a right-hand margin to match the size of the sidebar on the left
            for the purpose of putting the content in the literal center of the screen
        */
        /* grid-template-columns: 250px auto 250px; */
    }
    .content{
        
    }
}


@media (max-width: 767px){
    /*  Small Screens  */
    .wrapper{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-top:0px;
    }
    
    .sidebar-component{
        display:none;
        grid-column: 0 / span 0;
        grid-row: 0 / span 0;
    }
    .content{
        grid-column-start: 1;
        grid-column-end: 2;
        padding:0px;
    }

}

