

.sleep-profile-widget-root{
    display:flex;
    flex-direction: column;
}

.widget-row{
    display:flex;
    flex-direction: column;
    width: 100% ;
    margin-bottom: 10px;
}
.time-row{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.label{
    font-size:0.8em;
    color: gray;
}
.date{
    font-size: 0.9em;
}
.time{ 
    font-size: 1.1em;
    font-weight: bold;
}
.wake-up{
    color: orange;
}
.fall-asleep{
    color: navy;
}