<div class="sleep-profile-widget-root">
    <div *ngIf="!itemState.isEditing" class="flex-column">
        <div *ngIf="!sleepProfileIsSet" style="display:flex;flex-direction: column;">
            <div style="color:gray;font-size: 0.8em; display:flex;flex-direction: row;">
                <fa-icon [icon]="faExclamationTriangle" style="margin-right:5px;"></fa-icon> Sleep times not set
                <button class="medium-button" style="margin-left:auto;" (click)="itemState.startEditing()">Set sleep
                    times</button>
            </div>
        </div>
        <div *ngIf="sleepProfileIsSet && (activeDayIsToday || isPastMidnight) " class="display-flex-column">
            <div style="width:100%;">
                <button class="small-button" style="margin-left: auto;" (click)="itemState.startEditing()">
                    <fa-icon [icon]="faEdit" style="margin-right:5px;"></fa-icon>
                    Edit
                </button>
            </div>
            <div class="display-flex-row">
                <app-sleep-battery [configuration]="batteryConfiguration" [shape]="'LARGE'"></app-sleep-battery>
                <div class="display-flex-column" style="font-size:0.8em;">
                    <span>Slept for <span
                            style="color: rgb(0, 89, 255);font-weight:bold;">{{ sleepDurationHours }}</span></span>
                    <span>({{ previousFallAsleepTime.format("h:mm a") }} to {{ wakeupTime.format("h:mm a") }}) </span>
                    <span style="margin-top: 15px;">
                        Woke up feeling
                        <span style="color: rgb(0, 89, 255);font-weight:bold;font-weight:bold;">{{ sleepQualityString.toLowerCase() }}</span>
                    </span>
                    <span>
                        <fa-icon *ngFor="let sleepQualityBed of sleepQualityBeds" [icon]="faBed" class="sleep-quality"
                            style="font-size:0.9em;cursor: default;" [ngClass]="sleepQualityClass(sleepQualityBed)">
                        </fa-icon>
                    </span>
                    <span style="margin-top: 15px;">Awake for 
                        <span style="color: rgb(0, 89, 255);font-weight: bold">{{ awakeForString }}</span>
                    </span>

                    <span style="color: rgb(0, 89, 255);margin-top: 15px;">{{ timeUntilBedTime }}</span>
                    <span>({{ bedTime.format('h:mm a')}})</span>
                </div>
            </div>

        </div>

        <div *ngIf="sleepProfileIsSet && !activeDayIsToday" class="complete-view">

            <div class="flex-column">
                sleep dater
            </div>
        </div>

    </div>
    <div *ngIf="itemState.isEditing" class="flex-column">
        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;margin-bottom:5px;">
                    Approximately what time did you <u>fall asleep</u> at the end of your day yesterday?
                </div>
                <div class="fall-asleep-date no-select"
                    [ngClass]="{'fall-asleep-date-active': clickFallAsleepTimeActive}"
                    (click)="onClickfallAsleepTimeDay()" style="margin-left: 10px;">
                    {{ previousFallAsleepDateTime }}
                </div>

                <app-time-input class="input-row" style="margin-left: 10px;" [timeValue]="previousFallAsleepTime"
                    [minValue]="previousFallAsleepTimeMin" [maxValue]="wakeupTime"
                    (timeChanged)="onFallAsleepTimeChanged($event)"></app-time-input>
            </div>
        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;margin-bottom:5px;">What time did you wake up
                    {{ wakeupDateTime }}?</div>

                <app-time-input class="input-row" style="margin-left: 10px;" [timeValue]="wakeupTime"
                    [minValue]="wakeupTimeMin" (timeChanged)="onWakeupTimeChanged($event)"></app-time-input>

            </div>
        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">Sleep duration </div>
                <div style="font-weight: bold;color:rgb(0, 14, 90);margin-left: 10px;">{{ sleepDuration }}</div>

            </div>
        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">
                    How well-rested do you feel after this sleep?
                </div>
                <div style="display: flex;flex-direction: row; align-items: center; margin-left: 10px;">
                    <fa-icon *ngFor="let sleepQualityBed of sleepQualityBeds" [icon]="faBed" class="sleep-quality"
                        (click)="onClickSleepQuality(sleepQualityBed)" [ngClass]="sleepQualityClass(sleepQualityBed)">
                    </fa-icon>

                </div>
                <div style="font-weight: bold;color:rgb(0, 14, 90); margin-left: 10px; height:24px;">
                    {{ sleepQualityString }}
                </div>
            </div>
        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;margin-bottom:5px;">When is bedtime?</div>

                <app-time-input class="input-row" style="margin-left: 10px;" [timeValue]="bedTime"
                    (timeChanged)="onBedTimeChanged($event)"></app-time-input>

            </div>
        </div>

        <div class="section-row" style="margin-bottom:0px;">
            <button class="medium-button" style="margin-left:auto;" (click)="onClickSaveSleepTimes()"
                [ngClass]="{'button-disabled': saveButtonDisabled}"
                [disabled]="saveButtonDisabled ? 'disabled' : ''">Save sleep times</button>
        </div>
    </div>




</div>