<div class="container">
  <div class="row">
    <div class="col-12">

      <div [ngStyle]="thisDayCardStyle" class="card">

        <div class="card-header">
          <div class="d-flex" style="justify-content: space-between;align-items: center;">
            <div class="text-center adjacent-date" style='order:1' (click)="onClickAdjacentDate(thisDateMinusOne)">
              <span>{{ getFormattedDateString(thisDateMinusOne) }}</span> <br>
              <span>{{ dateRelevanceToTodayString(thisDateMinusOne) }}</span>
            </div>
            <div class='text-center' style='order:1'>
              <h2>{{ getFormattedDateString(thisDate) }}</h2>
              <span>{{ dateRelevanceToTodayString(thisDate) }}</span>
            </div>
            <div class='text-center adjacent-date' style='order:1' (click)="onClickAdjacentDate(thisDatePlusOne)">
              <span>{{ getFormattedDateString(thisDatePlusOne) }}</span> <br>
              <span>{{ dateRelevanceToTodayString(thisDatePlusOne) }}</span>
            </div>
          </div>
        </div>

        <div class="card-body">
          Time Log
          <div *ngIf="loadingTimeMarks">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="!loadingTimeMarks">
            <!-- Loading complete -->
            <div *ngIf="timeMarkTiles">
              <!-- Time Marks -->
              <div *ngIf="timeMarkTiles.length > 0">
                <div *ngFor="let timeMarkTile of timeMarkTiles">
                  <div class='m-1 p-1 border border-success time-mark-tile' [ngStyle]="timeMarkTile.style" (mouseenter)="onMouseEnterTimeMarkTile(timeMarkTile)"
                    (mouseleave)="onMouseLeaveTimeMarkTile(timeMarkTile)">

                    <div class="d-flex">
                      <div class="p-2 w-100">
                        
                        <ul class='m-0 ml-2 py-0' *ngFor="let activity of timeMarkTile.timeMark.activities">
                          <li class='m-0 p-0'>{{ activity.name }}</li>
                        </ul>
                        {{ timeMarkTile.timeMark.time.format('HH:mm') }} - {{ timeMarkTile.timeMark.description }}
                      </div>

                      <div style="min-width:150px;">
                        Total minutes:
                        <!-- {{ getTotalMinutes(timeMarkTile.timeMark) }} -->
                      </div>
                      <div *ngIf="timeMarkTile.deleteButtonIsVisible" class="p-0 m-0">
                        <div class="delete-time-mark-button" (click)="onClickDeleteTimeMark(timeMarkTile.timeMark)">Delete</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="timeMarkTiles.length < 1">
                No time marks for {{ thisDate }}
              </div>

            </div>
            <div *ngIf="!timeMarkTiles">
              No Time Marks
            </div>
            <hr class='mb-2'>
            <button *ngIf="!addTimeMarkForm && dateIsToday(thisDate)" class="btn btn-primary" (click)="onClickNewTimeMark()">Add
              New Time Mark</button>
          </div>
          <div *ngIf="addTimeMarkForm" class='m-1 p-3 border border-secondary new-time-mark'>

            <app-time-mark-form (closeForm)="onCloseForm($event)">
            </app-time-mark-form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>