
.root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    max-width: 768px;

}
.timelog-header{
    
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    margin: 0 auto;
    margin-bottom:3px;

    padding-left: 10px;
    padding-right: 10px;

    width: 100%;
    
    display:flex;
    flex-direction: column;
    
    /* border-bottom:1px solid rgb(175, 175, 175); */
}

.content{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 2fr 1fr;

}

.timelog-display-component{
    padding:10px;
    border: 1px solid rgb(145, 145, 145);
    margin:10px;
    box-shadow: 0px 5px 6px rgb(166, 195, 219);
}

.timelog-chart{
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;

    max-width:400px;
}

.timelog-calendar{
    /* flex-basis: 30%; */
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-radius: 2px;
}
.timelog-list{
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    margin:10px;
    margin-top:15px;

}



/* 

@media (max-width: 767px){
    /* small screen sizes up to 767px , e.g. phones */
    /* 
    .root{
        padding:0px;
    }

    .content{
        flex-direction: column;
    }
    .timelog-chart{
        margin:0px;
        margin-bottom:10px;
    }
    .timelog-list{
        margin:0px;
    }
    .timelog-header{
        min-height:70px;
    }
} */



