.root{
    height:100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.header{
    width:100%;
    margin: 0 auto;
    margin-bottom:10px;
    justify-content: space-between;
    display:flex;
    flex-direction: row;

    border-bottom:1px solid rgb(175, 175, 175);
}
.content{
    display: flex;
    flex-direction: row;
}
.timelog-chart{
    margin:5px;
    padding:0px;
    flex-grow: 1;
    flex-basis: 50%;
}
.timelog{
    margin:5px;
    padding:0px;
    flex-grow: 1;
    flex-basis: 50%;
}


@media (max-width: 767px){
    /* small screen sizes up to 767px , e.g. phones */
    .root{
        padding:0px;
    }
    .content{
        flex-direction: column;
    }
    .timelog-chart{
        margin:0px;
        margin-bottom:10px;
    }
    .timelog{
        margin:0px;
    }

    .adjacent-date{
        font-size:0.7em;
    }
}



.btn:hover{
    cursor: pointer;
}

.new-time-mark{
    border-radius:5px;
    background-color: #f2f7ff;
}


.time-mark-tile {
    border-radius: 5px;
}

.delete-time-mark-button{

    font-size: 0.75em;
    /* line-height: 26px;
    white-space: nowrap; */
    padding:5px;
    /* border-radius: 3px;
    border: 1px solid orange; */
    margin: 0px;
    color: #cacaca;
}
.delete-time-mark-button:hover{
    cursor: pointer;
    /* border: 1px solid red; */
    color: orange;

}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.adjacent-date{
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 10px;
    display: flex;
    flex-direction:row;
    cursor: pointer;
}
.adjacent-date:hover > fa-icon{
    color: darkgreen;
    cursor: pointer;
}
.adjacent-date-text{
    display:flex;
    flex-direction: column;
}
