.btn:hover{
    cursor: pointer;
}

.new-time-mark{
    border-radius:5px;
    background-color: #f2f7ff;
}

.time-mark-activity{
    background-color: #fefff2;
}

.time-mark-tile {
    border-radius: 5px;
}

.delete-time-mark-button{

    font-size: 0.75em;
    /* line-height: 26px;
    white-space: nowrap; */
    padding:5px;
    border-radius: 3px;
    border: 1px solid orange;
    margin: 0px;
}
.delete-time-mark-button:hover{
    cursor: pointer;
    border: 1px solid red;
    background-color: orange;

}

.adjacent-date{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.adjacent-date:hover{
    border: 1px solid green;
    background-color: #f3fff2;
    cursor: pointer;
}

.activity-name-input-dropdown-container{
    position: relative;
    display: inline-block;
}
.activity-name-input-dropdown{
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
    padding: 1px;
}
.activity-name-input-dropdown-item{
    padding:4px;
    margin:1px;
    border-radius:15px;
}
.activity-name-input-dropdown-item:hover{
    background-color:#efefef;
    cursor:pointer;
}