<div class="root">

  <div class="timelog-header">
    <div class="text-center">
      <span style="font-size:1.3em">{{ dateFormattedDateString(currentDateString) }}</span>
      <hr class="my-0">
      <div class="mb-3">{{ dateRelevanceToTodayString(currentDateString) }}</div>
    </div>
  </div>

  <div class="content">

    <!-- <div class="timelog-display mb-3"> -->

    <div class="timelog-chart timelog-display-component" >
      <app-timelog-chart></app-timelog-chart>
    </div>

    <div class="timelog-calendar timelog-display-component">
      <app-timelog-calendar></app-timelog-calendar>
    </div>

    <!-- </div> -->

    <div class="timelog-list">
      <app-timelog-list></app-timelog-list>
    </div>

  </div>
</div>