.day-of-week{
    border: 1px solid gray;
    width:100%;
    display:flex;
    flex-direction: column;
}
.day-of-week-header{
    display:flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8em;
}
.day-of-week-bar-chart{
    height:150px;
    display:grid;
    grid-template-columns: 1fr;
}

.bar-chart-item{
    border-top: 1px solid black;
}