<div class="occurrence-form-root">
    <div class="occurrence-form-row" style="color:rgb(0, 67, 155);">
        New occurrence
    </div>
    <div class="occurrence-form-row">
        Time of day:

        <div style="margin-left: 10px;">
            <app-dropdown-list [listItems]="timeOfDayList" [currentValue]="timeOfDayString"
                (listItemSelected)="onListItemSelected($event)" class="dropdown-list-component-container"
                style="width:115px; ">
            </app-dropdown-list>
        </div>


    </div>
    <!-- unit: TimeUnit;

    minutesPerOccurrence: number;
    timeOfDayQuarter: TimeOfDay;
    timeOfDayHour: number;
    timeOfDayMinute: number;


    timesOfDay: TimeOfDay[],
    timesOfDayRanges: TimeRange[],

    timesOfDayExcludedRanges: TimeRange[],

    daysOfWeek: DayOfWeek[],
    daysOfWeekExcluded: DayOfWeek[],

    daysOfYear: number[], -->
</div>