.mobile-root{
    width:100%;
    height:100%;

    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.clock{
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
    padding: 10px;
}

.menu-item{
    width: 100%;
    height: 75px;
    /* margin-bottom: 10px; */
    padding: 5px;

    /* border-radius: 3px; */
    border: 1px solid rgb(197, 197, 197);
    background-color: rgba(255, 255, 255, 0.8);

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;


}
.menu-title{
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    display:flex;
    flex-direction: row; 
    align-items: center;
}
.menu-title:hover{
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}




.icon-container{
    width: 30px; 
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    color: rgb(67, 69, 73); 
    font-size: 1.2em;
    margin-right: 10px;
}