<div class="update-time-mark">
  <div class="text-center">
    Update Time Mark
  </div>
  <hr>
  <div [formGroup]="updateTimeMarkForm">
    <div style="display:flex;">
      <div style="width:8em;">
        Description
      </div>
      <div style="flex-grow:2">
        <input type="text" formControlName="description" class="form-control" placeholder="optional" />
      </div>
    </div>

  </div>

  Activities
  <div class="time-mark-activities">
    <div *ngFor="let activity of tileActivities" [style.background-color]="activityColor(activity)"
      class="time-mark-activity">
      <div class="time-mark-activity-name">
        <fa-icon style="font-size: 0.5em" class="mr-3" [icon]="faCircle"></fa-icon>
        {{ activityName(activity) }}
      </div>
      <div style="display:flex;flex-direction: row;">
        <div class="m-1" (click)="onClickUpdateActivity(activity)">
          <fa-icon [icon]="faCog"></fa-icon>
        </div>
        <div class="m-1" (click)="onClickDeleteActivity(activity)">
          <fa-icon [icon]="faTimes"></fa-icon>
        </div>
      </div>


    </div>
  </div>


  <div style="display:flex;flex-direction:row-reverse">
    <div>
      <button class="btn btn-warning m-1" (click)="onClickCancel()">Cancel</button>
    </div>
    <div>
      <button class="btn btn-success m-1" (click)="onClickSaveChanges()">Save changes</button>
    </div>
  </div>

</div>