.task-root{
    margin:5px;
    border:1px solid gray;
    border-radius: 3px;
    padding:5px;

    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.icon-button{
    color:gray;
    /* font-size: 16px; */
}
.icon-button:hover{
    color:black;
    cursor: pointer;

}