.task-root{
    margin:5px;
    border:1px solid gray;
    border-radius: 3px;
    padding:5px;

    display:flex;
    flex-direction:row;
    
}

.task-complete{
    border: 1px solid rgb(0, 141, 0);
    background-color:rgb(253, 255, 253);
}

.icon-button{
    color:gray;
    /* font-size: 16px; */
}
.icon-button:hover{
    color:black;
    cursor: pointer;

}