<div class="task-queue-root" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="header">
        <div class="header-item"></div>
        <div class="header-item">Task Queue</div>
        <div class="header-item">
            <fa-icon [icon]="faExpand" *ngIf="mouseOver" class="icon-button" (click)="onClickExpand()"></fa-icon>
        </div>

    </div>
    <div class="body">
        <div *ngIf="loading">
            <div>
                <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
            </div>
        </div>
        <div *ngIf="!loading">
            <div *ngIf="taskQueue.length > 0">
                <div *ngFor="let task of taskQueue" class="task">
                    <div class="task-number" (click)="onClickTask(task)">
                        {{ taskNumber(task) }}
                    </div>
                    <div style="flex-grow:2;" (click)="onClickTask(task)">
                        {{ task.title }}
                    </div>
                    <div style="min-width:25px;">
                        <!-- <fa-icon [icon]="faEdit" class="icon-button" (click)="onClickEdit(task)"></fa-icon> -->
                        <fa-icon [icon]="faCircle" *ngIf="!task.isComplete" class="icon-button"
                            (click)="onClickMarkComplete(task)"></fa-icon>
                        <fa-icon [icon]="faCheckCircle" *ngIf="task.isComplete" class="green-icon-button"
                            (click)="onClickMarkIncomplete(task)"></fa-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="taskQueue.length == 0">
                No tasks in the queue;
            </div>
        </div>

    </div>

</div>