<div class="">
  <h4>Time Log Entries</h4>
  <button *ngIf="ifAddTimeSegmentButton" class="btn btn-primary" (click)="onClickAddTimeSegment()">
    Add New Time Segment
  </button>
  <div *ngIf="ifAddTimeSegmentForm" class='m-1 p-3 border border-secondary new-time-segment'>

    <app-time-segment-form (closeForm)="onCloseForm()">
    </app-time-segment-form>

  </div>

  <hr>
  <div *ngIf="ifLoadingTimeSegments" class="text-center" style="font-size:3em;">
    <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
  </div>
  <div *ngIf="!ifLoadingTimeSegments">
    <div *ngIf="timeSegmentTiles">
      <div *ngIf="timeSegmentTiles.length > 0">
        <div *ngFor="let timeSegmentTile of timeSegmentTiles">
          <div class='m-1 p-1 border border-success time-segment-tile' style="display:flex; flex-direction:column; "
            [ngStyle]="timeSegmentTile.style" (mouseenter)="onMouseEnterTimeSegmentTile(timeSegmentTile)" (mouseleave)="onMouseLeaveTimeSegmentTile(timeSegmentTile)">

            <div style="display:flex; flex-direction: row;">
              <div style="display:flex; flex-direction: column; flex-grow:4; ">
                <div>
                  <ul class='m-0  py-0' *ngFor="let timeSegmentActivity of timeSegmentTile.timeSegment.activities">
                    <li class='m-0 p-0'>{{ timeSegmentActivity.activity.name }}</li>
                  </ul>
                </div>
                <div class="p-1" style="display:flex; flex-direction: row;">
                  <div class="p-1">
                    <span style="font-size:0.7em;">Start Time</span><br>
                    {{ timeSegmentTile.timeSegment.startTime.format('HH:mm') }}
                  </div>
                  <div class="p-1">
                    <span style="font-size:0.7em;">End Time</span><br>
                    {{ timeSegmentTile.timeSegment.endTime.format('HH:mm') }}
                  </div>
                  <div class="p-1">
                    <span style="font-size:0.7em;">Duration</span><br>
                    {{ timeSegmentTile.timeSegment.durationString }}
                  </div>
                </div>
              </div>
              <div style="display:flex; flex-direction: row;">
                <!-- TO DO: Need to add tooltips over the cog and X. e.g. hover over cog and the word "Update" or "Modify
                pops up" -->
                <div class="delete-time-segment-button" (click)="onClickUpdateTimeSegment(timeSegmentTile)">
                  <fa-icon [icon]="faCog"></fa-icon>
                </div>
                <div class="delete-time-segment-button" (click)="onClickDeleteTimeSegment(timeSegmentTile.timeSegment)">
                  <fa-icon [icon]="faTimes"></fa-icon>
                </div>
              </div>

            </div>
            <div>
              {{ timeSegmentTile.timeSegment.description }}
            </div>
            <div *ngIf="timeSegmentTile.ifUpdateTimeSegment" class=" border border-secondary new-time-segment m-2 p-3">
              
              <app-time-segment-form [updateTimeSegment]='timeSegmentTile' (update)="onTimeSegmentUpdated($event)" (closeForm)="onCloseUpdateForm(timeSegmentTile)" ></app-time-segment-form>
            </div>
          </div>

        </div>
      </div>
      <div *ngIf="timeSegmentTiles.length < 1">
        No time segments for {{ currentDateString }}
      </div>

    </div>
    <div *ngIf="!timeSegmentTiles">
      No Time Segments
    </div>
    <hr class='mb-2'>

  </div>


</div>