<div style="display:flex;flex-direction: column;">

    <div class="form-section" >
        <!-- [ngClass]="inputNgClass" -->
        <textarea type="text" class="note-input"  [formControl]="noteFormControl" [rows]="rows"
        placeholder="Add a note">
        </textarea>

    </div>

    <div class="form-section" style="background-color: rgb(252, 252, 252);">
        <app-tlef-modify-activities (tlefActivitiesChanged)="onActivitiesChanged($event)" [initialActivities]="initialActivities">
        </app-tlef-modify-activities>
    </div>

</div>