.form-section{
    margin-bottom: 15px;
}

.note-text{
    font-size: 0.8em;
    color: gray;

    max-width: 328px;
    max-height: 150px;

    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
    text-overflow: clip;

    overflow-x: hidden;
    border: 1px solid rgba(0, 0, 0, 0);
}

.note-text:active{
    border: 1px solid rgba(129, 173, 255, 0.5);
}

.saved-note-text{
    font-size: 1.1em;
    font-weight: 500;
}

.note-input{
    font-size: 1.0em;
    width: 100%;
    flex-shrink: 2;
    border-radius: 3px;
    min-height: 50px;
    height: 50px;
    max-height: 300px;

    border: 1px solid rgba(0, 0, 0, 0.062);
}

