<!-- <div class="container-root sidebar-not-pinned" *ngIf="!sidebarIsPinned">
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>

    <app-mini-sidebar class="sidebar-container-unpinned"></app-mini-sidebar>
</div>


<div class="container-root sidebar-pinned" *ngIf="sidebarIsPinned">
    <app-pinned-sidebar class="sidebar-container-pinned"></app-pinned-sidebar>
    
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div> -->

<div class="container-root" [ngClass]="{'sidebar-pinned': sidebarIsPinned, 'sidebar-not-pinned': !sidebarIsPinned}">
    
    <app-pinned-sidebar class="sidebar-container-pinned" *ngIf="sidebarIsPinned"></app-pinned-sidebar>
    
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>

    <app-mini-sidebar class="sidebar-container-unpinned" *ngIf="!sidebarIsPinned"></app-mini-sidebar>
</div>



<!-- <p>full-size-container works!</p> -->
<!-- 
<div class="header">
    <app-header (sidebarButtonClicked)="onHeaderSidebarButtonClicked()"></app-header>
</div>
<div class="sidebar" style="background-color: rgba(255, 255, 255, 0.6);">
    <app-sidebar *ngIf="sidebarIsOpen"></app-sidebar>
</div>

<div class="content" *ngIf="!(showTools && (sizeLabel == 0 || sizeLabel == 1))"
    [ngClass]="{'content-mobile': sizeLabel == 0, 'content-tablet': sizeLabel == 1, 'content-normal': sizeLabel == 2, 'content-large': sizeLabel == 3, 'content-large': (sizeLabel === 3 || sizeLabel === 4)}">
    <router-outlet></router-outlet>
</div>

<div class="app-tools-container"
    [ngClass]="{'app-tools-container-mobile': sizeLabel == 0, 'app-tools-container-tablet': sizeLabel == 1, 'app-tools-container-normal': sizeLabel == 2, 'app-tools-container-large': (sizeLabel === 3 || sizeLabel === 4)}"
    *ngIf="showTools">
    <app-toolbox></app-toolbox>
</div>
 -->