.root{
    width:100%;
    display:grid;
    grid-template-rows: 38px 1px;
}
.activity-input-container{
    
    grid-row: 1 / span 1;

    flex-grow:2;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height:38px;
    width:100%;
}
/* .activity-prepend{
    padding-left: 8px;
    padding-right: 8px;
    background-color:rgb(238, 238, 238); 
    border-right: 1px solid gray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    display:flex;
    align-items: center;
} */
.activity-text-input{
    padding-left:12px; 
    
    border:none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    flex-grow:2;
}
.activity-dropdown-button{
    background-color:white;
    border:none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding:8px;
    text-align: center;
}
.activity-dropdown-button:hover {
    cursor: pointer;
    color: rgb(94, 94, 94);
}


.activity-dropdown-list{
    grid-row: 2 / span 1;

    min-height:30px;
    max-height:200px;

    border: 1px solid rgb(139, 139, 139);
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 5;
    margin-left:5px;
    margin-right:5px;

    overflow-y:auto;

    display:flex;
    flex-direction: column;

}
.activity-dropdown-list-item{
    height:30px;

    
    
    cursor: pointer;

    display:flex;
    flex-direction:row;
    
}
.activity-dropdown-list-item:hover{
    background-color: #dddddd;
}
.activity-dropdown-list-item-name{
    padding:2px;
    flex-grow:2;
}
.activity-dropdown-list-item-arrow{
    padding:2px;
    padding-left:5px;
    margin-top:auto;
    margin-bottom:auto;
    width:15px;
    font-size: 0.8em;
}
.activity-dropdown-list-item-arrow:hover{
    cursor: pointer;
    color:gray;
}