<div class="timelog-chart-item-root">
    <div class="timelog-chart-item" [ngClass]="{'item-is-delineator': rowItem.isDelineator }">
        <div class="new-delineator-column" (mouseenter)="rowItem.onMouseEnterNewDelineator()"
            (mouseleave)="rowItem.onMouseLeaveNewDelineator()" (click)="rowItem.onClickNewDelineator()">
            <div class="delineator-time-label-container">
                <div class="delineator-time-label" *ngIf="rowItem.mouseIsOverDelineator || rowItem.isDelineator">
                    {{ rowItem.startTime.format('h:mm a')}}
                </div>
            </div>
        </div>

        <div class="body-column">
            <div class="new-delineator-line" *ngIf="!rowItem.isDelineator && rowItem.mouseIsOverDelineator">

            </div>
            <div class="delineator-line" *ngIf="rowItem.isDelineator">
                <div class="delineator-line-border-top"></div>
                <div *ngIf="rowItem.delineatorLabel" style="font-size:0.8em; color:gray;">
                    {{ rowItem.delineatorLabel }}
                </div>
                <div class="delineator-line-delete-button-container" *ngIf="rowItem.mouseIsOver">
                    <fa-icon [icon]="faTimes" class="icon-button" (click)="rowItem.removeDelineator()"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>