<div class="toolbox-root" [@appear]="'appear'">
  <div class="tool-container">

    <div class="tool-header">
      <div class="tool-title">
        {{ toolTitle }}
      </div>
      <div class="header-close-button">
        <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
      </div>
    </div>

    <div class="tool-body">
      
      <app-action-item-form *ngIf="toolIsActionItem"></app-action-item-form>
      <app-notebook-entry-form *ngIf="toolIsNote"></app-notebook-entry-form>
      <app-timelog-entry-form *ngIf="toolIsTimelogEntry"></app-timelog-entry-form>
      <app-sleep-entry-form *ngIf="toolIsSleepEntry"></app-sleep-entry-form>
      <app-future-event-form *ngIf="toolIsFutureEvent"></app-future-event-form>
      <app-dtl-tool *ngIf="toolIsDailyTaskList"></app-dtl-tool>
      <!-- <div style="height: 2020px; background-color: lime;">
        asdf
  
      </div> -->
    </div>

  </div>
</div>

