.view-only-root{
    display:flex;
    flex-direction: column;
}
.activities-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 2;
    font-weight: bold;
    font-size: 0.9em;
}
.activities-count{
    margin-left: 10px;
    font-size:0.7em;
}

.display-activities{
    display:flex;
    flex-direction: column;
}

.display-activity{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.note-container{



}

.units-container{
    display:flex;
    min-width: 25px;
    margin-right: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.unit{
    margin: 2px;
}

.activities-container{
    margin-top: 5px;
    display:flex;
    flex-direction: column;
}