<div class="view-only-root">
    <div style="display:flex;flex-direction: row; align-items: flex-start;">
        <div class="activities-header">Activities <div class="activities-count">{{ activitiesCount }}</div></div>
        <fa-icon [icon]="faPencil" class="icon-button" (click)="onClickEdit()"></fa-icon>
    </div>
    <div class="display-activities">
        <div *ngFor="let item of displayActivities" class="display-activity">
            {{ item.activity.name }}
            {{ durationString(item.durationMS)}}
        </div>
    </div>
</div>