<div class="availability-root" [ngStyle]="rootNgStyle" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
    <div class="create-new-tle" *ngIf="mouseIsOver" (click)="onClickCreateNewTLE()">
        <!-- <div style="margin:5px; font-size: 1.2em;"  >
            <fa-icon [icon]="faPlusCircle" class="icon-button"></fa-icon>
        </div> -->
    </div>
    <div class="draw-tle" *ngIf="drawTLE" [ngStyle]="drawTLENgStyle">
        {{ drawTLE.startTime.format('hh:mm a')}} to {{ drawTLE.endTime.format('hh:mm a')}}
    </div>

</div>