<div class="root">
  <div class="default-view">

    <div class="view-section" *ngIf="!lastPeriod">
      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
    <div class="view-section" *ngIf="lastPeriod">
      <div class="view-section-header">
        Activity in the last period: {{ lastPeriod.startTime.format('ddd, MMM Do') }} -
        {{ lastPeriod.endTime.format('ddd, MMM Do')}}
      </div>
      <div class="seven-day-period" *ngIf="daysOfWeek">
        <div *ngFor="let dayOfWeek of daysOfWeek" class="day-of-period">
          <app-day-of-week [dayOfWeek]="dayOfWeek"></app-day-of-week>

        </div>
      </div>
      <div>
        <table>
          <tr>
            <td style="width:25px;"></td>
            <td>Activity Name</td>
            <td>Total Hours</td>
          </tr>
          <tr *ngFor="let activity of lastPeriod.activities">
            <td style="border:1px solid gray;" [style.background-color]="activity.activity.color"></td>
            <td>{{ activity.activity.name }}</td>
            <td>{{ (activity.durationMinutes / 60).toFixed(1) }}</td>
          </tr>
        </table>
      </div>
    </div>


  </div>
</div>