.root{
    width:100%;

    display:flex;
    flex-direction: row;
}
.default-view{
    width:100%;
    display:flex;
    flex-direction: column;
}

.view-section{
    border: 1px solid gray;
    border-radius:2px;
    background-color: rgb(252, 252, 252);
    margin:5px;
    padding:5px;
}
.view-section-header{
    font-size: 1.2em;
}
.seven-day-period{
    display:flex;
    flex-direction: row;
    width:100%;
}
.day-of-period{
    margin: 3px;
    flex: 1 1 auto;
}