<div class="activity-display-item-root font-family-open-sans" *ngIf="activity">
    <div class="title-container">
        <div [ngStyle]="titleBorderBottom" class="title">
            <div class="title-color" [style.background-color]="activity.color">

            </div>
            <div class="title-text">
                {{ activity.name }}
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body-property">
            is occurrence activity or duration activity?  {{ activity.durationSetting }}
        </div>
        <!-- <div class="body-property" *ngIf="activity.scheduleConfiguration ">
            <div *ngFor="let occurrence of activity.scheduleConfiguration.scheduledOccurrences">
                {{ occurrence.timeOfDayQuarter }}
            </div>
        </div> -->
        
        <div class="scheduling-configuration">
            <app-activity-scheduling-form [activity]="activity"></app-activity-scheduling-form>
        </div>
    </div>
</div>