.activity-display-item-root{
    
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;

    min-height: 600px;

    display:flex;
    flex-direction: column;
    padding: 10px;

}
.title-container{
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
    height: 45px;

    width: 100%;
}
.title{
    flex-shrink: 2;
    display:flex;
    flex-direction: row;
    align-items: center;

    padding-right:15px;
}
.title-color{
    width: 20px;
    height:20px;
    min-width: 20px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid rgba(0,0,0,0);
}
.title-color:hover{
    border: 1px solid black;
    cursor: pointer;
}

.delete-button{
    border: 1px solid white;
    color: gray;
    margin-left: auto;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}
.delete-button:hover{
    border: 1px solid red;
    color: rgb(123, 0, 0);
    background-color: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}
.body{
    width:100%;
    display:flex;
    flex-direction: column;
    
}
.body-item{
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(243, 243, 243);
}
.body-item-header{
    font-size: 1.1em;
    /* font-weight: bold; */

}
.body-item-header:hover{
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}
.body-item-content{
    margin-top: 10px;
}