<div class="activity-display-item-root font-family-open-sans" *ngIf="activity">
    <div class="title-container">
        <div [ngStyle]="titleBorderBottom" class="title">
            <div class="title-color" [style.background-color]="activity.color">

            </div>
            <div class="title-text">
                {{ activity.name }}
            </div>
        </div>
    </div>
    <div class="body">
        <div class="body-property">
            is occurrence activity or duration activity? {{ activity.durationSetting }}
        </div>

        <div class="scheduling-configuration" *ngIf="configuringSchedule">
            <app-activity-schedule-configuration [activity]="activity" (configurationSaved)="onConfigurationSaved($event)"></app-activity-schedule-configuration>
        </div>
        <div class="scheduling-configuration" *ngIf="!configuringSchedule">
            <app-activity-schedule-display [activity]="activity" (configure)="configuringSchedule = !configuringSchedule"></app-activity-schedule-display>
        </div>
    </div>
</div>