<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" [ngClass]="{'border-primary': financeProfile}">
        <div class="card-header">Net Worth Profile</div>
        <div class="card-body">
          <div *ngIf="financeProfile">
            Finance Profile Information
          </div>
          <div *ngIf="!financeProfile">
            No finance profile has been created
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Assets
        </div>
        <div class="card-body">
          <div *ngIf="!assets">
            No assets
          </div>
          <button *ngIf="!addAsset" class="btn btn-sm btn-warning mt-3" (click)="onClickAddAsset()">Add asset</button>
          <div *ngIf="addAsset" class="mt-3">
            <hr>
            <h4 class="mb-3">Add an asset</h4>
            <form [formGroup]="addAssetForm">
              <div class="form-group row">
                <label class="col-3 col-form-label" for="title">Title</label>
                <div class="col-9">
                  <input class="form-control" formControlName="title" type="text" placeholder="e.g. 'House', 'Car', 'Stock Portfolio'">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="description">Description</label>
                <div class="col-9">
                  <textarea class="form-control" formControlName="description" placeholder="add some details...">
                  </textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="dollarValue">Dollar Value</label>
                <div class="col-9">
                  <input class="form-control" formControlName="dollarValue" type="number" placeholder="0">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="quantity">Quantity</label>
                <div class="col-9">
                  <input class="form-control" formControlName="quantity" type="number" placeholder="1">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="type">Type</label>
                <div class="col-9">

                    <select class="custom-select form-control">
                      <option selected>Money / currency</option>
                      <option value="1">Real estate</option>
                      <option value="2">Security (stocks, bonds, etc.)</option>
                      <option value="3">Vehicle (car, truck, etc.)</option>
                      <option value="5">other...</option>
                    </select>
                </div>
              </div>
            </form>
            <button class="btn btn-primary btn-sm btn-block mt-4" (click)="onClickSaveAsset()">Save Asset</button>
            <button class="btn btn-sm btn-warning float-right mt-2" (click)="onClickAddAsset()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-header">
          Liabilities
        </div>
        <div class="card-body">
          <div *ngIf="!liabilities">
            No liabilities
          </div>
          <button *ngIf="!addLiability" class="btn btn-sm btn-warning mt-3" (click)="onClickAddLiability()">Add liability</button>
          <div *ngIf="addLiability" class="mt-3">
            Add liability form

            <button class="btn btn-sm btn-warning mt-3" (click)="onClickAddLiability()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>