<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" [ngClass]="{'border-primary': netWorthProfile}">
        <div class="card-header">Net Worth Profile</div>
        <div class="card-body">
          <div *ngIf="netWorthProfile">
            <h6>Assets</h6>
            <table class="table">
              <tr>
                <td>Title</td>
                <td>Value</td>
                <td>Type</td>
              </tr>
              <tr *ngFor="let asset of netWorthProfile.assets" >
                <td class="p-1">{{ asset.title }}</td>
                <td class="p-1">$ {{ asset.value.toFixed(0) }}</td>
                <td class="p-1">{{ asset.type }}</td>
              </tr>

            </table>
            <hr>
            <h5>Calculated Net Worth: {{ calculatedNetWorth }} </h5>
          </div>
          <div *ngIf="!netWorthProfile">
            No net worth profile has been created
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12">
      <div class="card" [ngClass]="{'border-warning': addAsset}">
        <div class="card-header">
          Assets & Liabilities
        </div>
        <div class="card-body">
          <div *ngIf="!assets">
            No assets or liabilities have been entered
          </div>
          <button *ngIf="!addAsset" class="btn btn-sm btn-warning mx-3" (click)="onClickAddAsset('asset')">Add an asset</button>
          <button *ngIf="!addAsset" class="btn btn-sm btn-warning" (click)="onClickAddAsset('liability')">Add a liability</button>
          <div *ngIf="addAsset">
            <h4 class="mt-0">Add an asset</h4>
            <form [formGroup]="addAssetForm">
              <div class="form-group row">
                <label class="col-3 col-form-label" for="title">Title</label>
                <div class="col-9">
                  <input class="form-control" formControlName="title" type="text" placeholder="e.g. 'House', 'Car', 'Stock Portfolio'">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="description">Description</label>
                <div class="col-9">
                  <textarea class="form-control" formControlName="description" placeholder="add some details...">
                  </textarea>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="value">Value</label>
                <div class="col-9">
                  <input class="form-control" formControlName="value" type="number" placeholder="0">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="quantity">Quantity</label>
                <div class="col-9">
                  <input class="form-control" formControlName="quantity" type="number">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-3 col-form-label" for="type">Type</label>
                <div class="col-9">
                  <select class="custom-select form-control">
                    <option value="currency" selected>Money / currency</option>
                    <option value="realestate">Real estate</option>
                    <option value="security">Security (stocks, bonds, etc.)</option>
                    <option value="vehicle">Vehicle (car, truck, etc.)</option>
                    <option value="other">other...</option>
                  </select>
                </div>
              </div>
            </form>
            <button class="btn btn-primary btn-sm btn-block mt-4" (click)="onClickSaveAsset()">Save Asset</button>
            <button class="btn btn-sm btn-warning float-right mt-2" (click)="onClickAddAsset()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>