<div class="schedule-display-root font-family-open-sans" *ngIf="activity.scheduleRepititions.length == 0">
    No schedule is configured for this activity.
    <div>
        <button class="medium-button" (click)="onClickConfigureSchedule()">Configure schedule</button>
    </div>
</div>
<div class="schedule-display-root font-family-open-sans" *ngIf="activity.scheduleRepititions.length > 0">
    <div style="display:flex;flex-direction: row;">
        <div style="flex-grow: 2;">
            Schedule configuration <fa-icon [icon]="faSyncAlt" style="margin-left:5px;color:rgba(0, 89, 255, 0.5);"></fa-icon>
        </div>
        <div>
            <button class="small-button" (click)="onClickEdit()"><fa-icon [icon]="faPencilAlt" style="margin-right:5px;"></fa-icon>Edit</button>
        </div>
    </div>
    <div>
        {{ scheduleConfigurationSummary }}
    </div>

</div>