.schedule-display-root{
    margin: 5px;
    padding:15px;
    border-radius:15px;

    display:flex;
    flex-direction: column;

}
.schedule-display-root:hover{
    background-color: rgb(247, 253, 255);
} 

.schedule-repitition{
    margin-bottom:10px;
}
