.availability-root{
    width:100%;
    height:100%;
    
    display:grid;
}

.draw-tle{
    /* margin: 3px; */
    margin-left: 10px;
    margin-right: 10px;
    background-color:red;
    border-radius: 5px;
}