<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" [ngClass]="{'border-primary':currentHealthProfile}">
        <div class="card-header ">Health Profile</div>
        <div class="card-body" *ngIf="loadingHealthProfile">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="card-body" *ngIf="!loadingHealthProfile">
          <div *ngIf="!currentHealthProfile">
            No health profile has been created.
          </div>
          <div *ngIf="currentHealthProfile">
            <h4>Current Health Profile</h4>
            Date updated: {{ currentHealthProfile.dateSetISO }}
            <br> <span *ngIf="currentHealthProfile.bodyWeight">Weight in kg: {{ currentHealthProfile.bodyWeight.weightInKg }}</span>
            <span *ngIf="!currentHealthProfile.bodyWeight">Weight in kg: not set</span>
            <br> Height in meters: {{ currentHealthProfile.heightInMeters.toFixed(2) }}
            <br>

            <div *ngIf="canCalculateBMI">
              <hr>
              <h5>BMI of {{ calculatedBMI.toFixed(1) }}</h5>
              A BMI of {{ calculatedBMI.toFixed(1) }} is classified as {{ weightClassification }}. <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 col-lg-6 mb-3">
      <div class="card" [ngClass]="{'border-success':todayBodyWeightEntered}">
        <div class="card-header">
          Body Weight Entry
        </div>
        <div class="card-body" *ngIf="!todayBodyWeightEntered">
          Entry date: {{ now.format('YYYY-MM-DD')}}
          <br>
          <div class="badge badge-dark" (click)="onClickWeightUnits()">{{ weightUnits }}</div>
          <form [formGroup]="bodyWeightForm">
            <div class="form-group row my-1">
              <div class="col-12">
                <div class="input-group">
                  <input type="number" class="form-control" formControlName="weight" placeholder="0">
                  <div class="input-group-addon">
                    <div class="input-group-text ">{{ weightUnits }}</div>
                  </div>

                </div>
              </div>
            </div>
            <button class="btn btn-success btn-sm" (click)="onClickSubmitWeight()">Save weight</button>
          </form>
        </div>
        <div class="card-body" *ngIf="todayBodyWeightEntered">
          Weight has been entered in today.  <i class="fa fa-check" style="font-size:3em;color:limegreen"></i>
          <button class="btn btn-warning btn-sm" (click)="onClickUpdateWeight()">Re-enter today's weight entry</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="card" [ngClass]="{'border-success':heightIsSet}">
        <div class="card-header">Height</div>
        <div class="card-body">
          <div *ngIf="loadingHealthProfile">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="!loadingHealthProfile">
            <div *ngIf="currentHealthProfile">
              <div *ngIf="currentHealthProfile.heightInMeters">
                Height set to {{currentHealthProfile.heightInMeters.toFixed(2)}} meters.
                <br>

                <button *ngIf="!updateHeight" class="btn btn-sm btn-warning" (click)="onClickUpdateHeight()">Update Height</button>
                <app-height-form *ngIf="updateHeight"></app-height-form>
                <button *ngIf="updateHeight" class="btn btn-sm btn-warning mt-2" (click)="onClickUpdateHeight()">Cancel</button>
              </div>
              <div *ngIf="!currentHealthProfile.heightInMeters">
                Height has not been set. <br>
                <app-height-form></app-height-form>
              </div>
            </div>
            <div *ngIf="!currentHealthProfile">
              No profile exists yet. <br>
              <app-height-form></app-height-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>