<div class="container">

  <div class="row">
    <div class="col-12 col-lg-6 mb-3">
      <div class="card">
        <div class="card-header">
          Body Weight Entry
        </div>
        <div class="card-body">
          Entry date: {{ now.format('YYYY-MM-DD')}}
          <br>
          <div class="badge badge-dark" (click)="onClickWeightUnits()">{{ weightUnits }}</div>
          <form [formGroup]="bodyWeightForm">
            <div class="form-group row my-1">
              <div class="col-12">
                <div class="input-group">
                  <input type="number" class="form-control" formControlName="weight" placeholder="0">
                  <div class="input-group-addon">
                    <div class="input-group-text ">{{ weightUnits }}</div>
                  </div>

                </div>
              </div>


            </div>
            <button class="btn btn-success btn-sm" (click)="onClickSubmitWeight()">Submit Weight Entry</button>
          </form>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">Ideal Body Weight</div>
        <div class="card-body">
          <div *ngIf="loadingIdealWeight">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="!loadingIdealWeight">
            <div *ngIf="healthProfiles.length > 0">
              health profiles
            </div>
            <div *ngIf="healthProfiles.length < 1">
              Enter your height to calculate ideal body weight
              <br>
              <form [formGroup]="heightForm">
                <!-- <div class="form-row my-1"> -->
                <div class="row my-1">
                  <div class="col-12">
                    <label class="col-form-label">Height
                      <div class="badge badge-dark" (click)="onClickHeightUnits()">{{ heightUnits }}</div>
                    </label>

                  </div>
                </div>
                <div class="form-group row my-1" *ngIf="heightUnits=='Imperial'">

                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="number" class="form-control height-input" formControlName="heightFt" placeholder="0">
                      <div class="input-group-addon">
                        <div class="input-group-text ">ft</div>
                      </div>

                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="number" class="form-control height-input" formControlName="heightIn" placeholder="0">
                      <div class="input-group-addon">
                        <div class="input-group-text ">in</div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="row my-1" *ngIf="heightUnits=='Metric'">
                  <div class="col-12">
                    <div class="input-group">
                      <div class="input-group">
                        <input type="number" class="form-control height-input" formControlName="heightCm" placeholder="0">
                        <div class="input-group-addon units-button">
                          <div class="input-group-text ">cm</div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <button class="btn btn-success btn-sm" (click)="onClickSubmitHeight()">Save Height</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>