<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card" [ngClass]="{'border-primary':currentHealthProfile}">
        <div class="card-header ">Health Profile</div>
        <div class="card-body" *ngIf="loadingHealthProfile">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div class="card-body" *ngIf="!loadingHealthProfile">
          <div *ngIf="!currentHealthProfile">
            No health profile has been created.
          </div>
          <div *ngIf="currentHealthProfile">
            <h4>Current Health Profile</h4>
            Date updated: {{ currentHealthProfile.dateSetISO }}
            <br> Weight in kg: {{currentHealthProfile.bodyWeightInKg}}
            <br> Height in meters: {{currentHealthProfile.heightInMeters.toFixed(2)}}
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-12 col-lg-6 mb-3">
      <div class="card">
        <div class="card-header">
          Body Weight Entry
        </div>
        <div class="card-body">
          Entry date: {{ now.format('YYYY-MM-DD')}}
          <br>
          <div class="badge badge-dark" (click)="onClickWeightUnits()">{{ weightUnits }}</div>
          <form [formGroup]="bodyWeightForm">
            <div class="form-group row my-1">
              <div class="col-12">
                <div class="input-group">
                  <input type="number" class="form-control" formControlName="weight" placeholder="0">
                  <div class="input-group-addon">
                    <div class="input-group-text ">{{ weightUnits }}</div>
                  </div>

                </div>
              </div>


            </div>
            <button class="btn btn-success btn-sm" (click)="onClickSubmitWeight()">Submit Weight Entry</button>
          </form>
        </div>
      </div>

    </div>

    <div class="col-12 col-lg-6">
      <div class="card">
        <div class="card-header">Height</div>
        <div class="card-body">
          <div *ngIf="loadingHealthProfile">
            <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div *ngIf="!loadingHealthProfile">
            <div *ngIf="currentHealthProfile">
              <div *ngIf="currentHealthProfile.heightInMeters">
                Height set to {{currentHealthProfile.heightInMeters.toFixed(2)}} meters.
                <br>

                <button *ngIf="!updateHeight" class="btn btn-sm btn-warning" (click)="onClickUpdateHeight()">Update Height</button>
                <app-height-form *ngIf="updateHeight"></app-height-form>
                <button *ngIf="updateHeight" class="btn btn-sm btn-warning" (click)="onClickUpdateHeight()">Cancel</button>
              </div>
              <div *ngIf="!currentHealthProfile.heightInMeters">
                Height has not been set. <br>
                <app-height-form></app-height-form>
              </div>
            </div>
            <div *ngIf="!currentHealthProfile">
              No profile exists yet. <br>
              <app-height-form></app-height-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>