 .timelog-entry-form-root{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    padding:5px;
}

.message-section{
    width:90%;
    align-items: center;
    border-bottom:1px solid gray;
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
}



.form-section{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-bottom: 5px;
}


.section-completion{
    margin-left: 3px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}


.banner{
    flex-grow: 2;
    padding:1px;
    padding-left:3px;
    padding-right:3px;

    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;

    font-size: 0.9em;

    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}
.banner:hover{
    border:1px solid rgb(0, 96, 223);
}
.expanded-section{
    flex-grow: 2;
    padding:1px;
    padding-left:3px;
    padding-right:3px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}





.prominent-data{
    font-weight: bold; 
    font-size:1.2em;
    color:rgb(0, 47, 75);
}
.small-button{
    font-size:0.7em;
}
.neato-blue{
    background-color: rgb(0, 96, 223);
    color:white;
}













