.timelog-entry-form-root{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100%;

    max-height: 750px;
}

.tlef-form-header{
    font-size:0.9em; 
    color: rgb(53, 53, 53);
    display:flex;
    flex-direction: column;
}


.entry-item-grid{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

}
.timelog-entry-form{
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    display:flex;
    flex-direction: column;
    
}
.save-changes-prompt, .saving-changes{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    width:100%;
    height:100%;
    /* position: relative;
    z-index: 5; */
    background-color: rgba(241, 241, 241, 0.85);
}

.saving-changes{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tlef-part{
    max-width: 100%;
    margin-bottom: 20px;
}


.tlef-form-footer{
    margin-top: 15px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.medium-button{
    margin-left: 5px;
}


