<div class="timelog-entry-form-root">
  <div class="message-section">
    <span style="font-size:0.7em;color:gray;">Morning Briefing</span><br>
    <span style="font-size:1.2em;">{{ timelogEntryForm.message }}</span><br>
    <span>{{ timelogEntryForm.currentTime.format("dddd, MMM Do YYYY")}}</span>
    <span class="prominent-data">{{ timelogEntryForm.currentTime.format("h:mm:ss a")}}</span>
  </div>


  <div style="font-weight:bold;font-size:1.1em;">
    
  </div>

  <div class="form-section" >
    <div class="banner" (click)="onClickBanner('SLEEP_SECTION')" *ngIf="!timelogEntryForm.sleepSectionExpanded">
      <!-- <div>
        <app-sleep-battery [configuration]="timelogEntryForm.batteryConfiguration">
        </app-sleep-battery>
      </div> -->
      <div style="flex-grow:2; display:flex; flex-direction: row; justify-content: center;">
        <span style="margin-right:5px;">Sleep quality: Good</span>
        <fa-icon [icon]="faBed" style="color: rgb(0, 96, 223); margin-left:1px; margin-right:1px;"></fa-icon>
        <fa-icon [icon]="faBed" style="color: rgb(0, 96, 223); margin-left:1px; margin-right:1px;"></fa-icon>
        <fa-icon [icon]="faBed" style="color: rgb(0, 96, 223); margin-left:1px; margin-right:1px;"></fa-icon>
        <fa-icon [icon]="faBed" style="color: rgb(0, 96, 223); margin-left:1px; margin-right:1px;"></fa-icon>
        <fa-icon [icon]="faBed" style="color: rgb(215, 215, 215); margin-left:1px; margin-right:1px;"></fa-icon>
      </div>
    </div>
    <div class="expanded-section" *ngIf="timelogEntryForm.sleepSectionExpanded" >
      <app-sleep-section [timelogEntryForm]="timelogEntryForm"></app-sleep-section>
    </div>
    <div class="section-completion">
      <fa-icon [icon]="faCheckCircle" *ngIf="true" style="color: green;" class="completion-button"></fa-icon>
      <fa-icon [icon]="faCircle" *ngIf="false" class="completion-button"></fa-icon>
    </div>
  </div>






  <div class="form-section">

    <div class="banner" *ngIf="true">
      Morning Routine
    </div>
    <div class="expanded-section" *ngIf="false"></div>

    <div class="section-completion">
      <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
    </div>
  </div>

  <div class="form-section">

    <div class="banner" *ngIf="true">
      Morning Activities
    </div>
    <div class="expanded-section" *ngIf="false"></div>

    <div class="section-completion">
      <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
    </div>
  </div>

  <div class="form-section">

    <div class="banner" *ngIf="true">
      Afternoon Activities
    </div>
    <div class="expanded-section" *ngIf="false"></div>

    <div class="section-completion">
      <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
    </div>
  </div>

  <div class="form-section">

    <div class="banner" *ngIf="true">
      Evening Activities
    </div>
    <div class="expanded-section" *ngIf="false"></div>

    <div class="section-completion">
      <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
    </div>
  </div>

  <div class="form-section">

    <div class="banner" *ngIf="true">
      Evening Routine
    </div>
    <div class="expanded-section" *ngIf="false"></div>

    <div class="section-completion">
      <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
    </div>
  </div>

  <div class="form-section">

      <div class="banner" *ngIf="true">
        Bedtime
      </div>
      <div class="expanded-section" *ngIf="false"></div>
  
      <div class="section-completion">
        <fa-icon [icon]="faCircle" style="color:gray;" class="completion-button"></fa-icon>
      </div>
    </div>

</div>