<div class="year-view-root no-select" (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()">
  <div class="header">
    {{ currentYear }}
  </div>
  <div class="body">
    <div *ngIf="months" class="months"
      [ngClass]="{'months-mobile': appScreenSize == 0, 'months-tablet': appScreenSize == 1, 'months-normal': appScreenSize == 2, 'months-large': appScreenSize == 3}">
      <div *ngFor="let month of months" class="month-container">
        <div class="month">
          <div class="month-header">
            {{ month.monthDate.format('MMM') }}
          </div>
          <div class="month-body">
            <div class="days-of-month">
              <div *ngFor="let day of month.daysOfMonth" class="day-container">
                <div *ngIf="day == null" class="null-day" ></div>
                <div *ngIf="day != null" class="day" [ngClass]="{'highlighted-day':day.isHighlighted}" [ngStyle]="day.style"
                  (mousedown)="onMouseDownDay(day)" (mouseover)="onMouseOverDay(day, $event)" (mouseup)="onMouseUpDay(day)">
                  <div class="day-date" *ngIf="day.date">
                    {{ day.date.format('DD') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tool-tip" *ngIf="toolTip" [ngStyle]="toolTip.style">{{ toolTip.value }}</div>
  </div>
</div>