<div class="timelog-entry-form-root" [formGroup]="timelogEntryForm" *ngIf="initiated">


  <div class="section" style="display:flex;flex-direction: row; align-items: center;">
    <div class="section-header">
      Current time:
    </div>
    <div style="flex-grow:2;display:flex;justify-content: space-between;align-items: center;padding-left:10px;">
      <span class="current-time">
        {{ currentTime.format('h:mm:ss a') }}
      </span>
      <span>
        {{ currentTime.format('MMMM Do, YYYY') }}
      </span>
    </div>

  </div>


  <!-- Timelog Entry Form Chart -->
  <!-- <div class="section">
    
    <app-tlef-chart [timelogEntryStart]="timelogEntryStart" [timelogEntryEnd]="timelogEntryEnd"></app-tlef-chart>
  </div> -->


  <div class="section" *ngIf="!editingTimes" style="display:flex;flex-direction: row;justify-content: space-between;">
    <div style="font-weight:bold;">
      {{ timelogEntryStart.format('h:mm a') }} - {{ timelogEntryEnd.format('h:mm a') }}
    </div>
    <div>
      <button class="btn btn-sm">
        <fa-icon [icon]="faEdit" (click)="onClickEditTimes()"></fa-icon>
      </button>
    </div>

  </div>

  <div class="section" *ngIf="editingTimes" style="display:flex;flex-direction: column;">
    <div style="display:flex;flex-direction: row;">
      <div style="width:80px;height:30px;">
        Start time:
      </div>
      <div>
        {{ timelogEntryStart.format('h:mm a') }}
      </div>
    </div>
    <div style="display:flex;flex-direction: row;">
      <div style="width:80px;height:30px;">
        End time:
      </div>
      <div>
        {{ timelogEntryEnd.format('h:mm a') }}
      </div>
    </div>
  </div>


  <div class="section" style="margin-bottom:5px;padding-bottom:5px;">
    <div class="section-header">
      Activities
    </div>
    <app-tlef-activities [timelogEntryStart]="timelogEntryStart" [timelogEntryEnd]="timelogEntryEnd" (tlefActivitiesChanged)="onActivitiesChanged($event)"></app-tlef-activities>
    
  </div>

  <div class="section">
    <input formControlName="description" type="text" class="clean-input"
      placeholder="Description / additional details...">
  </div>

  <div class="buttons-container">
    <button class="btn btn-primary btn-sm" (click)="onClickSaveTimelogEntry()" >Save</button>
    <button class="btn btn-secondary btn-sm" (click)="onClickClose()" style="margin-left:5px;">Cancel</button>
  </div>

</div>