<div class="timelog-entry-form-root" [formGroup]="timelogEntryForm" *ngIf="initiated">


  <div class="section" style="display:flex;flex-direction: row; align-items: center;">
    <div class="section-header">
      Current time:
    </div>
    <div style="flex-grow:2;display:flex;justify-content: space-between;align-items: center;padding-left:10px;">
      <span class="current-time">
        {{ currentTime.format('h:mm:ss a') }}
      </span>
      <span>
        {{ currentTime.format('MMMM Do, YYYY') }}
      </span>
    </div>

  </div>

  <div class="section" *ngIf="chart.isVisible">

    <div class="chart-grid" [style.grid-template-rows]="chart.gridTemplateRows">


      <div [ngStyle]="chart.timelogEntryStartStyle">
        <div class="chart-time">
          {{ chart.timelogEntryStart.format('h:mm a') }}
        </div>
      </div>
      <div [ngStyle]="chart.timelogEntryEndStyle">
        <div class="chart-time">
          {{ chart.timelogEntryEnd.format('h:mm a') }}
        </div>
      </div>
      <div *ngFor="let labelLine of chart.labelLines" class="label-line" [ngStyle]="labelLine.style"></div>

      <div *ngFor="let timeBlock of chart.timeBlocks;" [ngStyle]="timeBlock.style">
        <div *ngIf="timeBlock.isCurrent" class="current-timelog-entry">
          <div style="font-size:0.8em; color:gray;">
            Current Timelog Entry - {{ chart.timelogEntryStart.format('h:mm a') }} to
            {{ chart.timelogEntryEnd.format('h:mm a')}}
          </div>
          <div style="font-size:0.8em; color:gray;">Total Duration <b>{{ currentTimelogEntryDuration }}</b> </div>
          <div *ngFor="let activityItem of activityItems" class="new-activity">
            <div style="flex-grow:2;display:flex;flex-direction: row;">
              <div class="new-activity-color-block" [style.background-color]="activityItem.activity.color"></div>
              <div class="new-activity-name">
                {{ activityItem.activity.name }}
              </div>
            </div>


          </div>
        </div>
        <div *ngIf="timeBlock.isPrevious" class="time-entry">
          <div *ngIf="timeBlock.timelogEntry.activities.length == 1" class="activity"
            [style.background-color]="timeBlock.timelogEntry.activities[0].activity.color">
            {{ timeBlock.timelogEntry.activities[0].activity.name }}
          </div>
          <div *ngIf="timeBlock.timelogEntry.activities.length > 1 " class="activity"
            [style.background-color]="timeBlock.timelogEntry.activities[0].activity.color">
            {{ timeBlock.timelogEntry.activities[0].activity.name }} and {{ timeBlock.timelogEntry.activities.length-1 }}
            more
          </div>

        </div>
        <!-- <div *ngIf="timeBlock.isFuture" class="time-entry">

        </div> -->
      </div>

    </div>
  </div>

  <div class="section" style="display:flex;flex-direction: column;">
    <div style="display:flex;flex-direction: row;">
      <div style="width:80px;height:30px;">
        Start time:
      </div>
      <div *ngIf="!mouseOverTimes">
        {{ chart.timelogEntryStart.format('h:mm a') }}
      </div>
      <div *ngIf="mouseOverTimes" style="display:flex;flex-direction: row;">
        <input type="time" formControlName="startTime">
        <input type="date" formControlName="startDate">
      </div>
    </div>
    <div style="display:flex;flex-direction: row;">
      <div style="width:80px;height:30px;">
        End time:
      </div>
      <div *ngIf="!mouseOverTimes">
        {{ chart.timelogEntryEnd.format('h:mm a') }}
      </div>
      <div *ngIf="mouseOverTimes" style="display:flex;flex-direction: row;">
        <input type="time" formControlName="endTime">
        <input type="date" formControlName="endDate">
      </div>
    </div>
  </div>


  <div class="section" style="margin-bottom:5px;padding-bottom:5px;">
    <div class="section-header">
      Activities
    </div>
    <div style="margin-bottom:5px;">
      What activities have you been doing in the last <span
        style="font-weight:bold;color:rgb(0, 73, 168);;">{{ currentTimelogEntryDuration }}</span> ?
    </div>

    <div *ngFor="let activityItem of activityItems" class="new-activity no-select"
      (mouseenter)="onMouseEnterActivity(activityItem)" (mouseleave)="onMouseLeaveActivity(activityItem)">
      <div style="flex-grow:2;display:flex;flex-direction: column;">
        <div style="display:flex;flex-direction: row;">
          <div class="new-activity-name">
            {{ activityItem.activity.name }}
          </div>

          <div class="new-activity-duration">
            : {{ activityItem.durationMinutes.toFixed(0) }} minutes
          </div>
        </div>

        <div class="color-bar-container">
          <div class="color-bar-grid-item" *ngFor="let item of colorBarGridItems" (mouseenter)="onMouseEnterColorBarItem(item, activityItem)" (mouseup)="onMouseUpColorBarItem(item, activityItem)" [ngClass]="{'z-10':activityItem.isResizing, 'z-9':!activityItem.isResizing}"></div>
          <div class="activity-color-bar" [style.background-color]="activityItem.activity.color" [ngClass]="{'z-9':activityItem.isResizing, 'z-10':!activityItem.isResizing}"
            [style.width]="activityItem.durationPercent+'%'">
            <div class="color-bar-grabber" (mousedown)="onMouseDownGrabber(activityItem)"></div>
          </div>
        </div>


      </div>
      <div class="delete-activity">
        <fa-icon class="icon-button" [icon]="faTimes" (click)="onClickRemoveActivity(activityItem)"></fa-icon>
      </div>
    </div>

    <div style="margin-top:10px;">
      <app-activity-input-dropdown (valueChanged)="onActivityValueChanged($event)"></app-activity-input-dropdown>
    </div>
  </div>

  <div class="section">
    <input formControlName="description" type="text" class="clean-input"
      placeholder="Description / additional details...">
  </div>

  <div class="buttons-container">
    <button class="btn btn-primary btn-sm" (click)="onClickSaveTimelogEntry()" [disabled]="saveDisabled">Save</button>
    <button class="btn btn-secondary btn-sm" (click)="onClickClose()" style="margin-left:5px;">Cancel</button>
  </div>

</div>