.timelog-entry-form-root{
    padding:5px;
}

.section-header{
    font-size:0.9em;
    color:gray;
}

.section{
    border-bottom: 1px solid rgb(201, 201, 201);
}
.current-time{

    font-weight:bold;
    color:rgb(0, 73, 168);
    font-size:16pt;
}
.activity-name{
    flex-grow:2; 
    padding-left:4px;
    padding-right:4px;
    border-radius:4px;
    border: 1px solid rgb(241, 241, 241);
    height:100%;
}

.buttons-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:5px;
}    


.chart-grid{
    padding-top:5px;
    padding-bottom: 5px;
    padding-right:5px;
    display:grid;
    grid-template-columns: 25% 10px 75%;
    height:250px;
}

.chart-time{
    margin-top:-12px;
    padding-right:5px;
    height:24px;
    text-align: right;
}

.label-line{
    grid-column: 2 / span 1;
    border-right: 1px solid gray;
}

.time-entry{
    height:100%;

    font-size: 0.8em;
    margin:2px;
    margin-left:5px;
    margin-right:5px;

    display:flex;
    flex-direction: row;
}
.activity{
    height:100%;
    flex-grow: 2;
}

.clean-input{
    width:100%;
    border:none;
}


.current-timelog-entry{
    margin:2px;
    margin-left:5px;
    margin-right:5px;
    border:2px solid rgb(0, 90, 194);
    border-radius: 4px;
    padding:5px;

    height:100%;
}

.new-activity{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:15px;
    margin-right:15px;
}
.new-activity-name{
    margin-left:5px;
}
.new-activity-color-block{
    width:20px;
    height:20px;
    border-radius:3px;
}

.color-bar-container{
    width:100%;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(20, 1fr);
}

.z-10{
    z-index: 10;
}
.z-9{
    z-index: 9;
}

.activity-color-bar{
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    border-radius:3px;
    height:20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.color-bar-grabber{
    cursor: col-resize;
    width:4px;
}
.color-bar-grid-item{
    width:100%;
    height:100%;
    grid-row: 1 / -1;
}