<div class="repitition-root">
    <div class="schedule-repitition-header">
        This activity repeats every
        <div class="frequency-controls">
            <fa-icon class="frequency-button" [icon]="faMinusCircle" (click)="onClickMinusFrequency()"></fa-icon>
            <span
                style="font-weight:bold;color: rgb(0, 89, 255);width:30px; font-size: 1.25em; text-align: center;">{{ repitition.frequency }}</span>
            <fa-icon class="frequency-button" [icon]="faPlusCircle" (click)="onClickPlusFrequency()"></fa-icon>
        </div>
        <div class="time-unit-frame no-select" style="margin-left:10px;">
            <app-dropdown-list [listItems]="dayOfWeekListItems(repitition)"
                [currentValue]="timeUnitFrameString(repitition.unit)" (listItemSelected)="onListItemSelected($event)"
                style="width:65px;" class="dropdown-list-component-container"></app-dropdown-list>
        </div>
    </div>
    <div class="occurrences" *ngIf="occurrences.length > 0">
        <div>
            <span style="color:rgb(0, 89, 255);">{{ occurrences.length }}</span>
            {{ occurrencesString }} per {{ repitition.frequency }}
            {{ timeUnitFrameString(repitition.unit) }}
        </div>
        <div *ngFor="let occurrence of occurrences" style="margin-left: 10px;">
            <div *ngIf="repitition.unit == 'DAY'">
                day:
                {{ occurrence.timeOfDayQuarter }}
            </div>
            <div *ngIf="repitition.unit == 'WEEK'">
                Week:
            </div>
            <div *ngIf="repitition.unit == 'MONTH'">
                Month:
            </div>
            <div *ngIf="repitition.unit == 'YEAR'">
                year
            </div>
        </div>
    </div>
    <div class="occurrences" *ngIf="occurrences.length == 0">
        No occurrences configured for unit: {{ timeUnitFrameString(repitition.unit) }}
    </div>

    <button class="medium-button" style="width:160px; margin-top: 10px; margin-left:10px;" (click)="repitition.onClickNewOccurrence()" *ngIf="!repitition.newOccurrenceFormOpen">
        <fa-icon [icon]="faPlus" style="margin-right:5px;"></fa-icon> Add occurrence
    </button>
    <app-new-repitition-occurrence-form *ngIf="repitition.newOccurrenceFormOpen">

    </app-new-repitition-occurrence-form>

</div>