.root{
    width:600px;
    height:600px;

    border: 1px solid gray;
    padding:10px;
    margin-bottom:10px;

    display:flex;
    flex-direction: column;

}
.header{
    width:100%;
    text-align:center;
    border-bottom:1px solid rgb(197, 197, 197);
    margin-bottom:5px;
}
.body{
    flex-grow:2;
    width:100%;
    height:100%;
}
.day-grid{
    width:100%;
    height:100%;

    display:grid;
    grid-template-rows: auto repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
.day-of-week-title{
    font-size:0.9em;
    text-align: center;
    width:100%;
}
.day-container{
    width:100%;
    height:100%;
    padding:5px;

}
.day{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;

    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
    

    font-size: 0.8em;
}
.day-date{
    color: rgb(148, 148, 148);
}
.day-activity-name-container{
    flex-grow:2;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.day-activity-name{
    text-align: center;
    width:100%;
    font-size: 0.7em;
    overflow-wrap: break-all;
    /* overflow-wrap does not seem to have any effect */
    width:100%;
}