<div class="form-section-root">
    <div style="display:flex;flex-direction: column;">
        <span style="font-size:0.9em;color:gray;">What time did you fall asleep last night?</span>
        <div style="display:flex;flex-direction: row;">
            <input type="time" formControlName="fallAsleepTime" style="flex-grow:2;margin-right:5px;"
                class="clean-input">
        </div>
    </div>
    <div style="display:flex;flex-direction: column;">
        <span style="font-size:0.9em;color:gray;">What time did you wake up this morning?</span>
        <div style="display:flex;flex-direction: row;">
            <input type="time" formControlName="wakeupTime" style="flex-grow:2;margin-right:5px;" class="clean-input">

        </div>
    </div>
    <div style="display:flex;flex-direction: row-reverse">
        <button class="btn btn-sm small-button neato-blue" (click)="onClickSleepTimes()">Save</button>
    </div>
    <app-sleep-battery [configuration]="timelogEntryForm.batteryConfiguration">
    </app-sleep-battery>
</div>