<div class="form-section-root" (mouseenter)="formSection.onMouseEnter()" (mouseleave)="formSection.onMouseLeave()"
    (click)="formSection.onClick()"
    [ngClass]="{'form-section-root-expanded': formSection.isExpanded, 'form-section-hover': (formSection.mouseIsOver && !formSection.isExpanded) }">
    <div class="form-section-header">
        <div class="title" [ngClass]="{'title-incomplete': !formSection.isComplete}">
            {{ formSection.title }}
        </div>
        <fa-icon class="completion-checkmark" *ngIf="formSection.isComplete" [icon]="faCheck">
        </fa-icon>

    </div>
    <div class="form-section-body">
        <app-wakeup-section [timelogEntryForm]="timelogEntryForm" [formSection]="formSection"
            *ngIf="formSection.isWakeupSection">
        </app-wakeup-section>

        <app-time-of-day-section [timelogEntryForm]="timelogEntryForm" [formSection]="formSection"
            *ngIf="formSection.isTimeOfDaySection"></app-time-of-day-section>

        <app-bedtime-section [timelogEntryForm]="timelogEntryForm" [formSection]="formSection"
            *ngIf="formSection.isBedtimeSection">
        </app-bedtime-section>
    </div>
</div>


<!-- <div class="sleep-section-root sleep-section-root-small" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
    *ngIf="!isExpanded"
    [ngClass]="{'sleep-section-root-active': isExpanded, 'sleep-section-hover': (mouseIsOver && !isExpanded) }"
    (click)="onClick()">
    <div style="flex-grow:2;display:flex; flex-direction: column;">
        <div class="header">
            <div class="title" *ngIf="sectionIsComplete">
                <span>{{ timelogEntryForm.wakeupTime.format('h:mm a') }}</span> wakeup
            </div>
            <div class="title-incomplete" *ngIf="!sectionIsComplete">
                <span>Wakeup time</span>
            </div>
        </div>
        <div class="small-section" *ngIf="sectionIsComplete">
            <div class="small-section-item">
                <div style="margin-right: 10px;">
                    <span style="font-size:0.8em;">Duration </span><span
                        style="font-weight: bold;">{{ timelogEntryForm.sleepDurationShort }}</span>
                </div>
                <div>
                    <span style="font-size:0.8em;">Quality </span>
                    <fa-icon [icon]="faBed" style="margin-left: 2px;" *ngFor="let sleepQualityBed of sleepQualityBeds"
                        [ngClass]="sleepQuality(sleepQualityBed)"></fa-icon>
                </div>

            </div>
        </div>
    </div>
    <fa-icon style="display:flex;flex-direction: row;align-items: flex-start;color: green;" *ngIf="sectionIsComplete"
        [icon]="faCheck">
    </fa-icon>
</div>


<div class="sleep-section-root" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" *ngIf="isExpanded"
    [ngClass]="{'sleep-section-root-active': isExpanded, 'sleep-section-hover': (mouseIsOver && !isExpanded) }">
    <div class="header">
        <div class="title title-prominent" *ngIf="sectionIsComplete">
            {{ timelogEntryForm.wakeupTime.format('h:mm a') }} wakeup
        </div>
        <div class="title-incomplete" *ngIf="!sectionIsComplete">
            <span>Wakeup time</span>
        </div>

    </div>

    <div class="expanded-section" [formGroup]="sleepTimesFormGroup">

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">Approx. when did you <u>fall asleep</u> <span>
                        {{ fallAsleepDateTime }}</span>?</div>
                <div class="input-row">
                    <fa-icon [icon]="faMinusCircle" class="icon-button"
                        (click)="onClickChangeTime('SUBTRACT', 'FALL_ASLEEP')">
                    </fa-icon>
                    <input type="time" formControlName="fallAsleepTime" class="time-input" required>
                    <fa-icon [icon]="faPlusCircle" class="icon-button"
                        (click)="onClickChangeTime('ADD', 'FALL_ASLEEP')">
                    </fa-icon>
                </div>

            </div>

        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">What time did you wake up this morning?</div>
                <div class="input-row">
                    <fa-icon [icon]="faMinusCircle" class="icon-button"
                        (click)="onClickChangeTime('SUBTRACT', 'WAKE_UP')">
                    </fa-icon>
                    <input type="time" formControlName="wakeupTime" class="time-input" required>
                    <fa-icon [icon]="faPlusCircle" class="icon-button" (click)="onClickChangeTime('ADD', 'WAKE_UP')">
                    </fa-icon>
                </div>

            </div>

        </div>

        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">Sleep duration </div>
                <div style="font-weight: bold;color:rgb(0, 14, 90);">{{ sleepDuration }}</div>

            </div>
        </div>


        <div class="section-row">
            <div class="section-row-content">
                <div style="font-size:0.8em;color:gray;">
                    How well-rested do you feel after this sleep?
                </div>
                <div style="display: flex;flex-direction: row; align-items: center;">
                    <fa-icon *ngFor="let sleepQualityBed of sleepQualityBeds" [icon]="faBed" class="sleep-quality"
                        (click)="onClickSleepQuality(sleepQualityBed)" [ngClass]="sleepQuality(sleepQualityBed)">
                    </fa-icon>
                    <div style="font-size:0.9em; font-weight: bold; margin-left:15px;">
                        {{ sleepQualityString }}
                    </div>
                </div>
            </div>

        </div>

        <div style="display:flex;flex-direction: row-reverse;padding:5px;">
            <button class="small-button active-button" (click)="onClickSave()">Save</button>
        </div>
    </div>

</div> -->