
.timelog-chart{
    display: flex;
    flex-direction: column;
    /* border: 3px solid brown; */
}

.chart-item{
    /* width:50px; */
    min-height:10px;
    margin-left: 75px;
    margin-right: 15px;
    
    /* height:30px; */
    border:1px solid lightsteelblue;
    border-radius:2px;
    /* margin-bottom: 5px; */
    font-size: 1em;
}

.chart-item:hover{
    background-color: lime;
    cursor: pointer;
}