<div class="timelog-chart">

  <div class="chart-hour-labels-grid">
    <div *ngFor="let hour of hours" class="chart-hour-label">
      <div>
        {{ hour }}
      </div>
      <div class="ml-2">
        <hr width="15px">
      </div>
    </div>
  </div>

  <div class="chart-items">
    <div *ngIf="ifLoading">
      Loading
      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
    <div *ngFor="let tile of timeSegmentChartTiles " class="chart-item" [style.height]="tile.styleHeight"
      [style.backgroundColor]="tile.styleBackgroundColor" [style.margin-top]="tile.styleMarginTop" (click)="onClickTile(tile)">
      <div *ngIf="ifShowActivities(tile.timeSegment)">
        <div *ngFor="let timeSegmentActivity of tile.timeSegment.activities">
          {{ timeSegmentActivity.activity.name }}
        </div>
      </div>
    </div>

  </div>

</div>