
<div class="timelog-chart">


  <div class="chart-hour-labels-grid">
    <div *ngFor="let hour of hours" class="chart-hour-label" [style.height]="hourHeightPx">
      <div>
        {{ hour }}
      </div>
      <div class="ml-2">
        <hr width="15px">
      </div>
    </div>
  </div>

  <div class="chart-hour-tiles">
    <div *ngFor="let tile of chartHourTiles" class="chart-hour-tile" [style.height]="hourHeightPx">
      from  {{ tile.startTime.format('h:mm a')}}  to {{ tile.endTime.format('h:mm a')}}
    </div>
  </div>



</div> 