<div [formGroup]="confirmPasswordForm" style="display:flex; flex-direction: column; padding: 20px;">

    <div style="display:flex;flex-direction: column;">
        <div class="account-property"><span class="property-name">email:</span><span
                class="property-value">{{ email }}</span></div>
        <div class="account-property" *ngIf="usernameIsPresent"><span class="property-name">username:</span><span
                class="property-value">{{ username }}</span></div>
    </div>

    <div class="input-container" style="margin-top: 15px;">
        <input formControlName="password" type="password" class="form-input" placeholder="confirm password">
        <div class="icon-container">
            <fa-icon [icon]="faKey"></fa-icon>
        </div>
    </div>

    <div class="input-container" style="margin-top: 10px;">
        <div style="display:flex;flex-direction: row;align-items: center; justify-content: space-between; width: 100%;">
            <div style="width: 40px; order: 3;">

            </div>
            <button class="large-button save-button login-button" style="order: 2;" (click)="onClickConfirmPassword()"
                tabindex="0">Confirm Password
            </button>

            <div style="width: 40px;" style="order: 1;">
                <button class="small-button discard-button" (click)="onGoBack()">
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                </button>
            </div>
        </div>
    </div>

</div>