
.header{
    width:100%;
    height:100%;

    border-bottom: 1px solid gray;
    background-color: #f1f1f1;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}

.title-section{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:250px;
}


.balanceboard-title{
    flex-grow: 2;
    text-align: center;
    padding: auto;
    font-weight:bold;
    padding: 3px;
    padding-left:10px;
    padding-right:10px;
    font-size:0.9em;
    color: #1247da;
}
.balanceboard-icon{
    display:none;
}
.sidebar-button{
    padding:3px;
    padding-left:10px;
    padding-right: 10px;
    cursor: pointer;
}
.sidebar-button:hover{
    color: gray;
}

.header-component-sections{
    flex-grow:2;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header-component-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}



.header-top-right-section{
    display:flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
.header-top-right-section-item{
    margin-left: 5px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}
.header-top-right-section-item:hover{
    background-color:rgb(233, 233, 233);
    cursor: pointer;
}




.clock{
    font-weight: bold;
    font-size: 0.9em;
    color: rgb(0, 43, 124);
}
.battery-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}
.battery-section:hover{

}

.menu-name{
    padding: 3px;
    padding-left:10px;
    padding-right:10px;
    font-size: 0.9em;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: row;
}

.header-menu:hover{
    cursor: pointer;
    background-color: #dddddd;
}
.header-is-open{
    background-color: #dddddd;
}


.open-menu{
    position: absolute;
    background-color: white;
}

.search-bar, .toolbox-menu{
    display:flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .title-section{
        width:20px;
    }
    
    .balanceboard-title{
        display:none;
    }
    .balanceboard-icon{
        display:inline;
    }
    .sidebar-button{
        display:none;
    }
}


.battery-empty{
    color: rgb(90, 0, 0);
}
.battery-quarter{
    color: rgb(117, 34, 2);
}
.battery-half{
    color: rgb(103, 141, 0);
}
.battery-three-quarters{
    color: rgb(38, 71, 0);
}
.battery-full{
    color: rgb(6, 66, 0);
}
