<div class="header no-select">
  <div class="title-section">
    <div class="balanceboard-title">
      balanceboard
    </div>
    <div class="balanceboard-icon">
      <img src="../../../assets/logo.png" width="16px" height="16px">
    </div>
    <div class="sidebar-button" (click)="onClickSidebarMenuButton()">
      <fa-icon [icon]="faBars"></fa-icon>
    </div>
  </div>
  <div class="header-component-sections">
    <div class="header-component-section">
      <div *ngFor="let headerMenu of headerMenus" class="header-menu" [ngClass]="{'header-is-open':headerMenu.isOpen}">
        <div class="menu-name" (click)="onClickHeaderMenuName(headerMenu)"
          (mouseover)="onMouseOverHeaderMenuName(headerMenu)" (mouseleave)="onMouseLeaveHeaderMenuName(headerMenu)">
          <fa-icon [icon]="headerMenu.icon" style="margin-right:2px;" *ngIf="headerMenu.icon"></fa-icon>
          {{ headerMenu.name }}
        </div>

        <div *ngIf="headerMenu.isOpen == true" class="open-menu">
          <app-header-menu [openMenu]="headerMenu"></app-header-menu>
        </div>
      </div>
    </div>
    <div class="header-component-section" style="margin-right:5px;">
      <div class="header-component-section">
        <fa-icon [icon]="faUsers" style="color:rgb(0, 119, 134);"></fa-icon>
      </div>
      <div class="header-component-section battery-section">
        <span style="color: gray; font-weight:bold; font-size:0.6em; margin-right: 2px;">{{ batteryPercent }}% </span>
        <fa-icon *ngIf="batteryIcon" [icon]="batteryIcon" [ngClass]="batteryNgClass"></fa-icon>
      </div>
      <div class="search-bar">
        <app-search-bar></app-search-bar>
      </div>
    </div>
  </div>
</div>