<div class="header" >
  <!-- <div class="header-title">balanceboard</div> -->
  <div class="header-menu" (mouseleave)="onMouseLeaveMenu()" (mouseenter)="onMouseEnterMenu()">
    <button class="menu-dropdown-button" (click)="onClickMenuButton()">
      Menu 
      <!-- <fa-icon [icon]="faCaretSquareDown"></fa-icon> -->
    </button>
    <div [ngClass]="{'expanded-menu': menuIsExpanded}" class="menu">

      <div *ngFor="let navItem of navItems" class='menu-item' (click)="onClickMenuItem()" [routerLink]="navItem.routerLink" routerLinkActive='activeLink'>
        <div class="menu-item-icon">
          <fa-icon [icon]="navItem.icon"></fa-icon>
        </div>
        <div class="menu-item-text">
          {{ navItem.title }}
        </div>
      </div>


      <div class='menu-item' (click)="onClickMenuItem()">
        <div class="menu-item-icon">
          <fa-icon [icon]="faCogs"></fa-icon>
        </div>
        <div class="menu-item-text">
          Settings
        </div>
      </div>
      <div class='menu-item' (click)="onClickLogout()">
        <div class="menu-item-icon">
          <fa-icon [icon]="faSignOutAlt"></fa-icon>
        </div>
        <div class="menu-item-text">
          Logout
        </div>
      </div>
    </div> <!-- Menu -->
  </div> <!-- Menu button & menu-->
</div>