<div class="root" [ngClass]="{'objective-complete': taskComplete, 'objective-failed': taskFailed}" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
  <div class="primary-objective-widget" >
    <div class="header" >
      <div class="header-item"> </div>
      <div class="header-item" style="flex-grow:2;">Primary Objective</div>
      
      <div class="header-item">
        <fa-icon *ngIf="showEditButton" [icon]="faEdit" class="edit-button" (click)="onClickEdit()"></fa-icon>
      </div>
    </div>
    <div class="body" *ngIf="!loading">



      <div class="objective" *ngIf="task">
        <div style="font-size:1.3em;font-weight:bold;">
          {{ task.title }}
        </div>
        <div style="font-size:1.2em;">
          <div *ngIf="!task.isComplete">
              <fa-icon [icon]="faCircle" class="empty-circle" (click)="onClickComplete()"></fa-icon> <span style="cursor: default;margin-left:10px;">Mark Complete</span>
          </div>
          <div *ngIf="task.isComplete">
              <fa-icon [icon]="faCheckCircle" class="complete-circle" (click)="onClickUnsetComplete()"></fa-icon>
          </div>
          
          
        </div>
      </div>


      <div class="no-objective" *ngIf="!task" style="font-size:0.9em;">
        No objective set for this day.
        <button class="btn btn-sm btn-primary" (click)="onClickSetObjective()">Set Primary Objective</button>
      </div>



    </div>
    <div class="body" *ngIf="loading">
      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>

  </div>

</div>