<div class="form-section-root" (mouseenter)="formSection.onMouseEnter()" (mouseleave)="formSection.onMouseLeave()"
    [ngClass]="{'form-section-root-expanded': formSection.isExpanded, 'form-section-hover': (formSection.mouseIsOver && !formSection.isExpanded) }">
    <div class="form-section-header">
        <div class="title"
            [ngClass]="{'title-incomplete': (!formSection.isComplete && !formSection.isExpanded) , 'title-hover': (formSection.mouseIsOverTitle && !formSection.isExpanded), 'title-current-time': formSection.isCurrentTimeSection}"
            (mouseenter)="formSection.onMouseEnterTitle()" (mouseleave)="formSection.onMouseLeaveTitle()"
            (click)="formSection.onClickTitle()">
            <div>
                {{ formSection.title }}
            </div>
            <div style="margin-left:5px;" *ngIf="formSection.mouseIsOver">
                <fa-icon [icon]="faCaretRight" *ngIf="!formSection.isExpanded" class="expand-arrow"
                    [ngClass]="{'expand-arrow-hover': formSection.mouseIsOverTitle}"></fa-icon>
                <!-- <fa-icon [icon]="faCaretDown" *ngIf="formSection.isExpanded" class="expand-arrow"
                    [ngClass]="{'expand-arrow-hover': formSection.mouseIsOverTitle}"></fa-icon> -->
            </div>
        </div>

        <fa-icon class="completion-checkmark" *ngIf="formSection.isComplete" [icon]="faCheck">
        </fa-icon>

    </div>
    <div class="form-section-body">
        <app-wakeup-section [daybookEntryForm]="daybookEntryForm" [formSection]="formSection"
            *ngIf="formSection.isWakeupSection">
        </app-wakeup-section>

        <app-time-of-day-section [daybookEntryForm]="daybookEntryForm" [formSection]="formSection"
            *ngIf="formSection.isTimeOfDaySection"></app-time-of-day-section>

        <app-bedtime-section [daybookEntryForm]="daybookEntryForm" [formSection]="formSection"
            *ngIf="formSection.isBedtimeSection">
        </app-bedtime-section>
    </div>
</div>
