.sort-controls{
    display:flex;
    flex-direction: row;
}
.tags{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tag-filter{
    background-color: rgb(226, 255, 236);
    border-radius:10px;
    margin-left:10px;
    font-size:0.9em;
    padding:3px;
    display:flex;
    flex-direction: row;
}

