<div class="full-screen">
  
  <div class="app-modal">

    <div class="app-modal-header">
      <div style="display:flex;flex-direction: row;">
        <fa-icon [icon]="modal.headerIcon" *ngIf="modal.headerIcon"></fa-icon>
        {{ modalHeader }}
      </div>
      <div class="header-button" (click)="onClickCloseModal()">
        <fa-icon [icon]="faTimes" style="width:15px;height:15px;"></fa-icon>
      </div>
    </div>

    <div class="app-modal-body">
      <app-default-modal *ngIf="modal.modalComponentType == 'DEFAULT'"></app-default-modal>
      <app-confirm-modal *ngIf="modal.modalComponentType == 'CONFIRM'"></app-confirm-modal>

      <app-notepad-modal *ngIf="modal.modalComponentType == 'NOTE'"></app-notepad-modal>
      <app-action-item-form *ngIf="modal.modalComponentType == 'TASK'" [action]="modal.action"></app-action-item-form>

      <!-- <app-daybook-entry-form *ngIf="modal.modalComponentType == 'TIMELOG_ENTRY'" [timelogEntry]="modal.modalData"></app-daybook-entry-form> -->
      <app-recurring-task-form *ngIf="modal.modalComponentType == 'RECURRING_TASK'" [updateTask]="modal.modalData"></app-recurring-task-form>

      <!-- <app-activity-category-definition-form 
        *ngIf="modal.modalComponentType == 'ACTIVITY_CATEGORY_DEFINITION'" 
        [activityCategoryDefinition]="modal.modalData">
      </app-activity-category-definition-form> -->
    </div>

  </div>


</div>