<div class="root">
  <div class="app-modal">
    <div class="app-modal-header">
      <div class="header-button" (click)="onClickCloseModal()">
        <fa-icon [icon]="faTimes" style="width:15px;height:15px;"></fa-icon>
      </div>
    </div>
    <div class="app-modal-body">
      <div style="text-align:center;">
        {{ modal.message }}
      </div>
      <div class="app-modal-buttons" >
        <button class="btn btn-sm border-primary m-2 app-modal-button" *ngFor="let option of modal.modalOptions" (click)="onClickOption(option)">
          {{ option }}
        </button>
      </div>


    </div>
  </div>

</div>