
.root{
    padding:10px;
    width:100%;
}

.activity-display{

    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 5px 6px rgb(166, 195, 219);
    background-color: #fdfdfd;

    min-height: 600px;
 
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: auto;


}
.activity-header{
    grid-row: 1 / span 1;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;

}
.header-edit-button{
    font-size:12pt;
    width: 30px;
    padding: 3px;
    margin-top:0px;
}
.header-edit-button:hover{
    cursor: pointer;
    color: rgb(116, 116, 116);
}
.activity-body{
    grid-row: 2 / span 1;

    display:flex;
    justify-content: center;
    padding:10px;
}




.year-view{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    margin:20px;
}