.scheduling-root{
    display:flex;
    flex-direction: column;
}
.scheduling-component{
    width:100%;
    margin-bottom:10px;
    padding:5px;
    border-bottom: 1px solid rgb(173, 173, 173);
    min-height: 250px;
}

.icon-button{
    color:gray;
}
.icon-button:hover{
    cursor: pointer;
    color:black;
}

.scheduling-component-header{
    display: flex;
    flex-direction: row;
}