<div class="new-chart-line-area-root">
    <div class="drawn-chart-items">
        <div class="chart-label-line" *ngFor="let chartLabelLine of chartConfiguration.chartLabelLines">

        </div>
    </div>
    <div class="time-column-rows">
        <div class="time-column-row" *ngFor="let timeColumnRow of chartConfiguration.timeColumnRows"
            (mouseover)="timeColumnRow.onMouseOverLine()" (mouseleave)="timeColumnRow.onMouseLeaveLine()"
            (mouseup)="timeColumnRow.onMouseUp()">
            <div class="time-column-row-time-label" (mouseover)="timeColumnRow.onMouseOverTimeLabel()"
                (mouseleave)="timeColumnRow.onMouseLeaveTimeLabel()">
            </div>
        </div>
    </div>
</div>