.merge-root{
    text-align: left;
    width: 100%;
}
.irreversible{
    font-size: 0.9em; color: orangered;
    display: flex;
    flex-direction: row;
}

.reset-text{
    font-weight: bold;
    color: rgb(0, 110, 255);
    
}
.reset-text:hover {
    cursor: pointer;
    color: black;
 }