<div class="tools-root">
  <div class="tool" *ngIf="toolName == 'ACTION_ITEM'"
    [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        New action item
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-action-item-form></app-action-item-form>
    </div>
  </div>

  <div class="tool" *ngIf="toolName == 'NOTEBOOK_ENTRY'"
    [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        New Notebook Entry
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-notebook-entry-form></app-notebook-entry-form>
    </div>
  </div>

  <div class="tool" *ngIf="toolName == 'TIMELOG_ENTRY'"
    [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        New Timelog Entry
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-timelog-entry-form></app-timelog-entry-form>
    </div>
  </div>

  <div class="tool" *ngIf="toolName == 'FUTURE_EVENT'"
    [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        New Future Event
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-future-event-form></app-future-event-form>
    </div>
  </div>

  <div class="tool" *ngIf="toolName == 'DAILY_TASK_LIST'"
    [ngClass]="{'tool-mobile': screenSize <=1 , 'tool-large': screenSize > 1}">
    <div class="tool-header">
      <div class="tool-header-item" style="font-size:0.8em;">
        Daily Task List: {{ currentDate }}
      </div>
      <fa-icon [icon]="faTimes" class="icon-button tool-header-item" (click)="onClickClose()"></fa-icon>
    </div>
    <div class="tool-body">
      <app-dtl-tool></app-dtl-tool> 
    </div>
  </div>

</div>