/* You can add global styles to this file, and also import other style files */

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.icon-button{
  color:gray;
}
.icon-button:hover{
  color: black;
  cursor: pointer;
}

.small-button{
  font-size:0.9em;
  margin:0px;
  padding:0px;
  padding-left:5px;
  padding-right:5px;
  border:1px solid gray;
  border-radius: 10px;
}
.small-button:hover{
  border: 1px solid rgb(0, 119, 255);
  background-color: rgb(242, 248, 255);
  cursor: pointer;
}

.clean-input{
  border:none;
}