/* You can add global styles to this file, and also import other style files */
@import url("./assets/styles/bootstrap.css");
@import url("./assets/styles/background-images.css");
@import url("./assets/styles/font-families.css");
@import url("./assets/styles/buttons.css");

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
}
  
.new-item-icon{
    color: gray;    
}
.new-item-icon:hover{
    cursor: pointer;
    color: rgb(0, 89, 255);
}

.clean-input{
    border:none;    
}

.max-flex-column{
    width:100%; 
    height: 100%; 
    display:flex;
    flex-direction: column;
}
