<div class="modal-header">
  <h4 class="modal-title">New Activity</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newActivityForm">
    <div class="form-group" formGroupName="startTime">
      <label class="center-block" for="startTime">Start Time</label>
      <div class="form-row">
        <div class="col-4">
          <label class="center-block" for="startTimeYear">YYYY-MM-DD</label>
          <input class="form-control" formControlName="startTimeYear" [value]="startTime.format('YYYY-MM-DD')" disabled>
        </div>
        <div class="col">
          <label class="center-block" for="startTimeHour">HH</label>
          <input class="form-control" formControlName="startTimeHour" [value]="startTime.format('HH')">
        </div>
        <div class="col">
          <label class="center-block" for="startTimeMinute">mm</label>
          <input class="form-control" formControlName="startTimeMinute" [value]="startTime.format('mm')"> 
        </div>
        <div class="col">
          <label class="center-block" for="startTimeSecond">ss</label>
          <input class="form-control" formControlName="startTimeSecond" [value]="startTime.format('ss')">
        </div>
      </div>
    </div>
    <div class="form-group" >
      <label class="center-block" for="endTime">End Time</label>
        <input class="form-control" formControlName="endTimeYear" [value]="poop">
      
    </div>
    <div class="form-group">
      <label class="center-block" for="description">Description</label>
        <input class="form-control" formControlName="description">
      
    </div>
    <div class="form-group">
      <label class="center-block" for="category">Category</label>
        <input class="form-control" formControlName="category">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Cancel</button>
</div>