<div class="tasks-root">
  <div class="header">
    <div class="header-title">
      To-do items
    </div>
    <div class="header-buttons">
      <div class="icon-button" style="font-size:10pt;" [ngClass]="{'toggled-button':taskView=='TREEMAP'}"
        (click)="onClickChangeView('TREEMAP')">
        <fa-icon [icon]="faPercentage"></fa-icon>
      </div>
      <div class="icon-button" style="font-size:10pt;" [ngClass]="{'toggled-button':taskView=='CATEGORIES'}"
        (click)="onClickChangeView('CATEGORIES')">
        <fa-icon [icon]="faSitemap"></fa-icon>
      </div>
      <div class="icon-button" style="font-size:10pt;" [ngClass]="{'toggled-button':taskView=='LIST'}"
        (click)="onClickChangeView('LIST')">
        <fa-icon [icon]="faList"></fa-icon>
      </div>
      <div class="icon-button" style="font-size:10pt;" [ngClass]="{'toggled-button':taskView=='GRID'}"
        (click)="onClickChangeView('GRID')">
        <fa-icon [icon]="faThlarge"></fa-icon>
      </div>
      <div class="icon-button" style="margin-left:20px;" (click)="onClickSettings()"
        [ngClass]="{'toggled-button':settingsMenu}">
        <fa-icon [icon]="faCog"></fa-icon>
      </div>
    </div>

  </div>

  <div *ngIf="settingsMenu" class="settings-menu">
    <div>
      Sort by Importance
    </div>
    <div>
      Sort by Urgency
    </div>
    <div>
      Sort by date created
    </div>
    <div>
      Sort by Category / click to toggle Category view
    </div>
  </div>

  <div class="tasks-view">
    <app-categories-view *ngIf="taskView=='CATEGORIES'"></app-categories-view>
    <app-list-view *ngIf="taskView=='LIST'"></app-list-view>
    <app-treemap-view *ngIf="taskView=='TREEMAP'" style="height:100%;display:flex;flex-direction: column;"></app-treemap-view>
  </div>

</div>