.energy-root{
    width: 100%;
    height: 100%; 
    flex-grow: 2;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.percent{
    font-weight: bold;
    color: rgb(0, 89, 255);
}

.percent-container{
    margin-top: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

