@font-face{
    font-family: Lexend; 
    src: url("./../fonts/Lexend_Deca/LexendDeca-Regular.ttf");
};
@font-face{
    font-family: Ubuntu; 
    src: url("./../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face{
    font-family: OpenSans;
    src: url("./../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face{
    font-family: NotoSerif;
    src: url("./../fonts/Noto_Serif/NotoSerif-Regular.ttf");
}
@font-face{
    font-family: NotoSerifBold;
    src: url("./../fonts/Noto_Serif/NotoSerif-Bold.ttf");
}
.font-family-lexend{
    font-family: 'Lexend';
}
.font-family-ubuntu{
    font-family: 'Ubuntu';
}
.font-family-open-sans{
    font-family: 'OpenSans';
}
.font-family-noto-serif{
    font-family: 'NotoSerif';
}
.font-family-noto-serif-bold{
    font-family: 'NotoSerifBold';
}