<div class="view-only-root" (click)="onClickEdit()">
    <div class="embedded-note">
        {{ noteText }}
    </div>
    <div class="activities-container">
        
        <div class="display-activities">
            <div *ngFor="let item of displayActivities" class="display-activity">

                <div class="item-name"> {{item.activity.name }} </div>

                <div class="units-container">
                    <div *ngFor="let unit of item.units" class="unit" [ngStyle]="unit.ngStyle"></div>
                    <span class="item-duration" >{{ item.durationString }}</span>
                </div>
            </div>
        </div>
    </div>

</div>