.data-entry-item-input-root{
    width:100%;
    max-width: 350px;
    min-width: 250px;
    min-height: 30px;
    background-color: hsl(210, 9%, 90%);
    display:flex; 
    flex-direction: column;
    border: 1px solid hsl(210, 9%, 90%);
    border-radius: 10px;
}
.data-entry-item-input-header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
   
    padding-top:3px;
    padding-bottom: 0px;

}
.header-item{
    font-size:1.1em;
    min-width:30px;
    width:30px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    padding:5px;
    color:gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.header-item:hover{
    cursor: pointer;
    color: rgba(0, 89, 255, 1);
}
.header-item-active{
    background-color: hsl(210, 9%, 96%);
    color: rgba(0, 89, 255, 0.5);
}
.data-entry-item-input-body{
    width:100%;
    padding:3px;
    background-color: hsl(210, 9%, 96%);
    min-height: 30px;
    flex-shrink: 2;
    display:flex;
    flex-direction: column;

}
.data-entry-item-input-footer{
    width:100%;
    padding:3px;
    background-color: hsl(210, 9%, 99%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.input-item{
    width:100%;
    padding:5px;
}