<div class="time-views-root">
    <div class="time-views-header">
        <div class="view-controls">
            <app-button-menu [menu]="timeFrameMenu"></app-button-menu>
        </div>
    </div>
    <div class="time-views-body">
        <app-tv-month-view *ngIf="viewIsMonth"></app-tv-month-view>
        <app-tv-week-view *ngIf="viewIsWeek"></app-tv-week-view>
        <app-tv-year-view *ngIf="viewIsYear" [manager]="manager"></app-tv-year-view>
        <app-tv-specify-view *ngIf="viewIsSpecify"></app-tv-specify-view>
    </div>
</div>