<div class="container">
  <div class="row">
    <div class="col-12 my-3">
      
      
    </div>
  </div>
  <div class="row text-center">
    <div class="col-3">
      <button class="btn btn-sm" (click)="onClickTimeFrameButton('year')">Year</button>
      <button class="btn btn-sm" (click)="onClickTimeFrameButton('month')">Month</button>
      <!-- <button class="btn btn-sm" (click)="onClickTimeFrameButton('day')">Day</button> -->
    </div>
  </div>
  <div class="row" style="border:1px solid black">
    <div class="col-12" *ngIf="selectedView=='day'" style="border:1px solid red">
      <app-day-view></app-day-view>
    </div>
    <div class="col-12" *ngIf="selectedView=='month'" style="border:1px solid blue">
      <app-month-view></app-month-view>
    </div>
    <div class="col-12" *ngIf="selectedView=='year'">
      <app-year-view></app-year-view>
    </div>
  </div>
</div>

