
.btn:hover{
    cursor:pointer;
}
.taskItem{
    cursor:pointer;
}
.completedTask{
    color: #969696;
}
.greenCheck{
    color: green;
}
.allCompleteNotice{
    font-size: 3em;
    position: relative;
}