
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 mb-3">
      <div class="card">
        <div class="card-header">Task List For Today <span class="badge badge-secondary float-right ">Open</span></div>
        <div *ngIf="loadingTaskList">
          <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div *ngIf="!loadingTaskList" class="card-body">
          <div [ngClass]="{'d-none': !allTasksComplete, 'd-inline allCompleteNotice': allTasksComplete}">Woohoo!!</div>
          <ol *ngIf="todaysTaskList">
            <li *ngFor="let task of (todaysTaskList.tasks)" 
              (click)="onClickTask(task, todaysTaskList)"
              [ngClass]="{'completedTask': task.isComplete }"
              class="taskItem">
              {{task.title}} <i *ngIf="task.isComplete" class="fa fa-check greenCheck"></i>
            </li>
          </ol>
          <div *ngIf="!todaysTaskList">
            <span>No task list was created for today.</span>
            <button class="btn btn-success btn-sm" (click)="onClickCreateTaskList('today')">Create task list for today</button>
          </div>
          
        </div>
        <div class="card-footer" >
          <div *ngIf="!tomorrowsTaskList">
              <button class="btn btn-primary btn-sm mr-0" (click)="onClickCreateTaskList('tomorrow')">Create task list for tomorrow</button>
          </div>
          <div *ngIf="tomorrowsTaskList">
            Woohoo! You've already set your task list for tomorrow.<span class="badge badge-secondary float-right" (click)="onClickOpenTomorrowsTaskList()">Open</span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-8 mb-3" *ngIf="selectedView=='day'">
      <div class="card">
        <div class="card-header"> Day View<button class="btn border border-primary bg-white btn btn-sm float-right" (click)="onClickMonth()" ><i  class="fa fa-calendar"></i> Month</button></div>
        <div class="card-body">
          <app-day-view></app-day-view>
        </div>
      </div>

    </div>
    <div class="col-12 col-lg-8 mb-3" *ngIf="selectedView=='month'">

      <div class="card">
        <div class="card-header">Month View</div>
        <div class="card-body">
          <app-month-view></app-month-view>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 mb-3" *ngIf="selectedView=='year'">
      <div class="card">
        <div class="card-header">Year View</div>
        <div class="card-body">
          <app-year-view></app-year-view>
        </div>
      </div>

    </div>
  </div>
</div>