.notepad-modal-root{
    width:360px;
    max-height:650px;

    display:flex;
    flex-direction: column;

}

.title{
    font-weight: bold;
}

.tags{
    font-size:0.9em;
    display:flex;
    flex-direction: row;
}
.content{
    flex-grow:2;
    overflow-y: auto;
}
.input-title{
    width:100%;
    border:none;
}
.input-text-content{
    width:100%;
    border:none;
}
.input-tags{
    width:100%;
    border:none;
}
.tag{
    
    color:green;
    font-weight:bold;
}
.controls{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}