.tag-search-root{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1.0em;
}
.tag{
    display:flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
}
.tag:hover{
    border: 1px solid rgb(0, 89, 255);
    background-color: rgb(241, 246, 255);
    cursor: pointer;
}

.enabled-tag{
    background-color: rgb(219, 232, 255);
    border: 1px solid rgba(0, 89, 255, 0.5);
}