<div class="full-flex-column">
    <app-mobile-menu *ngIf="showMobileMenu" (close)="onCloseMobileMenu()" class="full-flex-column"></app-mobile-menu>
    <div class="full-flex-column" *ngIf="showRouterOutlet">
        <router-outlet></router-outlet>
    </div>
    
    <app-toolbox *ngIf="showToolbox" ></app-toolbox>
    <div class="menu-button-container" *ngIf="showRouterOutlet" >
        <button class="medium-circle-button menu-button" (click)="onClickMenu()">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
    </div>
</div>