<div class="timelog-calendar">
  <!-- <svg [attr.viewBox]="viewBox" width="100%">
    <g *ngFor="let daySquare of daySquares" (click)="onClick(daySquare)" (mouseenter)="onMouseEnter(daySquare)"
      (mouseleave)="onMouseLeave(daySquare)">

      <path [ngStyle]="daySquare.style" [attr.d]="daySquare.svgPath" />

      <text [attr.x]="daySquare.text_x" [attr.y]="daySquare.text_y" class="dayDateDisplay">{{daySquare.date.date()}}</text>
      <text *ngIf="daySquare.eventActivities.length > 0" [attr.x]="daySquare.text_x+20" [attr.y]="daySquare.text_y+20"
        class="dayDateDisplay">{{daySquare.eventActivities.length}} events</text>

    </g>

  </svg> -->
  <svg [attr.viewBox]="viewBox">
    <g *ngFor="let daySquare of daySquares" (click)="onClickDaySquare(daySquare)" (mouseenter)="onMouseEnterDaySquare(daySquare)"
      (mouseleave)="onMouseLeaveDaySquare(daySquare)">
      <path [ngStyle]="daySquare.style" [attr.d]="daySquare.svgPath" />
    </g>
  </svg>
</div>