
.form-root{
    margin:10px;
    padding: 10px;
    border:1px solid black;
    border-radius: 2px;
}


.form-grid{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;

    /* background-color: white; */
    border-radius:3px;

    margin:20px;
    padding:10px;

    /* grid-template-rows:  auto; */
}

.form-label{
    grid-column: 1 / span 1;
}
.form-input{
    grid-column: 2 / span 1;
    border: 1px solid rgb(87, 87, 87);
    padding: 7px;
    border-radius:3px;
    background-color:white;
}
.form-input-parent-category{
    width:100%;
    height:40px;
    border: 1px solid rgb(87, 87, 87);
    grid-column: 1 / span 1;
    padding: 7px;
    border-radius:3px;
    background-color:white;
    cursor:pointer;
}


.color-picker-input{
    cursor:pointer;
}
.parent-categories-popup{
    z-index: 99;
    min-width:120px;

    position: absolute;
    border:1px solid black;
    background-color:white;
    box-shadow: 1px 1px 5px black;
    padding:5px;
}
.parent-category-choice{
    padding: 3px;
}
.parent-category-choice:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 241);
}