<div class="root">

  <div class="daybook">
    <div class="daybook-header">
      <div class="header-margin-item"></div>
      <div class="daybook-header-tabs">
        <div class="daybook-header-tab no-select" (click)="onClickHeaderDate(-2)" [ngClass]="{'daybook-header-today': isToday(-2) } ">
          <div>{{ headerDayRelevance(-2) }}</div>
          <div>{{ headerDate(-2) }}</div>
        </div>
        <div class="daybook-header-tab no-select" (click)="onClickHeaderDate(-1)" [ngClass]="{'daybook-header-today': isToday(-1) } ">
          <div>{{ headerDayRelevance(-1) }}</div>
          <div>{{ headerDate(-1) }}</div>
        </div>
        <div class="daybook-header-tab daybook-header-current-day no-select" (click)="onClickHeaderDate(0)" [ngClass]="{'daybook-header-today': isToday(0) } ">
          <div>{{ headerDayRelevance(0) }}</div>
          <div>{{ headerDate(0) }}</div>
        </div>
        <div class="daybook-header-tab no-select" (click)="onClickHeaderDate(1)" [ngClass]="{'daybook-header-today': isToday(1) } ">
          <div>{{ headerDayRelevance(1) }}</div>
          <div>{{ headerDate(1) }}</div>
        </div>
        <div class="daybook-header-tab no-select" (click)="onClickHeaderDate(2)" [ngClass]="{'daybook-header-today': isToday(2) } ">
          <div>{{ headerDayRelevance(2) }}</div>
          <div>{{ headerDate(2) }}</div>
        </div>

      </div>
      <div class="header-margin-item toggle-inside-calendar-button-container">
        <div class="toggle-inside-calendar-button" (click)="onClickToggleCalendar()">
          <fa-icon [icon]="faCalendar"></fa-icon>
        </div>
      </div>
    </div>
    <div class="calendar-inside" *ngIf="ifCalendarInside">
      <app-daybook-calendar (changedDate)="onChangeCalendarDate($event)" [currentDate]="currentDate"></app-daybook-calendar>
    </div>
    <div class="daybook-body" [ngStyle]="daybookBodyStyle">
      <div class="margin-line"></div>
      <div *ngFor="let bookLine of bookLines" class="book-line" [ngStyle]="bookLine.style">

      </div>

      <div *ngFor="let hourLabel of hourLabels" class="hour-label" [ngStyle]="hourLabel.style">
        <div class="hour-label-offset">
          {{ hourLabel.time }}
        </div>
      </div>


      <!-- <div *ngIf="ifNowLine">
        <div class="now-time-container" [ngStyle]="nowTimeContainerStyle">
          <div class="now-time">
            {{ nowTime.format('h:mm a') }}
          </div>
        </div>
        <div class="now-line-container" [ngStyle]="nowLineContainerStyle">
          <div class="now-line"> </div>
        </div>
      </div>

      <div *ngIf="ifBedTime">
        <div class="bed-time-container" [ngStyle]="bedTimeStyle">
          <div class="bed-time">
            {{ bedTimeString }}
          </div>
        </div>
      </div> -->

      <!-- <div *ngIf="timeSegmentTiles.length > 0">

      </div> -->
      <div *ngFor="let timeSegmentTile of timeSegmentTiles" class="time-segment-tile" [ngStyle]="timeSegmentTile.containerStyle">
        <div class="time-segment-start" ></div>
        <div class="time-segment-duration" [style.border]="'3px solid ' + timeSegmentTile.timeSegment.activities[0].activity.color" [style.background-color]="segmentBackgroundColor(timeSegmentTile.timeSegment)" >
          <div class="time-segment-text" [ngStyle]="timeSegmentTile.durationStyle">
              {{ timeSegmentTile.timeSegment.activities[0].activity.name }}
          </div>
        </div>
        <div class="time-segment-end"></div>
        
      </div>

    </div>
  </div>
  <div class="calendar-outside">
    <app-daybook-calendar (changedDate)="onChangeCalendarDate($event)" [currentDate]="currentDate"></app-daybook-calendar>
  </div>
</div>