.root{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.daybook {
    /* background-color: rgb(255, 190, 190); */
    border: 1px solid rgb(165, 165, 165);
    /* border-bottom: none; */
    box-shadow: 0px 5px 6px rgb(166, 195, 219);
    margin-top:10px;

    background-color: #e2e2e2;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
}

.daybook-header{

    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    display:flex;
    align-items: center;
    justify-content: center;
    /* height:40px; */

    background-color: lime;
    border-bottom: 1px solid rgb(166, 166, 252);
}
.daybook-body{

    max-height: 100%;

    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    display:grid;
    
    background-color: rgb(250, 250, 250);
    padding:10px;
}
.book-line{
    border-bottom: 1px solid rgb(171, 209, 224);
}

.hour-label{
    font-size:1.1em;
    justify-self: end;
}
.hour-label-offset{
    position: relative;
    top: -0.9em;
    padding-right:10px;
}




@media (max-width: 767px){
    .daybook { 
        min-width: 300px;
        min-height: 400px;

        width: 100%;
        height: 90vh;

        max-width: 468px;
        max-height: 624px;

        margin: 0px;
        /* background-color: rgb(0, 255, 170); */
    }
    .hour-label{
        font-size:0.8em;
    }
}

@media  (min-width: 768px) {
    /* this 767 / 768 number is the cutoff in the main AppComponent for the sidebar */
    .daybook { 
        min-width: 468px;
        min-height: 624px;

        width: 468px;
        height: 624px;

        max-width: 468px;
        max-height: 624px;

        /* background-color: rgb(255, 196, 232); */
    }
}

@media (min-height: 730px) and (min-width: 806px) {
    .daybook { 
        min-width: 525px;
        min-height: 700px;

        width: 525px;
        height: 700px;

        max-width: 525px;
        max-height: 700px;

        /* background-color: rgb(255, 119, 142); */
    }
}

@media (min-height: 830px) and (min-width: 880px) {
    .daybook { 
        min-width: 600px;
        min-height: 800px;

        width: 600px;
        height: 800px;

        max-width: 600px;
        max-height: 800px;

        /* background-color: rgb(255, 64, 96); */
    }
}

@media (min-height: 930px) and (min-width: 970px) {

    .daybook {
        min-width: 675px;
        min-height: 900px;

        width: 675px;
        height: 900px;

        max-width: 675px;
        max-height: 900px;

        /* background-color: rgb(255, 0, 43); */

    }
}

