
/*
    z-indexes:

    
    .daybook-menu: 99;
    .calendar-inside: 11;
    .time-segment-form-container: 20;
    .now-time: 9;
    .time-segment-duration: 5;


*/



.root{
    width: 100%;
    height:100%;

    padding-top: 8px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-outside{
    margin-left:10px;
    display: none;
}

.daybook {
    display: grid;
    grid-template-columns: auto 40px;
    grid-template-rows: auto;
}

.daybook-tabs{
    grid-row: 1 / -1;
    grid-column: 2 / span 1;

    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 40px;
    
}

.daybook-tab{

    background-color: #fdfdfd;
    border: 1px solid gray;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
    display:flex;
    justify-content: center;
    align-items: center;
}

.tab-img{
    max-width:18px;
}


.daybook-body{

    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0px 5px 6px rgb(166, 195, 219);

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px auto;
}

.daybook-header{

    background-color: #fdfdfd;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.daybook-menu-button{
    font-size:1em;
    align-self: flex-start;
    vertical-align: top;
}
.daybook-menu{
    background-color: white;
    padding:3px;
    position:relative;
    border: 1px solid gray;
    width: 200px;
    z-index: 99;

}
.daybook-menu-item{
    width:100%;
}
.daybook-menu-item:hover{
    cursor: pointer;
    background-color: rgb(207, 207, 207);
}


.menu-button{
    border: 1px solid gray;
    border-radius: 2px;
}

.toggle-inside-calendar-button-container{
    display:flex;
    align-items: center;
    justify-content: center;


}

.toggle-inside-calendar-button{
    background-color: rgb(109, 184, 255);
    width:36px;
    height:36px;
    padding:3px;
    border: 1px solid rgb(0, 103, 199);
    border-radius:3px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
}
.toggle-inside-calendar-button:hover{
    cursor: pointer;
    background-color: rgb(0, 103, 199);
}
.calendar-inside{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    z-index: 11;

    margin-left: auto;
}

.time-segment-form-container{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;

    z-index: 20;

    background-color: white;
}



.daybook-view{
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;   
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }



@media (max-width: 767px){
    .root{
        padding-top: 0px;
    }
    .daybook { 
        min-width: 300px;
        min-height: 624px;

        width: 100%;
        height: 90vh;

        max-width: 468px;
        max-height: 624px;

        margin: 0px;

        grid-template-columns: auto;
        /* background-color: rgb(0, 255, 170); */
    }
    .daybook-tabs{
        display:none;
    }
    .daybook-body {
        /* grid-template-columns: 52px 10px auto; */
        padding: 1px;
    }
    .daybook-header-tab{
        font-size:0.65em;
    }
    .daybook-header-current-day{    
        font-size: 0.9em;
    }
    .hour-label{
        font-size:0.8em;
    }
    .now-time{
        font-size:0.7em;
        padding-left: 2px;
    }
}

@media  (min-width: 768px) {
    /* this 767 / 768 number is the cutoff in the main AppComponent for the sidebar */

    .daybook { 
        min-width: 468px;
        min-height: 624px;

        width: 468px;
        height: 624px;

        max-width: 468px;
        max-height: 624px;

        /* background-color: rgb(255, 196, 232); */
    }

}

@media (min-height: 730px) and (min-width: 806px) {

    .daybook { 
        min-width: 525px;
        min-height: 700px;

        width: 525px;
        height: 700px;

        max-width: 525px;
        max-height: 700px;

        /* background-color: rgb(255, 119, 142); */
    }
}

@media (min-height: 830px) and (min-width: 880px) {
    .daybook { 
        min-width: 600px;
        min-height: 800px;

        width: 600px;
        height: 800px;

        max-width: 600px;
        max-height: 800px;

        /* background-color: rgb(255, 64, 96); */
    }
}

@media (min-height: 930px) and (min-width: 970px) {

    .daybook {
        min-width: 675px;
        min-height: 900px;

        width: 675px;
        height: 900px;

        max-width: 675px;
        max-height: 900px;

        /* background-color: rgb(255, 0, 43); */

    }


}

@media (max-height: 729px) and (min-width: 1030px){
    .calendar-outside{
        display: grid;
    }
    .toggle-inside-calendar-button, .calendar-inside{
        display:none;
    }
}
@media (min-height: 730px) and (max-height: 829px) and (min-width: 1088px){
    .calendar-outside{
        display: grid;
    }
    .toggle-inside-calendar-button, .calendar-inside{
        display:none;
    }
}
@media (min-height: 830px) and (max-height: 929px) and (min-width: 1160px){
    .calendar-outside{
        display: grid;
    }
    .toggle-inside-calendar-button, .calendar-inside{
        display:none;
    }
}
@media (min-height: 930px) and (min-width: 1235px){
    .calendar-outside{
        display: grid;
    }
    .toggle-inside-calendar-button, .calendar-inside{
        display:none;
    }
}