<div class="root">

  <div class="daybook">
    <div class="daybook-header">Today's date.</div>
    <div class="daybook-body" [ngStyle]="daybookBodyStyle">
      <div class="margin-line"></div>
      <div *ngFor="let bookLine of bookLines" class="book-line" [ngStyle]="bookLine.style">

      </div>

      <div *ngFor="let hourLabel of hourLabels" class="hour-label" [ngStyle]="hourLabel.style">
        <div class="hour-label-offset">
          {{ hourLabel.time }}
        </div>
      </div>


      <div class="now-time-container" [ngStyle]="nowTimeContainerStyle">
        <div class="now-time">
          {{ nowTime.format('h:mm a') }}
        </div>
      </div>
      <div class="now-line-container" [ngStyle]="nowLineContainerStyle">
        <div class="now-line"> </div>
      </div>

      <div class="bed-time-container" [ngStyle]="bedTimeStyle">
        <div class="bed-time">
          {{ bedTimeString }}
        </div>
      </div>


    </div>
  </div>
</div>