.daybook-root{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 255, 0, 0.103);
}
.spinner-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:2em;
}
.daybook-header{
    font-size:1.4em;
}

.layout-grid{
    width:100%;
    height:100%;
    display:grid;
    grid-template-rows: auto;
    border:1px solid blue;
}
.layout-grid-large{
    max-width: 1000px;
    grid-template-columns: 75% 25%;
    background-color: rgba(0, 174, 255, 0.192);
}
.layout-grid-slim{
    max-width: 768px;
    grid-template-rows:auto;
    grid-template-columns: auto;
}
.layout-grid-primary{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background-color: rgba(0, 0, 255, 0.075);
}
.layout-grid-right{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background-color: rgba(255, 0, 0, 0.158);
}

.daybook-widget-container{
    margin:5px;
    border: 1px solid pink;
}