<div class="daybook-root">
  <div class="daybook-header font-family-lexend">
    {{ daybookHeader }}
  </div>

  <div class="layout-flex" *ngIf="daybookIsLoading">
    <div class="spinner-container">
      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
  </div>

  <div class="layout-flex" *ngIf="!daybookIsLoading">
    <div class="main-widget">
      <app-timelog-large *ngIf="timelogWidget.isExpanded" [activeDay]="activeDay"
        [ngStyle]="timelogWidget.ngStyle" [ngClass]="timelogWidget.ngClass"></app-timelog-large>
      <app-calendar-large *ngIf="calendarWidget.isExpanded" [activeDay]="activeDay"
        [ngStyle]="calendarWidget.ngStyle" [ngClass]="calendarWidget.ngClass"></app-calendar-large>
      <app-daily-task-list-large *ngIf="dailyTaskListWidget.isExpanded" [activeDay]="activeDay"
        [ngClass]="dailyTaskListWidget.ngStyle" [ngClass]="dailyTaskListWidget.ngClass"></app-daily-task-list-large>
    </div>
    <div class="sidebar" *ngIf="appScreenSize > 1">
      <app-calendar-small *ngIf="!calendarWidget.isExpanded" class="small-widget" [activeDay]="activeDay" (expand)="calendarWidget.onClickExpand()"></app-calendar-small>
      <app-daily-task-list-small *ngIf="!dailyTaskListWidget.isExpanded" class="small-widget" [activeDay]="activeDay" (expand)="dailyTaskListWidget.onClickExpand()"></app-daily-task-list-small>
      <app-timelog-small *ngIf="!timelogWidget.isExpanded" class="small-widget" [activeDay]="activeDay" (expand)="timelogWidget.onClickExpand()"></app-timelog-small>
    </div>




  </div>
</div>