.authentication-root{
    width: 100%;
    height: 100vh;
    min-height: 480px;
    min-width: 320px;
    /* background-color: rgb(253, 253, 253); */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.authentication-body{
    /* min-height: 600px; */
    /* padding: 25px; */
    /* min-width: 320px; */

    /* max-width: 600px; */
    width:100%;
    height:100%;
    border-radius: 25px;    /* border: 1px solid rgb(197, 197, 197); */
    text-align: center;
    /* border:1px solid rgba(255, 255, 255, 0); */

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.action-container{
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.transparent{
    background-color: rgba(255, 255, 255, 0);
}

.authentication-focused{
    /* border:1px solid rgb(0, 58, 134); */
    /* background-color: rgba(255, 255, 255, 0.2); */
    background: rgb(63,94,251);
    background: linear-gradient(135deg, rgba(63,94,251,0.1) 0%, rgba(118,70,252,0.1) 100%);
}


.title{
    font-size:1.8em;
    font-weight: 500;
    color: rgb(25, 72, 160);
    /* background-color: rgba(255, 255, 255, 0.3); */
    padding: 10px;
    border-radius: 3px;
}

.login-button{
    border: 1px solid rgba(43, 128, 207, 1);
    border: none;
    border-radius: 10px;
    margin:5px;
    background-color:rgba(43, 128, 207, 0.9);
    padding:5px;
    width:100px;
    color: black;
}
.register-button{
    border: 1px solid rgba(85, 165, 148, 1);
    border: none;
    border-radius: 10px;
    margin:5px;
    background-color:rgba(0, 189, 148, 0.9);
    padding:5px;
    width:100px;
    color: black;
}

.medium-button{
    border: 1px solid rgba(255, 255, 255, 0);
}
.medium-button:hover{
    border: 1px solid rgb(0, 89, 255);
}

.buttons-container{
    margin: 20px;
    margin-top: 50px;
    display:flex;
    flex-direction: row;
}
