<div class="authentication-root background-image font-family-ubuntu">

  <div class="authentication-body">

    <div class="title">
      balanceboard
    </div>


    <div *ngIf="actionIsInitial" class="buttons-container">
      <button class="medium-button login-button" (click)="this.action = 'LOGIN'">
        Login
        <fa-icon [icon]="faSignInAlt" style="font-size:0.7em;margin-left: 10px;"></fa-icon>
      </button>
      <button class="medium-button register-button" (click)="this.action = 'REGISTER'">
        Sign Up
        <fa-icon [icon]="faUserPlus" style="font-size:0.7em;margin-left: 10px;"></fa-icon>
      </button>
    </div>

    <app-login *ngIf="actionIsLogin"></app-login>
    <app-registration *ngIf="actionIsRegister"></app-registration>


  </div>