<div class="container p-5">
  <div class="row mt-5">
    <!-- <div class="col-md-3"></div> -->
    <div class="col "></div>
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">

        <div class="jumbotron  border border-secondary">
          <h4 class="text-center">Welcome to balanceboard</h4>
          <hr>
          <div *ngIf="action === 'initial'">
              <button class="btn btn-block btn-primary" (click)="onClickLogIn()">Log in</button>
              <button class="btn btn-block btn-secondary" (click)="onClickRegister()">Register</button>
          </div>
          <div *ngIf="action === 'waiting'">
              <div class="text-center">
                <h2 style="color:limegreen"><i class="fa fa-spinner fa-spin"></i></h2>
              </div>
  
          </div>
          <div *ngIf="action === 'authenticate'">
              <form [formGroup]="authenticationForm">
                  <div class="form-group my-1">
                    <input class="form-control" type="email" formControlName="email" placeholder="email">
                  </div>
                  <div class="form-group mb-1">
                    <input class="form-control" type="password" formControlName="password" placeholder="password">
                  </div>
                  <div *ngIf="errorMessage" class="error-message mb-3">
                    {{ errorMessage }}
                  </div>
                  <button class="btn btn-white border-primary" (click)="onContinueAuthentication()">Log In</button>
                  <button class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
                  
                </form>

          </div>
          <div *ngIf="action === 'final'">
              <h6 class="text-center">{{ actionMessage }}</h6>
              <button class="btn btn-success" (click)="onContinueAuthentication()">Continue</button>
          </div>
          <div *ngIf="action === 'register'">
              <form [formGroup]="registrationForm">
                  <div class="form-group my-1">
                    <input class="form-control" type="email" formControlName="email" placeholder="email">
                  </div>
                  <div class="form-group mb-1">
                    <input class="form-control" type="password" formControlName="password" placeholder="password">
                  </div>
                  <div *ngIf="errorMessage" class="error-message mb-3">
                    {{ errorMessage }}
                  </div>
                  <button class="btn btn-white border-primary" (click)="onContinueRegistration()">Continue</button>
                  <button class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
                  
                </form>
  
          </div>
          <div *ngIf="action === 'confirmRegistration'">
              <form [formGroup]="confirmRegistrationForm">
                  <div class="form-group mb-1">
                    <input class="form-control" type="password" formControlName="password" placeholder="confirm password">
                  </div>
                  <div *ngIf="errorMessage" class="error-message mb-3">
                      {{ errorMessage }}
                  </div>
                  <button class="btn btn-success" (click)="onSubmitRegistration()">Register</button>
                  <button class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
                  
                </form>
  
          </div>
        </div>
    </div>
    <div class="col "></div>
  </div>
</div>