<div class="set-wakeup-time-root">

    <div>
        What time did you wake up this morning?
    </div>

    <div style="display:flex;flex-direction: row; justify-content: space-between; align-items: flex-end;">
        <app-time-input [timeValue]="time" (timeChanged)="onTimeChanged($event)" [minValue]="minVal"
            [maxValue]="maxVal">
        </app-time-input>
        <div>
            <button class="medium-button" (click)="onClickSave()">Save </button>
        </div>
        

    </div>



</div>