.timelog-entry-root{

    width:100%;
    height:100%;

    border-radius: 3px;

    /* border: 1px solid rgb(228, 228, 228); */
    /* margin-bottom:1px;
    margin-top:1px; */

    display:flex;
    flex-direction: column;
}
.timelog-entry-root:hover{
    border: 1px solid rgba(0, 89, 255, 0.2);
    background-color: rgba(0, 94, 255, 0.8);
}