<div class="timelog-entry-root" id="timelog-entry-root" (mouseenter)="onMouseEnter($event)"
    (mouseleave)="entry.itemState.onMouseLeave()">

    <div style="width:100%;display:flex;flex-direction: row-reverse; font-size: 1.2em;" *ngIf="showNewTimelogEntryButton">
        <fa-icon [icon]="faPlusCircle" class="new-item-icon" style="margin-right:10px;" (click)="onClickNewTimelogEntry()"></fa-icon>
    </div>
    <div *ngIf="entry.isSavedEntry" style="flex-grow:2; width:100%;" class="lime" [ngClass]="{'red': entry.isSmallSize}">

    </div>
    <!-- <app-timelog-entry-display [entry]="entry" style="flex-grow: 2;"></app-timelog-entry-display> -->
    <!-- <div *ngIf="mouseIsOver && (elementHeight > 0 && elementHeight < 50)" style="width:100%; height: 100%;display:flex;flex-direction: row; align-items: center;">
        <app-timelog-entry-display [entry]="entry" style="margin-left: 25px;flex-grow: 2;"></app-timelog-entry-display>
        
    </div> -->
</div>