<div class="row-root" [ngStyle]="row.gridStyle"
    [ngClass]="{'row-is-available': row.isAvailable, 'row-is-drawing':row.isDrawing , 'row-is-active-section': row.isActiveSection}">
    <div class="delineator-container" *ngIf="row.hasMarkedDelineator && !row.isEditing">
        <div class="timelog-delineator not-drawing" *ngIf="row.existingNotDrawing">
            {{ row.markedTime }}
        </div>
        <div class="timelog-delineator drawing" *ngIf="row.drawingOverExisting">
            {{ row.markedTime }}
        </div>
    </div>
    <div class="delineator-container" *ngIf="row.hasMarkedDelineator && row.isEditing">
        <div class="edit-delineator" *ngIf="row.markedDelineator && row.isEditing">
            <div class="edit-time-container">
                <app-time-input [timeValue]="row.markedDelineator.time" [minValue]="row.earliestAvailability"
                    [incrementMinutes]="1" [maxValue]="row.latestAvailability" [showDate]="false" [minimal]="true"
                    class="edit-time" (timeChanged)="onEditTimeChanged($event)">
                </app-time-input>
                <fa-icon [icon]="faCheck" class="save-edit-time" (click)="onClickSaveEdit()"></fa-icon>
                <fa-icon [icon]="faTrash" class="delete-time" (click)="onClickDelete()"></fa-icon>
            </div>
        </div>
    </div>
    <div class="delineator-container" *ngIf="!row.markedDelineator && !row.isEditing"></div>
</div>