.row-root{
    height: 100%;
    width:100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0);
}
.row-is-available{
    z-index: 1;
}
.row-is-available:hover{
    border-top: 1px solid rgba(0, 89, 255, 0.5);
}
.row-is-active-section{
    background-color: rgba(0, 89, 255, 0.1);
    z-index: 10;
}
.row-is-drawing{
    border-top: 1px solid blue;
}


/* 
    timelog-body.component.css grid: 

    grid-template-columns: 20px 70px 1fr;
    column is therefore 70px;

    width of delineator container and margin-left much therefore reconcile to 70.
*/
.delineator-container{
    height: 1px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width:100%;

    width: 100px;
    margin-left: -30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}
.timelog-delineator{
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(96, 145, 179, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    position:relative;
    z-index:0;

    padding:2px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;
}
.timelog-delineator:hover{
    background-color: rgb(251, 254, 255);
}

.drawing-delineator{
    color: rgba(0, 89, 255, 1);
}
.not-drawing-delineator:hover{
    border: 1px solid rgb(0, 89, 255);
    cursor: pointer;
} 


.delineator-day-structure{
    color: rgb(196, 196, 196);
    font-style: italic;
    background-color: rgba(255, 255, 255, 0);
}
.delineator-day-structure:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: grab;
}
.delineator-timelog-entry{
    color: grey;
}
.delineator-fall-asleep{
    color: navy;
}
.delineator-wake-up{
    color: orange;
}
.delineator-now{
    color: rgba(255, 0, 0, 0.5);
}
.delineator-now:hover{
    cursor: pointer;
    background-color: rgb(255, 251, 251);
    border:1px solid rgba(255, 0, 0, 0.5);
}
.delineator-saved{
    color: rgb(138, 165, 198)
}







.edit-delineator{
    cursor: default;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(236, 243, 255, 0.96);
    border: 1px solid rgb(114, 114, 161);

    position: absolute;
    z-index: 15;
}
.edit-time-container{
    display:flex;
    flex-direction: row;
    
}
.save-edit-time{
    color: rgba(0, 255, 0, 0.404);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 5px;
}
.save-edit-time:hover{
    color: rgb(17, 202, 17);
    cursor: pointer;
}
.delete-time{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.425);
    margin-left: 5px;
    margin-right: 5px;
}
.delete-time:hover{
    color: red;
}