.row-root{
    height: 100%;
    width:100%;

    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    background-color: none;
}

.row-body{
    height: 1px;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    background-color: none;
}

.row-is-available{
    background-color: red;
}
.row-is-active{
    background-color: blue;
}

.draw-time-delineator-container{
    width:100%; 
    height: 1px; 
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.timelog-delineator{

    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(0, 116, 194, 0.178);


    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    padding:2px;
    border-radius: 3px;
    font-size: 0.8em;
    font-weight: bold;
    height: 20px;

    position: relative;
    z-index: 1;


}

.draw-time-delineator{
    color: rgba(0, 89, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 1.0em;
    font-weight: bold;
    height: 20px;

    /* position: relative;
    z-index: 2; */
}


.timelog-delineator:hover{
    /* background-color: rgb(137, 196, 255); */
    /* z-index: 11; */
}

.timelog-delineator-now{
    z-index: 9;
    font-size: 0.8em;
    color: rgba(255, 0, 0, 0.5);
}
.timelog-delineator-now:hover{
    z-index: 9;
    cursor: pointer;
    background-color: rgb(255, 251, 251);
    border:1px solid rgba(255, 0, 0, 0.5);
}

.push-backwards{
    position:relative;
    z-index: 1;

    background-color: black;
}
.is-drawing{
    color: rgba(0, 89, 255, 1);
}

.edit-delineator{
    cursor: default;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    padding: 30px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: rgba(236, 243, 255, 0.96);
    border: 1px solid rgb(114, 114, 161);

    position: relative;
    z-index: 15;
}


.sleep-delineator{
    color: orange;
    cursor: pointer;
}
.sleep-delineator:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid orange;
}

.saved-delineator{
    color: navy;
    cursor: pointer;
}
.saved-delineator:hover{
    background-color: rgb(255, 255, 255);
    border: 1px solid navy;
}


.edit-time-container{
    display:flex;
    flex-direction: row;
    
}
.save-edit-time{
    color: rgba(0, 255, 0, 0.404);
    cursor: pointer;
    margin-left: 15px;
    margin-right: 5px;
}
.save-edit-time:hover{
    color: rgb(17, 202, 17);
    cursor: pointer;
}
.delete-time{
    cursor: pointer;
    color: rgba(255, 0, 0, 0.425);
    margin-left: 5px;
    margin-right: 5px;
}
.delete-time:hover{
    color: red;
}