<div class="day-templates-root">
  <div class="header">
    Scheduling / Day Templates
  </div>
  <div class="intro">
    By establishing your rotation here, you are simply designating all time into one of three classifications: <br>
    <ul>
      <li>Time for sleeping</li>
      <li>Time for doing non-discretionary activities, such as school or work</li>
      <li>Time for doing discretionary activities</li>
    </ul>
    Where, in this context, discretionary means "free time" to do whatever you please, and non-discretionary
    activities which, on a day-to-day basis, within the context of an established rotation, you don't have very much
    choice in how they are layed out.
  </div>


  <div class="templates">
    <div style="width:100%;text-align:center;">Templates</div>
    <div class="templates-container">

      <app-day-template-widget *ngFor="let template of dayTemplates" [template]="template"></app-day-template-widget>

    </div>

  </div>



</div>