<div class="root">
  <div class="form-component">
    <div class="form-header">
      {{ headerAction }}
    </div>
    <div [formGroup]="activityForm" class="activity-form">
      <div class="form-row">
        <div class="form-row-label">Name</div>
        <input class="form-control form-row-input" type="text" placeholder="Name" formControlName="name">

      </div>
      <div class="form-row">
        <div class="form-row-label">Description</div>
        <input class="form-control form-row-input" type="text" placeholder="Description" formControlName="description">

      </div>
      <div class="form-row">

        <div class="form-row-label">Parent Activity</div>
        <div class="form-row-input" (click)="this.ifTopLevelActivity = true" style="cursor: pointer;">
          <fa-icon [icon]="faCircle" *ngIf="!ifTopLevelActivity"></fa-icon>
          <fa-icon [icon]="faCheckCircle" style="color:green" *ngIf="ifTopLevelActivity"></fa-icon>
          Top-Level Activity
        </div>
        <div class="form-row-input" (click)="this.ifTopLevelActivity = false" style="cursor: pointer;">
          <fa-icon [icon]="faCircle" *ngIf="ifTopLevelActivity"></fa-icon>
          <fa-icon [icon]="faCheckCircle" style="color:green" *ngIf="!ifTopLevelActivity"></fa-icon>
          Sub-Activity of:
        </div>
        <div *ngIf="!ifTopLevelActivity" class="form-row-input">
          <app-activity-input-dropdown (valueChanged)="onActivityInputDropdownValueChanged($event)"></app-activity-input-dropdown>
        </div>
        <!-- <input class="form-row-input"  class="form-control form-row-input" type="hidden" placeholder="Parent" formControlName="parent">  -->
        
      </div>
      <div class="form-row">
        <div class="form-row-label">Color</div>
        <input class="form-control form-row-input" type="text" placeholder="Color" formControlName="color">
      </div>

    </div>

    <div class="action-buttons">
      <button class="btn btn-primary btn-sm m-1" (click)="onClickSaveActivity()">Save Activity</button>
      <button class="btn btn-secondary btn-sm m-1" (click)="onClickCancel()">Cancel</button>
    </div>

  </div>
</div>